<p-breadcrumb class="dark-blue-bg" [model]="items" [home]="home"></p-breadcrumb>
<p-toast></p-toast>
<br>
<div class="grid">
    <div class="col-12">
        <div class="card">
            <p-table #dt [value]="documents" [columns]="cols" responsiveLayout="scroll" [rows]="10"
                [globalFilterFields]="['name','country.name','representative.name','status']" [rows]="10"
                [paginator]="true" [rowsPerPageOptions]="[5,10,20,30]" [showCurrentPageReport]="true"
                currentPageReportTemplate=" {totalRecords} lignes " [rowHover]="true"
                dataKey="id">
                <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center tab">
                        <h4 class="title" style="color: #203359; position: relative; right: -400px;">Convention de
                            cession : Liste des demandes de cession</h4>
                        <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
                                placeholder="Rechercher..." />
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th pSortableColumn="ninea" style="color: #203359;">NINEA <p-sortIcon field="ninea">
                            </p-sortIcon>
                        </th>
                        <th pSortableColumn="datesoumission" style="color: #203359;">Raison sociale <p-sortIcon
                                field="datesoumission"></p-sortIcon>
                        </th>
                        <th pSortableColumn="rccm" style="color: #203359;">Reference du BE<p-sortIcon field="rccm">
                            </p-sortIcon>
                        </th>
                        <th pSortableColumn="rccm" style="color: #203359;">Reference demande<p-sortIcon field="rccm">
                            </p-sortIcon>
                        </th>
                        <th pSortableColumn="rccm" style="color: #203359;">Statut<p-sortIcon field="rccm"></p-sortIcon>
                        </th>
                        <th style="color: #203359;">Actions</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-document>
                    <tr *ngIf="!((profil === 'DG') && ((document.statut === 'Non Risquee') || (document.statut === 'Convention générée'))) && !((profil === 'pme') && (document.statut === 'Non Risquee'))">
                        <td style="width:16%; min-width:10rem;">
                            <span class="p-column-title">NINEA</span>
                            {{document.ninea}}
                        </td>
                        <td style="width:16%; min-width:8rem;">
                            <span class="p-column-title">RCCM</span>
                            {{document.raisonSocial}}
                        </td>
                        <td style="width:16%;">
                            <span class="p-column-title">Date Soumission</span>
                            {{document.refBE}}
                        </td>
                        <td style="width:20%;">
                            <span class="p-column-title">Date Soumission</span>
                            {{document.refDemande}}
                        </td>
                        <td style="width:23%;">
                            <span class="p-column-title">Date Soumission</span>
                            {{document.statut}}
                        </td>
                        <td>
                            <div class="flex">
                                <button pButton pRipple icon="pi pi-search"
                                    class="p-button-rounded p-button-text mr-2 button"
                                    pTooltip="Consulter la convention"
                                    *ngIf="document.statut === 'Convention générée' || document.statut === 'Convention enregistrée' || document.statut === 'Convention signée par la PME' || document.statut === 'Convention signée par la DG' || document.statut === 'Convention rejetée' "
                                    (click)="visualiserDocument(document)"></button>
                                <button pButton pRipple icon="pi pi-upload"
                                    class="p-button-rounded p-button-text mr-2 button" pTooltip="Charger un document"
                                    *ngIf="((document.statut === 'Convention signée par la DG') && (profil === 'comptable')) "
                                    (click)="ChargerConvention(convention)"></button>
                                <button pButton pRipple icon="pi pi-file-excel"
                                    class="p-button-rounded p-button-text mr-2 button" pTooltip="Editer la convention"
                                    *ngIf="((document.statut === 'Convention rejetée') && (profil === 'comptable')) "
                                    (click)="EditerConvention(convention)"></button>
                                <button pButton pRipple icon="pi pi-file"
                                    class="p-button-rounded p-button-text mr-2 button" pTooltip="Editer la convention"
                                    *ngIf="document.statut === 'Non Risquee' "
                                    (click)="EditConvention(convention)"></button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>


    </div>

</div>

<p-dialog header="" [(visible)]="demandeDialog" [modal]="true" [style]="{width: '50vw'}" [baseZIndex]="10000"
    [draggable]="false" [resizable]="false">
    <ng-template pTemplate="header" class="row justify-content-center">
        <div class="col-8 mx-auto px-auto" style="background-color:white ;">
            <div id="steps">
                <p-toast></p-toast>
                <p-steps style=" border-bottom:4px  #003399 solid ; border-radius:0 ; " [model]="items"
                    [readonly]="true" styleClass="steps-custom"></p-steps>
            </div>
        </div>
    </ng-template>
    <div>
        <router-outlet></router-outlet>
    </div>
</p-dialog>