
<div class="grid">
    <div class="col-12">
        <div class="d-flex justify-content-center col-12">
            <div class="col-12 md:col-10 modalTitle  ">
                <h3 class="title">Convention de cession : Liste des demandes</h3>
            </div>
        </div>
        <br>
        <div class="card">
            <p-table #dt [value]="demandes" [columns]="cols" responsiveLayout="scroll" [rows]="5"
                [globalFilterFields]="['name','country.name','representative.name','status']" [rows]="5"
                [paginator]="true" [rowsPerPageOptions]="[5,10,20,30]" [showCurrentPageReport]="true"
                currentPageReportTemplate=" {totalRecords} lignes " [rowHover]="true" dataKey="id">
                <ng-template pTemplate="header">
                    <tr>
                        <th>
                            <p-columnFilter type="text" field="nomMarche" placeholder="Nom Marché"></p-columnFilter>
                        </th>
                        <th>
                            <p-columnFilter type="text" field="raisonSocial" placeholder="Raison Sociale">
                            </p-columnFilter>
                        </th>
                        <th>
                            <p-columnFilter type="text" field="refBE" placeholder="Référence du BE"></p-columnFilter>
                        </th>
                        <th>
                            <p-columnFilter type="text" field="refDemande" placeholder="Référence demande">
                            </p-columnFilter>
                        </th>
                        <th>
                            <p-columnFilter field="statut" matchMode="equals" [showMenu]="false">
                                <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                    <p-dropdown [ngModel]="value" [options]="statuts" (onChange)="filter($event.value)" placeholder="Statuts" [showClear]="true">
                                        <ng-template let-option pTemplate="item">
                                            <span [class]="'product-badge status-' + (option.value ? option.value.toLowerCase() : '')">{{option.label}}</span>
                                        </ng-template>
                                    </p-dropdown>
                                </ng-template>
                            </p-columnFilter>
                        </th>
                        <th>
                            <button pButton pRipple icon="pi pi-search" class="p-button-rounded mr-2 button"
                                style="background-color: #203359;" label="Rechercher"
                                (click)="dt.filter(ninea,raisonSocial,nomMarche,statut,refBE)"></button>
                        </th>
                    </tr>
                    <tr>
                        <th pSortableColumn="nomMarche" style="color: #203359;">Nom Marché <p-sortIcon
                                field="nomMarche">
                            </p-sortIcon>
                        </th>
                        <th pSortableColumn="datesoumission" style="color: #203359;">Raison sociale <p-sortIcon
                                field="datesoumission"></p-sortIcon>
                        </th>
                        <th pSortableColumn="rccm" style="color: #203359;">Référence du BE<p-sortIcon field="rccm">
                            </p-sortIcon>
                        </th>
                        <th pSortableColumn="rccm" style="color: #203359;">Référence demande<p-sortIcon field="rccm">
                            </p-sortIcon>
                        </th>
                        <th pSortableColumn="rccm" style="color: #203359;">Statut<p-sortIcon field="rccm"></p-sortIcon>
                        </th>
                        <th style="color: #203359;">Actions</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-demande>
                    <tr
                        *ngIf="!((profil === 'DG') && ((demande.statut.libelle === 'Non-Risquee') || (demande.statut.libelle === 'Convention-générée'))) && !((profil === 'pme') && (demande.statut.libelle === 'Non-Risquee'))">
                        <td style="width:20%; min-width:10rem;">
                            <span class="p-column-title">Nom Marché</span>
                            {{demande.bonEngagement.nomMarche}}
                        </td>
                        <td style="width:18%; min-width:8rem;">
                            <span class="p-column-title">raison Sociale</span>
                            {{demande.pme.raisonSocial}}
                        </td>
                        <td style="width:18%;">
                            <span class="p-column-title">Référence BE</span>
                            {{demande.bonEngagement.reference}}
                        </td>
                        <td style="width:18%;">
                            <span class="p-column-title">Date Soumission</span>
                            {{demande.dateDemandeCession | date:'dd/MM/yyyy'}}
                        </td>
                        <td style="width:25%;">
                            <span
                                [class]="'product-badge status-' + (demande.statut.libelle ? demande.statut.libelle.toLowerCase() : '')">{{demande.statut.libelle.replaceAll('_',
                                ' ')}}</span>
                        </td>
                        <td>
                            <div class="flex">
                                <button pButton pRipple icon="pi pi-search" class="p-button-rounded simpleButton"
                                    pTooltip="Consulter la convention"
                                    *ngIf="demande.statut.libelle === 'CONVENTION_ENREGISTREE' ||demande.statut.libelle === 'CONVENTION_ACCEPTEE' || (demande.statut.libelle === 'CONVENTION_SIGNEE_PAR_PME' && (profil === 'PME'|| profil === 'JURISTE') ) || demande.statut.libelle === 'CONVENTION_SIGNEE_PAR_DG' || demande.statut.libelle === 'CONVENTION_REJETEE' || (demande.statut.libelle === 'CONVENTION_GENEREE' && profil=== 'JURISTE') || (demande.statut.libelle === 'CONVENTION_CORRIGEE' && profil=== 'JURISTE') "
                                    (click)="visualiserDocument(documentConvention)"></button>
                                <button pButton pRipple icon="pi pi-key" class="p-button-rounded successButton"
                                    pTooltip="Signer la convention"
                                    *ngIf="((demande.statut.libelle === 'CONVENTION_GENEREE') &&( profil=== 'pme')) || ((demande.statut.libelle=== 'CONVENTION_SIGNEE_PAR_PME') && (profil ==='DG') )"
                                    (click)="visualiserDocument(demande.conventions[0].documents[0],demande)"></button>
                                    <button pButton pRipple icon="pi pi-cloud-download" class="p-button-rounded successButton"
                                    pTooltip="Corriger la convention"
                                    *ngIf="((demande.statut.libelle === 'CONVENTION_REJETEE_PAR_PME') &&( profil=== 'JURISTE')) || ((demande.statut.libelle=== 'CONVENTION_REJETEE_PAR_DG') && (profil ==='JURISTE') )"
                                    (click)="visualiserDocument(demande.conventions[0].documents[0],demande)"></button>
                                <button pButton pRipple icon="pi pi-upload" class="p-button-rounded simpleButton"
                                    pTooltip="Charger la convention enregistrée"
                                    *ngIf="((demande.statut.libelle === 'CONVENTION_SIGNEE_PAR_DG') && (profil === 'JURISTE')) "
                                    (click)="ChargerConvention(convention,demande)"></button>
                                    <button pButton pRipple icon="pi pi-upload" class="p-button-rounded simpleButton"
                                    pTooltip="Charger le bordereau"
                                    *ngIf="((demande.statut.libelle === 'CONVENTION_TRANSMISE') && (profil === 'JURISTE')) "
                                    (click)="ChargerConvention(convention)"></button>
                                <button pButton pRipple icon="pi pi-file-excel" class="p-button-rounded simpleButton"
                                    pTooltip="Editer la convention"
                                    *ngIf="((demande.statut.libelle === 'CONVENTION_REJETEE') && (profil === 'JURISTE')) "
                                    (click)="EditerConvention(convention)"></button>
                                <button pButton pRipple icon="pi pi-file" class="p-button-rounded simpleButton successButton"
                                    pTooltip="Générer la convention" *ngIf="demande.statut.libelle === 'NON_RISQUEE' "
                                    (click)="EditConvention(convention,demande)"></button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>

<p-dialog header="" [(visible)]="demandeDialog" [modal]="true" [style]="{width: '50vw'}" [baseZIndex]="10000"
    [draggable]="false" [resizable]="false">
    <ng-template pTemplate="header" class="row justify-content-center">
        <div class="col-8 mx-auto px-auto" style="background-color:white ;">
            <div id="steps">
                <p-toast></p-toast>
                <p-steps style=" border-bottom:4px  #003399 solid ; border-radius:0 ; " [model]="items"
                    [readonly]="true" styleClass="steps-custom"></p-steps>
            </div>
        </div>
    </ng-template>
    <div>
        <router-outlet></router-outlet>
    </div>
</p-dialog>