


<div class="col-7 ml-auto">

    <div class="mt-8 p-fluid">
        <form formGroup="verificationForm" (ngSubmit)="onSubmit()">

            <div class="field grid">
                <div class="field grid">
                    <label htmlFor="ninea" class="col-12 mb-2 md:col-2 md:mb-0">NINEA</label>
                    <div class="col-12 md:col-8 ml-4">
                        <label>{{product.name}}</label>
                </div>
                </div>
                <div class="field grid ml-auto">
                    <label htmlFor="rccm" class="col-12 mb-2 md:col-2 md:mb-0">RCCM</label>
                    <div class="col-12 md:col-8 ml-4">
                        <label>{{product.category}}</label>
                    </div>
                </div>

                <div class="field grid flex">

                    <label htmlFor="rccm" class="col-12 mb-4 md:col-4 md:mb-1">Ninea existant</label>
                    <div class="col-12 md:col-4">
                        <div class="field-radiobutton">
                            <input type="checkbox" formControlName="nineaValide" value="true"  id="oui" icon="pi pi-check-circle"  styleClass="p-button-success mr-2 mb-2" (click)="nineaValide()">
                            <label for="city1">Oui</label>
                        </div>
                    </div>
                    <div class="col-12 md:col-4 ">
                        <div class="field-radiobutton">
                            <input type="checkbox" formControlName="nineaNonValide" value="false"  id="non" icon="pi pi-ban"  styleClass="p-button-danger mr-2 mb-2">
                            <label for="city1">Non</label>
                        </div>
                    </div>
                </div>

                <div id="actif" class="field grid" style="display:none;">
                
                    <label htmlFor="rccm" class="col-12 mb-4 md:col-4 md:mb-0">PME actif</label>
                    <div class="col-12 md:col-4 ml-auto">
                        <div class="field-radiobutton">
                            <input type="checkbox" formControlName="pmeActif" value="true"  id="oui" icon="pi pi-check-circle"  styleClass="p-button-success mr-2 mb-2">
                            <label for="city1">Oui</label>
                        </div>
                    </div>
                    <div class="col-12 md:col-4 ml-auto">
                        <div class="field-radiobutton">
                            <input type="checkbox" formControlName="pmeActif" value="false"  id="non" icon="pi pi-check-circle"  styleClass="p-button-success mr-2 mb-2" >
                            <label for="city1">Oui</label>
                        </div>                
                    </div>
                    <div class="col-12 md:col-4 ">
                        <button pButton pRipple label="Submit" icon="pi " iconPos="right" class="mr-2 mb-2"></button>
                    </div>

                </div>

                
                
            </div>

        </form>
    </div>

</div>