
<div  class="layout-wrapper py-0 my-0" (click)="onLayoutClick()"
[ngClass]="{'layout-horizontal': app.horizontalMenu,
           'layout-wrapper-static': staticMenuActive,
           'layout-rightpanel-active': rightPanelActive,
           'layout-topbar-mobile-active': topbarMobileMenuActive,
           'layout-megamenu-mobile-active': megaMenuMobileActive,
           'layout-sidebar-mobile-active': menuMobileActive,
           'p-input-filled': app.inputStyle === 'filled',
           'p-ripple-disabled': !app.ripple}" [class]="app.menuColor">


<div class="layout-sidebar dark-blue-bg py-0 my-0" [ngClass]="{'layout-sidebar-active': sidebarActive}" (click)="onSidebarClick($event)"
     (mouseover)="sidebarActive=true" (mouseleave)="sidebarActive=false">
    <div class="sidebar-logo">
        <a href="#" class="sidebar-pin" title="Toggle Menu" (click)="onToggleMenuClick($event)">
            <i class="pi pi-lock" *ngIf="staticMenuActive"></i>
            <i class="pi pi-lock-open" *ngIf="!staticMenuActive"></i>
        </a>
        <a routerLink="/">
            <i class="pi pi-bars"></i>
            <span class="app-name">CDMP</span>
        </a>
    </div>

    <div class="layout-menu-container"  (click)="onMenuClick()">
        <ul class="layout-menu">
          <div class="p-4 pt-5">
                    
            <div>
                <br>
                <br>
            </div>
  <h1>Wootoo</h1>
        <div>
            <br>
            <br>
        </div>
  <ul class="list-unstyled components mb-5">
        <div class="tableau_bord" *ngIf="sidebarActive" >
        <li>
            <h3>Tableau de bord</h3>
        </li>
        
    </div>
    <div>
        <br>
        <br>
    </div>
    <li class="active">
      <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Demandes</a>
      <ul class="collapse list-unstyled" id="homeSubmenu">
        <li>
            <a  [routerLink]="['../pme/new_demande']">Nouvelle demande</a>
        </li>
        <li>
            <a [routerLink]="['../pme/demandes_en_cours']">Demandes en cours</a>
        </li>
       
      </ul>
    </li>
    <li>
        <a href="#">Suivi des paiements</a>
    </li>
   
  </ul>

  <div class="footer">
    
  </div>

</div>
        </ul>
    </div>
</div>


<div class="layout-main py-0 my-0" >
  <div class="layout-topbar">
    <div class="layout-topbar-wrapper">
              <div class="layout-topbar-left">
        <div class="layout-topbar-logo-wrapper">
          <a href="#" class="layout-topbar-logo">
            <img src="assets/layout/images/logo-mirage@2x.png" alt="mirage-layout" />
            <span class="app-name">Mirage</span>
          </a>
        </div>
  
        <a href="#" class="sidebar-menu-button" (click)="onMenuButtonClick($event)">
          <i class="pi pi-bars"></i>
        </a>
  
        <a href="#" class="megamenu-mobile-button" >
          <i class="pi pi-align-right megamenu-icon"></i>
        </a>
  
        <a href="#" class="topbar-menu-mobile-button" (click)="onTopbarMobileMenuButtonClick($event)">
          <i class="pi pi-ellipsis-v"></i>
        </a>
  
        <div class="layout-megamenu-wrapper">
          <a class="layout-megamenu-button" href="#">
            <img class="logo-menu" src="../../../assets/layout/images/logo-cdmp.svg" alt="mirage-layout" />

          </a>
         
        </div>
              </div>
              <div class="layout-topbar-right fadeInDown">
        <ul class="layout-topbar-actions">
          <li #search class="search-item topbar-item" [ngClass]="{'active-topmenuitem': activeTopbarItem === search}">
            <a href="#" class="topbar-search-mobile-button" (click)="onTopbarItemClick($event,search)">
              <i class="topbar-icon pi pi-search"></i>
            </a>
            <ul class="search-item-submenu fadeInDown" (click)="topbarItemClick = true">
              <li>
                                  <span class="md-inputfield search-input-wrapper">
                                      <input pInputText placeholder="Rechercher..."/>
                                      <i class="pi pi-search"></i>
                                  </span>
                              </li>
                          </ul>
                      </li>
          <li #calendar class="topbar-item" [ngClass]="{'active-topmenuitem': activeTopbarItem === calendar}">
            <a href="#" (click)="onTopbarItemClick($event,calendar)">
              <i class="topbar-icon pi pi-calendar"></i>
            </a>
            <ul class="fadeInDown" (click)="topbarItemClick = true">
              <li class="layout-submenu-header">
                <h1>Calendar</h1>
              </li>
              <li class="calendar">
                                  <p-calendar [inline]="true"></p-calendar>
              </li>
            </ul>
          </li>
  
          <li #message class="topbar-item" [ngClass]="{'active-topmenuitem': activeTopbarItem === message}">
            <a href="#" (click)="onTopbarItemClick($event,message)">
              <i class="topbar-icon pi pi-inbox"></i>
            </a>
            <ul class="fadeInDown">
              <li class="layout-submenu-header">
                <h1>Messages</h1>
                <span>Today, you have new 4 messages</span>
              </li>
              <li class="layout-submenu-item">
                <img src="assets/layout/images/topbar/avatar-cayla.png" alt="mirage-layout" width="35" />
                <div class="menu-text">
                  <p>Override the digital divide</p>
                  <span>Cayla Brister</span>
                </div>
                <i class="pi pi-angle-right"></i>
              </li>
              <li class="layout-submenu-item">
                <img src="assets/layout/images/topbar/avatar-gabie.png" alt="mirage-layout" width="35" />
                <div class="menu-text">
                  <p>Nanotechnology immersion</p>
                  <span>Gabie Sheber</span>
                </div>
                <i class="pi pi-angle-right"></i>
              </li>
              <li class="layout-submenu-item">
                <img src="assets/layout/images/topbar/avatar-gaspar.png" alt="mirage-layout" width="35" />
                <div class="menu-text">
                  <p>User generated content</p>
                  <span>Gaspar Antunes</span>
                </div>
                <i class="pi pi-angle-right"></i>
              </li>
              <li class="layout-submenu-item">
                <img src="assets/layout/images/topbar/avatar-tatiana.png" alt="mirage-layout" width="35" />
                <div class="menu-text">
                  <p>The holistic world view</p>
                  <span>Tatiana Gagelman</span>
                </div>
                <i class="pi pi-angle-right"></i>
              </li>
            </ul>
          </li>
  
          <li #gift class="topbar-item" [ngClass]="{'active-topmenuitem': activeTopbarItem === gift}">
            <a href="#" (click)="onTopbarItemClick($event,gift)">
              <i class="topbar-icon pi pi-envelope"></i>
            </a>
            
          </li>
  
          <li #profile class="topbar-item profile-item" [ngClass]="{'active-topmenuitem': activeTopbarItem === profile}">
            <a href="#" (click)="onTopbarItemClick($event,profile)">
                          <span class="profile-image-wrapper">
                              <img src="assets/layout/images/topbar/avatar-eklund.png" alt="mirage-layout" />
                          </span>
              <span class="profile-info-wrapper">
                              <h3>Olivia Eklund</h3>
                              <span>Design</span>
                          </span>
            </a>
            <ul class="profile-item-submenu fadeInDown">
              <li class="profile-submenu-header">
                <div class="performance">
                  <span>Weekly Performance</span>
                  <img src="assets/layout/images/topbar/asset-bars.svg" alt="mirage-layout" />
                </div>
                <div class="profile">
                  <img src="assets/layout/images/topbar/avatar-eklund.png" alt="mirage-layout"
                          width="40" />
                  <h1>Olivia Eklund</h1>
                  <span>Design</span>
                </div>
              </li>
              <li class="layout-submenu-item">
                <i class="pi pi-list icon icon-1"></i>
                <div class="menu-text">
                  <p>Tasks</p>
                  <span>3 open issues</span>
                </div>
                <i class="pi pi-angle-right"></i>
              </li>
              <li class="layout-submenu-item">
                <i class="pi pi-shopping-cart icon icon-2"></i>
                <div class="menu-text">
                  <p>Payments</p>
                  <span>24 new</span>
                </div>
                <i class="pi pi-angle-right"></i>
              </li>
              <li class="layout-submenu-item">
                <i class="pi pi-users icon icon-3"></i>
                <div class="menu-text">
                  <p>Clients</p>
                  <span>+80%</span>
                </div>
                <i class="pi pi-angle-right"></i>
              </li>
              <li class="layout-submenu-footer">
                <button class="signout-button">Sign Out</button>
                <button class="buy-mirage-button">Buy Mirage</button>
              </li>
            </ul>
          </li>
          <li>
            <a href="#" class="layout-rightpanel-button" (click)="onRightPanelButtonClick($event)">
              <i class="pi pi-arrow-left"></i>
            </a>
          </li>
                  </ul>
  
        <ul class="profile-mobile-wrapper">
          <li #mobileProfile class="topbar-item profile-item" [ngClass]="{'active-topmenuitem': activeTopbarItem === mobileProfile}">
            <a href="#" (click)="onTopbarItemClick($event,mobileProfile)">
                          <span class="profile-image-wrapper">
                              <img src="assets/layout/images/topbar/avatar-eklund.png" alt="mirage-layout" />
                          </span>
              <span class="profile-info-wrapper">
                              <h3>Olivia Eklund</h3>
                              <span>Design</span>
                          </span>
            </a>
            <ul class="fadeInDown">
              <li class="profile-submenu-header">
                <div class="performance">
                  <span>Weekly Performance</span>
                  <img src="assets/layout/images/topbar/asset-bars.svg" alt="mirage-layout" />
                </div>
                <div class="profile">
                  <img src="assets/layout/images/topbar/avatar-eklund.png" alt="mirage-layout" width="45" />
                  <h1>Olivia Eklund</h1>
                  <span>Design</span>
                </div>
              </li>
              <li>
                <i class="pi pi-list icon icon-1"></i>
                <div class="menu-text">
                  <p>Tasks</p>
                  <span>3 open issues</span>
                </div>
                <i class="pi pi-angle-right"></i>
              </li>
              <li>
                <i class="pi pi-shopping-cart icon icon-2"></i>
                <div class="menu-text">
                  <p>Payments</p>
                  <span>24 new</span>
                </div>
                <i class="pi pi-angle-right"></i>
              </li>
              <li>
                <i class="pi pi-users icon icon-3"></i>
                <div class="menu-text">
                  <p>Clients</p>
                  <span>+80%</span>
                </div>
                <i class="pi pi-angle-right"></i>
              </li>
              <li class="layout-submenu-footer">
                <button class="signout-button">Sign Out</button>
                <button class="buy-mirage-button">Buy Mirage</button>
              </li>
            </ul>
          </li>
        </ul>
              </div>
          </div>
      </div>
      <nav  id="navbar" class="navbar navbar-expand-lg ">
        <div class="container-fluid">
  
         
          
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="nav navbar-nav ml-auto">
              <li class="nav-item active">
                
                  <a class="nav-link" href="#">Se deconnecter</a>
              </li>
              
            </ul>
          </div>
        </div>
      </nav>
      
      


</div>



  <div class="layout-content py-0 my-0">
     <router-outlet></router-outlet>

  </div>
</div>




    <!-- <nav  id="navbar" class="navbar navbar-expand-lg ">
      <div class="container-fluid">

       
        
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="nav navbar-nav ml-auto">
            <li class="nav-item active">
              
                <a class="nav-link" href="#">Se deconnecter</a>
            </li>
            
          </ul>
        </div>
      </div>
    </nav> -->
  
    <!-- Page Content  -->
 