    <p-menubar [model]="items1">
      <ng-template pTemplate="start">
          <img src="../../../assets/layout/images/logo-cdmp.svg" height="40" class="mr-2">
      </ng-template>
      <ng-template pTemplate="end">
          <input type="text" pInputText placeholder="Search">
      </ng-template>
    </p-menubar>
<!-- 
    <p-menubar  [model]="items2">
      <ng-template pTemplate="start">
        <button pButton pRipple type="button" class="p-button-rounded" icon="pi pi-bars"></button>

      </ng-template>
      
    </p-menubar> -->
    <nav  id="navbar" class="navbar navbar-expand-lg ">
      <div class="container-fluid">

       
        
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="nav navbar-nav ml-auto">
            <li class="nav-item active">
              
                <a class="nav-link" href="#">Se deconnecter</a>
            </li>
            
          </ul>
        </div>
      </div>
    </nav>
  
    <!-- Page Content  -->
    <div  class="layout-wrapper" (click)="onLayoutClick()"
     [ngClass]="{'layout-horizontal': app.horizontalMenu,
                'layout-wrapper-static': staticMenuActive,
                'layout-rightpanel-active': rightPanelActive,
                'layout-topbar-mobile-active': topbarMobileMenuActive,
                'layout-megamenu-mobile-active': megaMenuMobileActive,
                'layout-sidebar-mobile-active': menuMobileActive,
                'p-input-filled': app.inputStyle === 'filled',
                'p-ripple-disabled': !app.ripple}" [class]="app.menuColor">

    <div class="layout-sidebar dark-blue-bg" style="color:white" [ngClass]="{'layout-sidebar-active': sidebarActive}" (click)="onSidebarClick($event)"
      (mouseover)="sidebarActive=true" (mouseleave)="sidebarActive=false">
     <div class="sidebar-logo">
         <a href="#" class="sidebar-pin" title="Toggle Menu" (click)="onToggleMenuClick($event)">
            
             <i class="pi pi-lock" *ngIf="staticMenuActive"></i>
             <i class="pi pi-lock-open" *ngIf="!staticMenuActive"></i>
         </a>
         <i class="pi pi-bars" ></i>
         
     </div>
 
     <div class="layout-menu-container" *ngIf="sidebarActive"(click)="onMenuClick()">
 <!--        <ul class="layout-menu" *ngIf="appMain.sidebarActive">-->
         <ul class="layout-menu">
          <div class="p-4 pt-5">
           
           <h1>Wootoo</h1>
        <div>
            <br>
            <br>
        </div>
          <ul class="list-unstyled components mb-5">
                <div class="tableau_bord">
                <li>
                    <h3>Tableau de bord</h3>
                </li>
                
            </div>
            <div>
                <br>
                <br>
            </div>
            <li class="active">
              <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Demandes</a>
              <ul class="collapse list-unstyled" id="homeSubmenu">
                <li>
                    <a href="#">Nouvelle demande</a>
                </li>
                <li>
                    <a href="#">Demandes en cours</a>
                </li>
              
              </ul>
            </li>
            <li>
                <a href="#">Suivi des paiements</a>
            </li>
          
          </ul>

  
          <span class="horizontal-text" *ngIf="!staticMenuActive && !sidebarActive ">espaces</span>
          </div>
         </ul>
         
         <span class="bottom-menu-text" *ngIf="staticMenuActive || sidebarActive">caisse des marchés publics</span>
     </div>
 </div>
    <div class="layout-main" >
      
 

  </div>
  </div>
   