@import "../../../assets/sass/custom/variables.scss";
@import "../../../assets/sass/custom/layout.scss";


.cdmp{
    font-size: 40px;
    color: aliceblue;
    text-align: left;
    position: relative;
    left: 110px;
    top: -30px;

    font-family: Helvetica;

}

.connexion{
    font-size: 24px;
    margin-left: 35%;
    color: aliceblue;
    text-align: center;
    font-family: Helvetica;
}

.soustitre{
    font-size: 18px;
    color: aliceblue;
    text-align: center;
    font-family: Helvetica;
    top: -28px;
    position: relative;
    margin-left: 8%;
}

.changepwd{
    font-size: 14px;
    color: aliceblue;
    text-align: center;
    font-family: Helvetica
}

h4{
	color: white;
	text-align: right;
	
}

h3{
	color: white;
	text-align: left;
}

.cad{
    font-size: 30px;
	color:#fff;
	display: block;
    margin-left: 30%;
}

.text{
	color: #fff;
}