.cdmp{
    font-size: 26px;
    color: aliceblue;
    text-align: center;
    font-family: MESSINA 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.connexion{
    font-size: 26px;
    margin-left: 35%;
    color: aliceblue;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
}

.soustitre{
    font-size: 20px;
    color: aliceblue;
    text-align: center;
    font-family: MESSINA REGULAR, monospace;
}

h4{
	color: white;
	text-align: right;
	
}

h3{
	color: white;
	text-align: left;
}