.boutton{
	float: right;
}

.upload{
    background-color:#203359;
}

.hidden {
    visibility: hidden;
    width: 1px;
    height: 1px;
  }

.card {
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
}

.p-button-danger{
    background-color: #A6325C;
}
.card-w-title{
    background-color:#203359;
    border-radius:0px;
}


.text{
    color: #203359;
    font-weight: bold;
}


h1{
    color: white;
    
    font-weight: bold;
}

.tableau_bord{
    border-top: 1px solid rgba(123, 224, 120, 0.579);
   ;
    
    border-bottom: 1px solid rgba(123, 224, 120, 0.632);
   
}

.horizontal-text {
    text-transform: uppercase;
    writing-mode: vertical-rl;
    text-orientation: sideways;
    position: absolute;
    top: 45%;
    right: .5rem;
}

.horizontal-text-hover {
    color: red;
    writing-mode: vertical-rl;
    text-orientation: sideways;
    position: absolute;
}

.logo-circle {
    background-color: white;
    border-radius: 50%
}

.bottom-menu-text {
    padding-left: 1rem;
    position: absolute;
    bottom: 1rem;
    text-transform: uppercase;
}


.dark-blue-bg {
    background-color: #203359;
}


#navbar{
    position: relative;
    top: 1px;
}

.abdou{
    color: rgb(60, 60, 60);
   font-weight: bold;
   text-align: center;
}

.logo-menu{
    height: 30px;
    position: relative;
    right: -30px;
    top: -15px;
}

.dropdown-item{
    color: black;
}

#navbar{
    bottom:35px;
}
.mymenu{
left: 30px;
position: relative;
}
#pi{
    color: white;
}

p{
    color: white;
    font-size: large;
    
}

h3{
    color: white;
    text-align: center;
}
a{
    color: white;
}
#sidebar{
    background-color:#203359;
}
#navbar{
    background-color:#203359;
    
    }



    .tab{
        background-color: #203359;
    }

    
  
    
    ::ng-deep span.p-paginator-current.ng-star-inserted{
        color: #203359;
    
    }
    
    ::ng-deep button.p-ripple.p-element.p-paginator-page.p-paginator-element.p-highlight.ng-star-inserted{
        background-color: #203359;
    
    }
    
    ::ng-deep li#p-highlighted-option.p-ripple.p-element.p-dropdown-item.p-highlight{
        background-color: #203359;
    
    }
    
    ::ng-deep i.p-sortable-column-icon.pi.pi-fw.pi-sort-alt{
        color: #203359;
    
    }
    
    ::ng-deep i.p-sortable-column-icon.pi.pi-fw.pi-sort-amount-up-alt{
        color: #203359;
    
    }


    
    
    
  
    .modalTitle{
        background-color: #F2F2F2;
        justify-content: center;
        height: 40px;
        border-radius: 2%;
        
    }
    
    .label{
        color: #A5A5A5;
                        font-weight: bolder;
    }
  
    
    
    