* {
    color: #fff;
}

.horizontal-text {
    text-transform: uppercase;
    writing-mode: vertical-rl;
    text-orientation: sideways;
    position: absolute;
    top: 45%;
    right: .5rem;
}

.horizontal-text-hover {
    color: red;
    writing-mode: vertical-rl;
    text-orientation: sideways;
    position: absolute;
}

.logo-circle {
    background-color: white;
    border-radius: 50%
}

.bottom-menu-text {
    padding-left: 1rem;
    position: absolute;
    bottom: 1rem;
    text-transform: uppercase;
}

.dark-blue-bg {
    background-color: #243465;
}
