
<div class="grid">
    <div class="col-12">
        <div class="d-flex justify-content-center col-12">
            <div class="col-12 md:col-10 modalTitle  ">
                <h3 class="title">Convention de cession : Liste des demandes</h3>
            </div>
        </div>
        <br>
        <div class="card">
            <p-table #dt [value]="demandes" [columns]="cols" responsiveLayout="scroll" [rows]="5"
                [globalFilterFields]="['name','country.name','representative.name','status']" [rows]="5"
                [paginator]="true" [rowsPerPageOptions]="[5,10,20,30]" [showCurrentPageReport]="true"
                currentPageReportTemplate=" {totalRecords} lignes " [rowHover]="true"
                dataKey="id">
                
                <ng-template pTemplate="header">
                    <tr>
                        
                        <th>
                            <p-columnFilter type="text" field="referenceBE" placeholder="Référence du BE"></p-columnFilter>
                        </th>
                        <th>
                            <p-columnFilter type="text" field="numeroDemande" placeholder="Référence demande"></p-columnFilter>
                        </th>
                        <th>
                            <p-columnFilter  type="text" field="nomMarche" placeholder="Nom du marché"></p-columnFilter>
                        </th>                       
                        <th>
                            <p-columnFilter type="date"  field="dateDemande" placeholder="Date de demande" [matchModeOptions]="matchModeOptions" [matchMode]="'rangeDate'" selectionMode="range" style="display: none;"></p-columnFilter>
                            <p-calendar [(ngModel)]="rangeDates" selectionMode="range" [readonlyInput]="true" inputId="range" formDate="dd/mm/yyyy" placeholder="Date de demande"></p-calendar>
                        </th>
                        <th>
                            <p-columnFilter field="statut" matchMode="equals" [showMenu]="false">
                                <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                    <p-dropdown [ngModel]="value" [options]="statuts" (onChange)="filter($event.value)" placeholder="Statuts" [showClear]="true">
                                        <ng-template let-option pTemplate="item">
                                            <span [class]="'product-badge status-' + (option.value ? option.value.toLowerCase() : '')">{{option.label}}</span>
                                        </ng-template>
                                    </p-dropdown>
                                </ng-template>
                            </p-columnFilter>
                        </th>
                        <th>
                            <button pButton pRipple icon="pi pi-search" class="p-button-rounded simpleButton"
                                style="background-color:#203359;" label="Rechercher"
                                (click)="dt.filter(refBE,datesoumission,statut)"></button>
                        </th>
                        <th *ngIf="rangeDates!=undefined">
                            <button pButton pRipple pTooltip="Annuler" icon="pi pi-times" class="p-button-rounded " label="Annuler" (click)="clearRange(dt)" style="background: white; color:#203359"></button>
                        </th>
                    </tr>
                    <tr>
                        
                        <th pSortableColumn="referenceBE" style="color: #203359;">Référence du BE<p-sortIcon field="referenceBE">
                            </p-sortIcon>
                        </th>
                        <th pSortableColumn="numeroDemande" style="color: #203359;">Référence demande<p-sortIcon field="numeroDemande">
                            </p-sortIcon>
                        </th>
                        <th pSortableColumn="nomMarche" style="color: #203359;">Nom du marché<p-sortIcon field="nomMarche">
                        </p-sortIcon>
                        </th>
                        <th pSortableColumn="dateDemande" style="color: #203359;">Date de la demande <p-sortIcon
                            field="dateDemande"></p-sortIcon>
                        </th>
                        <th pSortableColumn="statut" style="color: #203359;">Statut<p-sortIcon field="statut"></p-sortIcon>
                        </th>
                        <th style="color: #203359;">Actions</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-demande>
                    <tr>
                       
                        <td style="width:18%;">
                            <span class="p-column-title">Reference du BE</span>
                            {{demande.bonEngagement.reference}}
                        </td>
                        <td style="width:18%;">
                            <span class="p-column-title">Reference Demande</span>
                            {{demande.bonEngagement.numeroDemande}}
                        </td>
                        <td style="width:20%; min-width:10rem;">
                            <span class="p-column-title">Nom du marché</span>
                            {{demande.bonEngagement.nomMarche}}
                        </td>
                        <td style="width:18%; min-width:8rem;">
                            <span class="p-column-title">Date demande</span>
                            {{demande.dateDemandeCession | date:'dd/MM/yyyy'}}
                        </td>
                        <td style="width:25%;" >
                            <span [class]="'product-badge status-' + (demande.statut.libelle ? demande.statut.libelle.toLowerCase() : '')">{{demande.statut.libelle.replaceAll('_', ' ')}}</span>

                        </td>
                        <td>
                            <div class="flex">
                                <button *ngIf="!(demande.statut.libelle === 'CONVENTION_GENEREE')"
                                pButton pRipple icon="pi pi-search"
                                    class="p-button-rounded simpleButton"
                                    pTooltip="Consulter la convention"
                                   
                                    (click)="visualiserDocument(demande.conventions[0].documents[0] ,demande)"></button>
                                     <button pButton pRipple icon="pi pi-key"
                                    class="p-button-rounded successButton"
                                    pTooltip="Signer la convention"
                                    *ngIf="(demande.statut.libelle === 'CONVENTION_GENEREE')"
                                    (click)="visualiserDocument(demande.conventions[0].documents[0] ,demande)"></button> 
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>


    </div>

</div>

<p-dialog header="" [(visible)]="demandeDialog" [modal]="true" [style]="{width: '50vw'}" [baseZIndex]="10000"
    [draggable]="false" [resizable]="false">
    <ng-template pTemplate="header" class="row justify-content-center">
        <div class="col-8 mx-auto px-auto" style="background-color:white ;">
            <div id="steps">
                <p-toast></p-toast>
                <p-steps style=" border-bottom:4px  #003399 solid ; border-radius:0 ; " [model]="items"
                    [readonly]="true" styleClass="steps-custom"></p-steps>
            </div>
        </div>
    </ng-template>
    <div>
        <router-outlet></router-outlet>
    </div>
</p-dialog>