@import "../../../../../assets/sass/custom/variables.scss";
@import "../../../../../assets/sass/custom/layout.scss";


// .button{
//     background-color: #203359;

// }

::ng-deep span.p-paginator-current.ng-star-inserted{
    color: #203359;

}

::ng-deep button.p-ripple.p-element.p-paginator-page.p-paginator-element.p-highlight.ng-star-inserted{
    background-color: #203359;

}

::ng-deep li#p-highlighted-option.p-ripple.p-element.p-dropdown-item.p-highlight{
    background-color: #203359;

}

.title{
    color:white;
}

::ng-deep i.p-sortable-column-icon.pi.pi-fw.pi-sort-alt{
    color: #203359;

}

::ng-deep i.p-sortable-column-icon.pi.pi-fw.pi-sort-amount-up-alt{
    color: #203359;

}

::ng-deep div.p-dialog-header.ng-tns-c94-0.ng-star-inserted{
    //border: none;
    display: none;

}

.modalTitle{
    justify-content: center;
    
}

.label{
    color: #A5A5A5;
                    font-weight: bolder;
}

::ng-deep li.p-element.p-steps-item.p-highlight.p-steps-current.ng-star-inserted{
    display:none;
}

::ng-deep li.p-element.p-steps-item.ng-star-inserted::before{
    display:none;
}

::ng-deep span.p-steps-number{
    display:none;
}

::ng-deep .form-check-input{
    background-color: green;
}

.modalTitle{
    justify-content: center;
    height: 40px;
    border-radius: 0rem;
    display: flex;
    

    
}

::ng-deep span.p-paginator-current.ng-star-inserted{
    color: #203359;

}

::ng-deep button.p-ripple.p-element.p-paginator-page.p-paginator-element.p-highlight.ng-star-inserted{
    background-color: #203359;

}

::ng-deep li#p-highlighted-option.p-ripple.p-element.p-dropdown-item.p-highlight{
    background-color: #203359;

}

.title{
    color:#203359;
    font-weight: bold;
}

::ng-deep i.p-sortable-column-icon.pi.pi-fw.pi-sort-alt{
    color: #203359;

}

::ng-deep i.p-sortable-column-icon.pi.pi-fw.pi-sort-amount-up-alt{
    color: #203359;

}

.button{
background-color: #203359;
}