<div class="container-fluid text-right">
    <div style="display: block;">
        <div class="modal-body">
            <div class="card p-fluid">
                
                <div class="field grid">
                    <label htmlFor="montant" class="col-12 mb-2 md:col-4 md:mb-0" >Date Cession</label>
                    <div class="col-12 md:col-8">
                        <input pInputText id="montant" type="text" pTooltip="Date" placeholder="{{detailsCreances.dateDemandeCession | date:'dd/MM/yyyy'}}" [disabled]="true"/>
                    </div>
                </div>
                <div class="field grid">
                    <label htmlFor="payer" class="col-12 mb-2 md:col-4 md:mb-0">Montant remboursé</label>
                    <div class="col-12 md:col-8">
                        <input pInputText id="payer" type="text" pTooltip="Montant" placeholder="{{detailsCreances.montantRembourse | number: '1.0-0'}} FCFA" [disabled]="true"/>
                    </div>
                </div>
                <div class="field grid">
                    <label htmlFor="payer" class="col-12 mb-2 md:col-4 md:mb-0">Solde PME</label>
                    <div class="col-12 md:col-8">
                        <input pInputText id="payer" type="text" pTooltip="Solde" placeholder="{{detailsCreances.soldePME | number: '1.0-0'}} FCFA" [disabled]="true"/>
                    </div>
                </div>
                <div class="field grid">
                    <label htmlFor="payer" class="col-12 mb-2 md:col-4 md:mb-0">Montant déboursé</label>
                    <div class="col-12 md:col-8">
                        <input pInputText id="payer" type="text" pTooltip="Montant" placeholder="{{detailsCreances.montantDebourse | number: '1.0-0'}} FCFA"[disabled]="true"/>
                    </div>
                </div>
                <div class="field grid">
                    <label htmlFor="payer" class="col-12 mb-2 md:col-4 md:mb-0">Solde SICA</label>
                    <div class="col-12 md:col-8">
                        <input pInputText id="payer" type="text" pTooltip="Sica" placeholder="{{detailsCreances.soldeSICA | number: '1.0-0'}} FCFA" [disabled]="true"/>
                    </div>
                </div>
                <div class="field grid">
                    <label htmlFor="payer" class="col-12 mb-2 md:col-4 md:mb-0">RCCM</label>
                    <div class="col-12 md:col-8">
                        <input pInputText id="payer" type="text" pTooltip="Sica" placeholder="{{detailsCreances.rccm}}" [disabled]="true"/>
                    </div>
                </div>
                <div class="field grid">
                    <label htmlFor="payer" class="col-12 mb-2 md:col-4 md:mb-0">NINEA</label>
                    <div class="col-12 md:col-8">
                        <input pInputText id="payer" type="text" pTooltip="Sica" placeholder="{{detailsCreances.ninea}}" [disabled]="true"/>
                    </div>
                </div>
                <div class="field grid">
                    <label htmlFor="payer" class="col-12 mb-2 md:col-4 md:mb-0">Type du marché</label>
                    <div class="col-12 md:col-8">
                        <input pInputText id="payer" type="text" pTooltip="Sica" placeholder="{{detailsCreances.typeMarche}}" [disabled]="true"/>
                    </div>
                </div>
                <div class="field grid" *ngIf="motif">
                    <label htmlFor="payer" class="col-12 mb-2 md:col-4 md:mb-0">Motif du rejet</label>
                    <div class="col-12 md:col-8">
                        <textarea pInputText id="payer" type="text" pTooltip="Sica" placeholder="{{motif}}" [disabled]="true"></textarea>
                    </div>
                </div>
            </div>
            <div class="col-12  pr-0 d-flex  flex-row-reverse">
                <button id="valider"style="width: min-content;" pButton pRipple label="Fermer" icon="pi pi-times" class="p-button-raised dangerButton"  (click)="dismiss()" ></button>
            </div>
        </div>
    </div>
    <div class="modal-footer">
    </div>