@import "../../../../../assets/sass/custom/variables.scss";

@import "../../../../../assets/sass/custom/layout.scss";




.hidden {
    visibility: hidden;
    width: 1px;
    height: 1px;
  }



.p-button-danger{
    background-color: #A6325C;
}
.card-w-title{
    background-color:#203359;
    border-radius:0px;
}


.text{
    color: #203359;
    font-weight: bold;
}






    
    
    
  
    
  
    
    
    