
.hidden {
    visibility: hidden;
    width: 1px;
    height: 1px;
  }

.card {
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
}

.p-button-danger{
    background-color: #A6325C;
}
.card-w-title{
    background-color:#203359;
    border-radius:0px;
}


.text{
    color: #203359;
    font-weight: bold;
}






    
    
    
  
    
  
    
    
    