<div class="layout-sidebar dark-blue-bg" [ngClass]="{'layout-sidebar-active': appMain.sidebarActive}"
    (click)="appMain.onSidebarClick($event)" (mouseover)="appMain.sidebarActive=true"
    (mouseleave)="appMain.sidebarActive=false">
    <div class="sidebar-logo">
        <a href="#" class="sidebar-pin" title="Toggle Menu" (click)="appMain.onToggleMenuClick($event)">
            <i class="pi pi-lock" *ngIf="appMain.staticMenuActive"></i>
            <i class="pi pi-lock-open" *ngIf="!appMain.staticMenuActive"></i>
        </a>
        <a routerLink="/">
            <i class="pi pi-bars"></i>
        </a>
    </div>
    <div class="layout-menu-container" (click)="onMenuClick()">
        <ul class="layout-menu">
            <div class="pt-5">
                <h3>Wootoo</h3>
                <div>
                    <br>
                </div>
                <ul class="list-unstyled components mb-5 menu">
                    <li *ngIf="profil === 'DG' || profil === 'DRC' || profil === 'DSEAR' || profil === 'DAF' || profil === 'PME'" class="tableau_bord">
                                <a [attr.tabindex]="0" [routerLink]="['cdmp/dashboard']">
                                    <span class="mn"> Tableau de bord</span>
                                    <i class="pi pi-fw pi-chart-line layout-menuitem-icon"></i>
                                </a>
                    </li>
                    <li  *ngIf="profil === 'PME'">
                        <a [attr.tabindex]="0" href="#homeSubmenu" data-toggle="collapse" aria-expanded="false">
                            <span class="menuitem-text" > Demandes </span>
                            <i class="pi pi-fw pi-angle-down layout-submenu-toggler"></i>
                            <i class="pi pi-fw pi-folder-open layout-menuitem-icon"></i></a>
                        <ul class="collapse list-unstyled nav-pills" id="homeSubmenu" >
                            <li>
                                <a [attr.tabindex]="0" [routerLink]="['pme/new_demande']">
                                    <span class="menuitem-text" routerLinkActive="active" [routerLinkActiveOptions]="{exact : true}">Nouvelle demande</span>
                                    <i class="pi pi-fw pi-plus-circle layout-menuitem-icon"></i>
                                </a>
                            </li>
                            <li>
                                <a [attr.tabindex]="0"  [routerLink]="['pme/demandes_en_cours']">
                                    <span class="menuitem-text" routerLinkActive="active" [routerLinkActiveOptions]="{exact : true}"> Liste des demandes</span>
                                    <i class="pi pi-fw pi-folder-open layout-menuitem-icon"></i>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item" *ngIf="profil === 'PME'">
                        <a [attr.tabindex]="0" 
                         [routerLink]="['pme/paiements']">
                            <span class="mn" class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact : true}"> Suivi des paiements</span>
                            <i class="pi pi-fw pi-money-bill layout-menuitem-icon"></i>
                        </a>
                    </li>
                    <li *ngIf="profil === 'PME'">
                        <a [attr.tabindex]="0" disabled [routerLink]="['pme/convention_cession']">
                            <span class="mn" class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact : true}">Convention de cession</span>
                            <i class="pi pi-fw pi-file layout-menuitem-icon"></i>
                        </a>
                    </li>
                    <li *ngIf="profil === 'DSEAR'">
                        <a [attr.tabindex]="0" disabled [routerLink]="['cdmp/demandes_en_cours']">
                            <span class="mn" class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact : true}"> Demandes Adhésion</span>
                            <i class="pi pi-fw pi-folder-open layout-menuitem-icon"></i>
                        </a>
                    </li>
                    <li *ngIf="profil === 'DSEAR'">
                        <a [attr.tabindex]="0" disabled [routerLink]="['cdmp/recevabilite']">
                            <span class="mn" class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact : true}"> Recevabilite</span>
                            <i class="pi pi-fw pi-directions layout-menuitem-icon"></i>
                        </a>
                    </li>
                    <li *ngIf="profil === 'DRC'">
                        <a [attr.tabindex]="0" disabled [routerLink]="['cdmp/analyse_risque']">
                            <span class="mn"  class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact : true}"> Analyse du risque</span>
                            <i class="pi pi-fw pi-exclamation-circle layout-menuitem-icon"></i>
                        </a>
                    </li>
                    <li *ngIf="profil === 'JURISTE' || profil === 'DG'">
                        <a [attr.tabindex]="0" disabled [routerLink]="['comptable/convention_cession']">
                            <span class="mn" class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact : true}">Convention de cession</span>
                            <i class="pi pi-fw pi-file layout-menuitem-icon"></i>
                        </a>
                    </li>
                    <li *ngIf="profil === 'DAF'">
                        <a [attr.tabindex]="0" disabled [routerLink]="['comptable/paiements']">
                            <span class="mn" class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact : true}">Paiements/Recouvrement</span>
                                <i class="pi pi-fw pi-money-bill layout-menuitem-icon"></i>
                            </a>
                    </li>
                    <li *ngIf="profil === 'ORDONNATEUR'">
                        <a [attr.tabindex]="0" [routerLink]="['ordonnateur/conventions']">
                            <span class="mn" class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact : true}"> Convention de cession</span>
                            <i class="pi pi-fw pi-file layout-menuitem-icon"></i>
                        </a>
                    </li>
                </ul>
                <div class="footer">
                </div>
            </div>
        </ul>
    </div>
</div>