<div class="layout-sidebar dark-blue-bg" [ngClass]="{'layout-sidebar-active': appMain.sidebarActive}"
    (click)="appMain.onSidebarClick($event)" (mouseover)="appMain.sidebarActive=true"
    (mouseleave)="appMain.sidebarActive=false">
    <div class="sidebar-logo">
        <a href="#" class="sidebar-pin" title="Toggle Menu" (click)="appMain.onToggleMenuClick($event)">
            <i class="pi pi-lock" *ngIf="appMain.staticMenuActive"></i>
            <i class="pi pi-lock-open" *ngIf="!appMain.staticMenuActive"></i>
        </a>
        <a routerLink="/">
            <i class="pi pi-bars"></i>
        </a>
    </div>
    <div class="layout-menu-container" (click)="onMenuClick()">
        <ul class="layout-menu">
            <div class="p-4 pt-5">
                <h3>Wootoo</h3>
                <div>
                    <br>
                </div>
                <ul class="list-unstyled components mb-5 menu" >
                    <div *ngIf="profil === 'DG' || profil === 'cgr' || profil === 'comptable'">
                        <div class="tableau_bord" *ngIf="appMain.sidebarActive">
                            <li class="mn">
                                <a class="pi pi-chart-line" [routerLink]="['cdmp/dashboard']"><span class="mn"> Tableau de bord</span></a>
                            </li>
                        </div>
                    </div>
                    <li class="active" *ngIf="profil === 'pme'">
                        <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false"
                            class="dropdown-toggle pi pi-folder-open"> <span class="mn"> Demandes </span></a>
                        <ul class="collapse list-unstyled" id="homeSubmenu">
                            <li>
                                <a class="pi pi-plus-circle" [routerLink]="['pme/new_demande']"><span class="mn"> Nouvelle demande</span></a>
                            </li>
                            <li>
                                <a class="pi pi-folder-open" [routerLink]="['pme/demandes_en_cours']"><span class="mn"> Liste des
                                    demandes</span></a>
                            </li>
                        </ul>
                    </li>
                    <li *ngIf="profil === 'pme'">
                        <a class="pi pi-money-bill" [routerLink]="['pme/paiements']"><span class="mn"> Suivi des paiements</span></a>
                    </li>
                    <li *ngIf="profil === 'pme'">
                        <a class="pi pi-file" disabled [routerLink]="['pme/convention_cession']"><span class="mn"> Convention de
                            cession</span></a>
                    </li>
                    <li *ngIf="profil === 'cgr'">
                        <a class="pi pi-folder-open" disabled [routerLink]="['cdmp/demandes_en_cours']"><span class="mn"> Demandes
                            Adhésion</span></a>
                    </li>
                    <li *ngIf="profil === 'cgr'">
                        <a class="pi pi-directions" disabled [routerLink]="['cdmp/recevabilite']"><span class="mn"> Recevabilite</span></a>
                    </li>
                    <li *ngIf="profil === 'cgr'">
                        <a class="pi pi-exclamation-circle" disabled [routerLink]="['cdmp/analyse_risque']"><span class="mn"> Analyse du
                            risque</span></a>
                    </li>
                    <li *ngIf="profil === 'comptable' || profil === 'DG'">
                        <a class="pi pi-file" disabled [routerLink]="['comptable/convention_cession']"><span class="mn"> Convention de
                            cession</span></a>
                    </li>
                    <li *ngIf="profil === 'comptable'">
                        <a class="pi pi-money-bill" disabled [routerLink]="['comptable/paiements']"><span class="mn"> 
                            Paiements/Recouvrement</span></a>
                    </li>
                    <li *ngIf="profil === 'ordonnateur'">
                        <a class="pi pi-file" [routerLink]="['ordonnateur/conventions']"><span class="mn"> Conventions de cession</span></a>
                    </li>
                </ul>
                <div class="footer">
                </div>
            </div>
        </ul>
    </div>
</div>