<div class="container-fluid text-right">

    <div class="modal-body">
        <div class="card p-fluid">
            <div class="field grid row">
                <label htmlFor="modePaiement" class="col-12 md:col-4">Mode Paiement</label>
                <div class="col-12 md:col-8">
                    <p-dropdown [options]="dropdownItems" optionLabel="name" [(ngModel)]="detailPaiement.typepaiement"></p-dropdown>
                </div>
            </div>
            <div class="field grid row">
                <label htmlFor="referencePaiement" class="col-12 md:col-4">Référence de
                    Paiement</label>
                <div class="col-12 md:col-8">
                    <input pInputText id="referencePaiement" type="text" pTooltip="Référence de paiement"
                    [(ngModel)]="detailPaiement.reference" placeholder="Référence de paiement" />
                </div>
            </div>
            <div class="field grid row">
                <label htmlFor="montant" class="col-12 md:col-4">Montant</label>
                <div class="col-12 md:col-8">
                    <input pInputText id="montant" type="text" pTooltip="Montant" [(ngModel)]="detailPaiement.montant" placeholder="Montant" />
                </div>
            </div>
            <div class="field grid row">
                <label htmlFor="payer" class="col-12 md:col-4">Enregistré par :</label>
                <div class="col-12 md:col-8">
                    <input pInputText id="payer" type="text" pTooltip="Comptable" placeholder="Comptable"
                    [(ngModel)]="detailPaiement.comptable" [disabled]="true" />
                </div>
            </div>
            <div class="field grid row">
                <label htmlFor="preuvePaiement" class="col-12 md:col-4">Preuve de paiement</label>
                <div class="field col-12 md:col-8">
                    <div class="inputContainer">
                        <input *ngIf="selectedFiles==null;else elseBlock" id="file" type="text" pInputText
                            pTooltip="Charger la convention " placeholder="Pas de fichier">

                        <input formControlName="nineaFile" class="hidden" type="file" id="upload-file"
                            name="upload-file" ngf-max-size="2MB" (change)="selectFile($event)">


                        <button type="button" pButton pRipple icon="pi pi-upload"
                            class="mr-2 mb-2 upload p-button-rounded p-button-text" id="upload-file"
                            (click)="handleClick()"></button>
                    </div>

                    <ng-template #elseBlock id="file" type="text" pInputText pTooltip="Charger document">
                        <input id="file" type="text" pInputText pTooltip="Charger la convention"
                            placeholder="{{selectedFiles.name}}">
                    </ng-template>
                </div>
            </div>
            <div class="col-12  pr-0 d-flex  flex-row-reverse">
                <button id="valider" style="width: min-content;" pButton pRipple label="Fermer" icon="pi pi-times"
                    class="p-button-raised dangerButton" (click)="dismiss()"></button>
                <button type="button" id="valider" style="width: min-content;" pButton pRipple label="Sauvegarder"
                    icon="pi pi-check" (click)="onSubmitForm()" class="p-button-raised successButton"></button>
            </div>
        </div>
        <div class="modal-footer">

        </div>