<div class="grid">
    <div class="col-12">
        <div class="col-12">
            <div class="d-flex justify-content-center col-12">
                <div class="col-12 md:col-10 modalTitle  ">
                    <h3 class="title">Paiements / Recouvrements</h3>
                </div>
            </div>
            <br>
            <div class="card">
                <p-table #dt [value]="paiements" [columns]="cols" responsiveLayout="scroll" [rows]="10"
                    [globalFilterFields]="['raisonSocial','referenceBE','totalMarche','statut']" [rows]="10"
                    [paginator]="true" [rowsPerPageOptions]="[5,10,20,30]" [showCurrentPageReport]="true"
                    currentPageReportTemplate=" {totalRecords} lignes" [rowHover]="true" dataKey="id">
                    <ng-template pTemplate="header">
                        <tr>
                            <th>
                                <p-columnFilter type="text" field="raisonSocial" placeholder="Raison sociale">
                                </p-columnFilter>
                            </th>
                            <th>
                                <p-columnFilter type="text" field="nomMarche" placeholder="Nom Marché"></p-columnFilter>
                            </th>
                            <th>
                                <p-columnFilter type="text" field="total_marche" placeholder="Total Marché">
                                </p-columnFilter>
                            </th>
                            <th>
                                <p-columnFilter type="text" field="soldePME" placeholder="Solde PME"></p-columnFilter>
                            </th>

                            <th>
                                <p-columnFilter type="text" field="montantRecu" placeholder="Montant Reçu">
                                </p-columnFilter>
                            </th>
                            <th>
                                <p-columnFilter field="statut" matchMode="equals" [showMenu]="false">
                                    <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                        <p-dropdown [ngModel]="value" [options]="statuts"
                                            (onChange)="filter($event.value)" placeholder="Statuts" [showClear]="true">
                                            <ng-template let-option pTemplate="item">
                                                <span
                                                    [class]="'product-badge status-' + (option.value ? option.value.toLowerCase() : '')">{{option.label}}</span>
                                            </ng-template>
                                        </p-dropdown>
                                    </ng-template>
                                </p-columnFilter>
                            </th>
                            <th>
                                <button pButton pRipple icon="pi pi-search" class="p-button-rounded mr-2 button"
                                    style="background-color: #203359;" label="Rechercher"
                                    (click)="dt.filter(ninea,raisonSocial,nomMarche,statut,refBE)"></button>
                            </th>
                        </tr>
                        <tr>
                            <th pSortableColumn="raisonSocial" style="color: #203359;">Raison sociale<p-sortIcon
                                    field="raisonSocial"></p-sortIcon>
                            </th>
                            <th pSortableColumn="nomMarche" style="color: #203359;">Nom Marché <p-sortIcon
                                    field="nomMarche"></p-sortIcon>
                            </th>
                            <th pSortableColumn="totalMarche" style="color: #203359;">Total Marché<p-sortIcon
                                    field="totalMarche"></p-sortIcon>
                            </th>
                            <th pSortableColumn="soldePME" style="color: #203359;">Solde PME<p-sortIcon
                                    field="soldePME">
                                </p-sortIcon>
                            </th>
                            <th pSortableColumn="montantRecu" style="color: #203359;">Montant Reçu<p-sortIcon
                                    field="montantRecu"></p-sortIcon>
                            </th>
                            <th pSortableColumn="statut" style="color: #203359;">Statut<p-sortIcon field="statut">
                                </p-sortIcon>
                            </th>
                            <th style="color: #203359;">Actions</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-paiement>
                        <tr>
                            <td style="width:15%; min-width:10rem;">
                                <span class="p-column-title">Raison Sociale</span>
                                {{paiement.raisonSocial}}
                            </td>

                            <td style="width:20%; min-width:8rem;">
                                <span class="p-column-title">Nom Marché</span>
                                {{paiement.nomMarche}}
                            </td>
                            <td style="width:14%;">
                                <span class="p-column-title">Total Marché</span>
                                {{paiement.montantCreance | currency:'CFA' : 'symbol' : '1.0-0'}}
                            </td>
                            <td style="width:13%;">
                                <span class="p-column-title">Solde PME</span>
                                {{paiement.soldePME | currency:'CFA' : 'symbol' : '1.0-0':'fr'}}
                            </td>
                            <td style="width:13%;">
                                <span class="p-column-title">Montant Reçu</span>
                                {{paiement.montantRecuCDMP | currency:'CFA' : 'symbol' : '1.0-0':'fr'}}
                            </td>
                            <td style="width:20%;">
                                <span class="p-column-title">Statut</span>
                                <!-- <span>{{paiement.statutPme.libelle}}</span> -->
                                <span [class]="'product-badge status-' + (paiement.statutPme.libelle ? paiement.statutPme.libelle.toLowerCase() : '')">{{paiement.statutPme.libelle.replaceAll('_',
                                    ' ')}}</span>
                                </td>
                            <td>
                                <div class="flex">
                                        <!-- <button pButton pRipple icon="pi pi-money-bill"
                                        class="p-button-rounded p-button-text mr-2 button simpleButton"
                                        pTooltip="Paiement de la PME"  *ngIf="paiement.statutPme.code === 'PME_EN_ATTENTE_DE_PAIEMENT' || 
                                        paiement.statutPme.code=== 'PME_PARTIELLEMENT_PAYEE'"
                                        (click)="visualiserPaiementListPME(paiement)"></button> -->
                                        <button pButton pRipple icon="pi pi-money-bill"
                                        class="p-button-rounded p-button-text mr-2 button simpleButton"
                                        pTooltip="Paiement de la PME" (click)="visualiserPaiementListPME(paiement)"></button>
                                    <!-- <button pButton pRipple icon="pi pi-id-card"
                                        class="p-button-rounded p-button-text mr-2 button simpleButton"
                                        pTooltip="Paiment de la CDMP"
                                        *ngIf="paiement.statutCDMP.code === 'CDMP_EN_ATTENTE_DE_PAIEMENT' || paiement.statutCDMP.code=== 'CDMP_PARTIELLEMENT_PAYEE'"
                                        (click)="visualiserPaiementListCDMP(paiement)"></button> -->
                                    <button pButton pRipple icon="pi pi-id-card"
                                    class="p-button-rounded p-button-text mr-2 button simpleButton"
                                    pTooltip="Paiement de la CDMP"  (click)="visualiserPaiementListCDMP(paiement)"></button>
                                </div>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </div>
    </div>