<form [formGroup]="form" (ngSubmit)="onSubmit()">


<div class="formgroup-inline">

    <div class="field   text-center">
        <input  *ngIf="selectedCONVENTIONFiles==null;else elseNINEABlock" id="NINEAfile" type="text" pInputText  pTooltip="Charger document" placeholder="Pas de fichier">
        <ng-template  #elseNINEABlock id="NINEAfile" type="text" pInputText  pTooltip="Charger document">{{selectedCONVENTIONFiles.name}}</ng-template>
        <input formControlName="nineaFile" class="hidden" type="file" id="upload-NINEAfile" name="upload-NINEAfile"  ngf-max-size="2MB" (change)="selectCONVENTIONFile($event)">
    </div>

    <div  class="field  text-center">

        <button type="button" pButton pRipple label="Parcourir" icon="pi pi-upload" class="mr-2 mb-2 upload la " id="upload-NINEAfile"  (click)="handleCONVENTIONClick()" ></button>
    </div>

    <div class="col-12  pr-0 d-flex  flex-row-reverse">
        <button    id="valider"style="width: min-content;" pButton pRipple label="Fermer" icon="pi pi-check" class="p-button-raised p-button-danger mx-1  my-auto ml-2"  [routerLink]= "['../']" ></button>
        <button    type="button" id="valider"style="width: min-content;" pButton pRipple label="Charger" icon="pi pi-upload" class="p-button-raised p-button-success my-auto "  ></button>

    </div>

</div>
</form>