<form [formGroup]="form">       
            <div class="col-6">

                        <div class=" inputContainer">
                            <input *ngIf="selectedCONVENTIONFiles==null;else elseCONVENTIONBlock" id="CONVENTIONfile" type="text"
                                pInputText pTooltip="Charger le document de référence ici" placeholder="Document" class="inpute">
                                
                            <ng-template #elseCONVENTIONBlock id="CONVENTIONfile" type="text" pInputText
                                pTooltip="Charger document">
                                <input id="CONVENTIONfile" type="text" pInputText
                                    pTooltip="Charger le document de référence de la CONVENTION"
                                    placeholder="{{selectedCONVENTIONFiles.name}}" class="inpute">
                            </ng-template>
                            <input formControlName="nineaFile" class="hidden" type="file" accept="image/png, image/jpeg,image/jpg,.pdf,.
                            PDF" id="upload-CONVENTIONfile"
                                name="upload-CONVENTIONfile" ngf-max-size="2MB" (change)="selectCONVENTIONFile($event)">


                            <button type="button" pButton pRipple icon="pi pi-upload"
                                class="upload p-button-rounded p-button-text" id="upload-CONVENTIONfile"
                                (click)="handleCONVENTIONClick()"></button>
                
                        </div>
            </div>
<br>
<div class="col-12  pr-0 d-flex  flex-row-reverse">
    <button    style="width: min-content;" pButton pRipple label="Fermer" icon="pi pi-times" class="p-button-raised dangerButton"  (click)="dismiss()" ></button>
    <button    type="button" id="valider"style="width: min-content;" pButton pRipple label="Charger" icon="pi pi-check" class="p-button-raised successButton" (click)="onSubmit()" ></button>

</div>
</form>