
<div class="stepsdemo-content">
    <p-card>
       
        <ng-template pTemplate="content">
            <div class="field col-12 d-flex justify-content-center">
                <div class="col-6  d-flex justify-content-start">
                    <h4 style="font-weight: bold;color: #203359;">Le NINEA fourni existe t-il?</h4>
                </div>
                <div class="col-6   d-flex ">
                    <div class="col-8 d-flex ">
                        <p-inputSwitch type="radio" name="ninea" styleClass="oui" value="true" [(ngModel)]="existant" id="active" >
                        </p-inputSwitch>
                    </div>                 
                </div>
            </div>
            <div class="field col-12 d-flex justify-content-center" *ngIf="existant">
                <div class="col-6 d-flex justify-content-start">
                    <h4 style="font-weight: bold;color: #203359;">La PME est-elle active?</h4>
                </div>
                <div class="col-6   d-flex ">
                    <div class="col-8 d-flex ">
                        <p-inputSwitch styleClass="oui" [(ngModel)]="active" ></p-inputSwitch>
                    </div>                
                </div>
            </div>
        </ng-template>
        <ng-template pTemplate="footer">
            <div class="col-12 float-right d-flex justify-content-end"  *ngIf="existant;else elseBlock">
                <button  id="suivant" pButton pRipple label="Suivant" icon="pi pi-spinner" class="p-button-raised simpleButton"  (click)="nextPage()" ></button>
            </div>
            <ng-template #elseBlock>
                <div class="col-12 float-right d-flex justify-content-end">
                    <button class="p-button-raised dangerButton" id="terminer" pButton pRipple label="Rejeter l'adhesion" icon="pi pi-times" (click)="onSubmit()"></button>
                </div>
            </ng-template>
        </ng-template>
    </p-card>
</div>