
<div class="stepsdemo-content">
    <p-card>
        <ng-template pTemplate="header">
            <div class="d-flex justify-content-center col-12">
                <div class="col-12 modalTitle ">
                    <h3 class="label1">Vérification</h3>
                </div>
            </div>
        </ng-template>
        <ng-template pTemplate="content">
            <div class="field col-12 d-flex">
                <div class="col-4  d-flex justify-content-center">
                    <h4 style="font-weight: bold;color: #203359;">NINEA existant</h4>
                </div>
                <div class="field-radiobutton">
                    <p-inputSwitch  styleClass="oui" name="city" value="Chicago" [(ngModel)]="valRadio" id="city1">
                        </p-inputSwitch>
                    <label for="city1">OUI</label>
                </div>
                <div class="col-4   d-flex justify-content-center">
                    <div class="col-8 d-flex justify-content-center">
                        <p-inputSwitch styleClass="non" name="city" value="bnbv" [(ngModel)]="valRadio" ></p-inputSwitch>
                    </div>    
                    <div class="col-4 d-flex justify-content-center">
                        <h4 style="font-weight: bold;color: #203359;">NON</h4>
                    </div>             
                </div>
            </div>
            <div class="field col-12 d-flex">
                <div class="col-4  d-flex justify-content-center">
                    <h4 style="font-weight: bold;color: #203359;">PME Active</h4>
                </div>
                <div class="col-4   d-flex justify-content-center">
                    <div class="col-8 d-flex justify-content-center">
                        <p-inputSwitch styleClass="oui"></p-inputSwitch>
                    </div>    
                    <div class="col-4 d-flex justify-content-center">
                        <h4 style="font-weight: bold;color: #203359;">OUI</h4>
                    </div>             
                </div>
                <div class="col-4   d-flex justify-content-center">
                    <div class="col-8 d-flex justify-content-center">
                        <p-inputSwitch styleClass="non" ariaLabel="NON"></p-inputSwitch>
                    </div>    
                    <div class="col-4 d-flex justify-content-center">
                        <h4 style="font-weight: bold;color: #203359;">NON</h4>
                    </div>             
                </div>
            </div>
        </ng-template>
        <ng-template pTemplate="footer">
            <div class="row justify-content-end">
                <button    id="suivant"style="width: min-content;" pButton pRipple label="Suivant" icon="pi pi-spinner" class="p-button-raised button"  routerLink="../../steps/informations_ninea" ></button>
            </div>
        </ng-template>
    </p-card>
</div>