<div class="exception-body error" style="background-color: #333366EE;">
    <div class="exception-content">
        <div class="moon">
            <img src="../../../assets/layout/images/logo.svg" alt="mirage-layout" />
        </div>
        <div class="exception-panel" style="background-color: #333366EE;">
            <div class="exception-panel-content">
                <span class="tag"><i class="pi pi-exclamation-triangle" style="vertical-align: bottom"></i></span>
                <h1>Erreur</h1>
                <div class="seperator"></div>
                <p>Une erreur est survenue. Veuillez réessayer!</p>
                <button class="simpleButton" pButton type="button" [routerLink]="['..']" label="Reessayer"></button>
            </div>
        </div>
        <div class="desert"></div>
    </div>
</div>
