<form [formGroup]="informationsForm" (ngSubmit)="onSubmit()">
    <p-card>
        <div class="p-fluid grid">
            <div class="card p-fluid col-10 justify-content-center" style="left: 90px;">
                <br>
                <h2 class="infostitre">Modifer les informations de la PME</h2>
                <br>
                <div class="form-row justify-content-center">

                    <div class="col-12 md:col-5">
                        <span class="h5texte">NINEA</span>
                        <div class="p-inputgroup">
                            <span class="p-float-label">
                                <input type="text" [(ngModel)]="ninea" placeholder="{{ninea}}" formControlName="ninea"
                                    id="inputtext" pInputText [disabled]="true" />
                                <label for="inputtext"></label>
                            </span>
                        </div>
                    </div>
                    <div class="col-12 md:col-5">
                        <span class="h5texte">RCCM</span>
                        <div class="p-inputgroup">
                            <span class="p-float-label">
                                <input type="text" [(ngModel)]="rccm" placeholder="{{rccm}}" formControlName="rccm"
                                    id="inputtext" pInputText [disabled]="true" />
                                <label for="inputtext"></label>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="form-row justify-content-center">
                    <div class="field col-6 md:col-4">
                        <span class="h5texte">Denomination</span>

                        <span class="p-float-label  p-input-icon-left">
                            <i class="pi pi-home"></i>
                            <input type="text" [(ngModel)]="raisonSocial" placeholder="{{raisonSocial}}"
                                formControlName="raisonSocial" id="inputtext" pInputText>
                            <label for="inputtext"></label>
                        </span>
                    </div>
                    <div class="field col-4 md:col-4">
                        <span class="h5texte">Email</span>

                        <span class="p-float-label p-input-icon-left">
                            <i class="pi pi-globe"></i>
                            <input [(ngModel)]="email" placeholder="{{email}}" formControlName="email" type="text"
                                id="inputtext-left" pInputText>
                            <label for="inputtext-left"></label>
                        </span>
                    </div>
                    <div class="field col-12 md:col-4">
                        <span class="h5texte">Prénom Représentant</span>

                        <span class="p-float-label p-input-icon-left">
                            <i class="pi pi-user"></i>
                            <input [(ngModel)]="prenomRepresentant" placeholder="{{prenomRepresentant}}"
                                formControlName="prenomRepresentant" type="text" id="inputtext-right" pInputText>
                            <label for="inputtext-left"></label>

                        </span>

                    </div>
                </div>
                <div class="form-row justify-content-center">


                    <div class="field col-12 md:col-4">
                        <span class="h5texte">Nom Représentant</span>

                        <span class="p-float-label p-input-icon-left">
                            <i class="pi pi-user"></i>
                            <input type="text" id="inputtext-right" pInputText [(ngModel)]="nomRepresentant"
                                placeholder="{{nomRepresentant}}" formControlName="nomRepresentant">
                            <label for="inputtext-right"></label>
                        </span>
                    </div>
                    <div class="field col-12 md:col-4">
                        <span class="h5texte">Date Création</span>

                        <span class="p-float-label p-input-icon-left">
                            <i class="pi pi-calendar"></i>
                            <input type="text" [(ngModel)]="dateCreation" placeholder="{{dateCreation}}"
                                formControlName="dateCreation" id="inputtext-right" pInputText>
                            <label for="inputtext-right"></label>
                        </span>

                    </div>
                    <div class="field col-12 md:col-4">
                        <span class="h5texte">Forme Juridique</span>

                        <span class="p-float-label">
                            <p-dropdown [options]="formeJuridiques" [style]="{width: '100%'}"
                                formControlName="formeJuridique"  [(ngModel)]="formeJuridique" optionLabel="libelle" [filter]="true"
                                filterBy="libelle" [showClear]="true" placeholder="Sélectionnez une forme juridique"
                                [ngStyle]="{'width': '100%'}">
                                <ng-template pTemplate="selectedItem">
                                    <div class="country-item country-item-value" *ngIf="formeJuridique">
                                        <div>{{formeJuridique.code}}</div>
                                    </div>
                                </ng-template>
                                <ng-template let-formeJuridique pTemplate="item">
                                    <div class="country-item">
                                        <div>{{formeJuridique.libelle}}</div>
                                    </div>
                                </ng-template>
                            </p-dropdown>
                            <!-- <input type="text" [(ngModel)]="formeJuridique.code"
            placeholder="{{formeJuridique.code}}" formControlName="formeJuridique" id="inputtext-right" pInputText >  -->
                            <label for="chips"></label>
                        </span>
                    </div>
                </div>

                <div class="form-row justify-content-center">

                    <div class="field col-12 md:col-4">
                        <span class="h5texte">Téléphone</span>

                        <span class="p-float-label p-input-icon-left">
                            <i class="pi pi-phone"></i>
                            <input type="text" [(ngModel)]="telephonePME" placeholder="{{telephonePME}}"
                                formControlName="telephonePME" id="inputtext-right" pInputText>
                            <label for="chips"></label>
                        </span>
                    </div>
                    <div class="field col-12 md:col-4">
                        <span class="h5texte">N° CNI du représentant</span>
                        <span class="p-float-label p-input-icon-left">
                            <i class="pi pi-wallet"></i>
                            <input type="text" [(ngModel)]="cniRepresentant" placeholder="{{cniRepresentant}}"
                                formControlName="cniRepresentant" id="inputtext-right" pInputText>
                            <label for="chips"></label>
                        </span>
                    </div>
                    <div class="field col-12 md:col-4">
                        <span class="h5texte">Centre Fiscal</span>
                        <span class="p-float-label p-input-icon-left">
                            <i class="pi pi-ticket"></i>
                            <p-dropdown [options]="centreFiscals" [style]="{width: '100%'}"
                                formControlName="centreFiscal" [(ngModel)]="centreFiscal" optionLabel="libelle"
                                [filter]="true" filterBy="libelle" [showClear]="true"
                                placeholder="Sélectionnez un centre fiscal" [ngStyle]="{'width': '100%'}">
                                <ng-template pTemplate="selectedItem">
                                    <div class="country-item country-item-value" *ngIf="centreFiscal">
                                        <div>{{centreFiscal.code}}</div>
                                    </div>
                                </ng-template>
                                <ng-template let-centreFiscal pTemplate="item">
                                    <div class="country-item">
                                        <div>{{centreFiscal.libelle}}</div>
                                    </div>
                                </ng-template>
                            </p-dropdown>
                            <!-- <input type="text" [(ngModel)]="centreFiscal.code"
            placeholder="{{centreFiscal.code}}" formControlName="centreFiscal" id="inputtext-right" pInputText >  -->
                            <label for="chips"></label>
                        </span>
                    </div>
                </div>
                <div class="form-row justify-content-center">


                    <div class="field col-12 md:col-4">
                        <span class="h5texte">Adresse</span>
                        <span class="p-float-label p-input-icon-left">
                            <i class="pi pi-home"></i>
                            <input type="text" [(ngModel)]="adressePME" placeholder="{{adressePME}}"
                                formControlName="adressePME" id="inputtext-right" pInputText>
                            <label for="chips"></label>
                        </span>
                    </div>
                    <div class="field col-12 md:col-4">
                        <span class="h5texte">Activité Principale</span>
                        <span class="p-float-label">
                            <input type="text" [(ngModel)]="activitePrincipale" placeholder="{{activitePrincipale}}"
                                formControlName="activitePrincipale" id="inputtext-right" pInputText>
                            <label for="chips"></label>
                        </span>
                    </div>
                    <div class="field col-12 md:col-4">
                        <span class="h5texte">Capital Social</span>
                        <span class="p-float-label p-input-icon-left">
                            <i class="pi pi-money-bill"></i>
                            <input type="text" [(ngModel)]="capitalSocial" placeholder="{{capitalSocial}}"
                                formControlName="capitalSocial" id="inputtext-right" pInputText>
                            <label for="chips"></label>
                        </span>
                    </div>
                </div>

                <div class="form-row justify-content-center">

                    <div class="field col-12 md:col-4">
                        <span class="h5texte">Effectif Permanent</span>
                        <span class="p-float-label p-input-icon-left">
                            <i class="pi pi-users"></i>
                            <input type="text" [(ngModel)]="effectifPermanent" placeholder="{{effectifPermanent}}"
                                formControlName="effectifPermanent" id="inputtext-right" pInputText>
                            <label for="chips"></label>
                        </span>
                    </div>
                    <div class="field col-12 md:col-4">
                        <span class="h5texte">Nombre d'établissements</span>
                        <span class="p-float-label p-input-icon-left">
                            <i class="pi pi-chart-bar"></i>
                            <input type="text" [(ngModel)]="nombreEtablissementSecondaires"
                                placeholder="{{nombreEtablissementSecondaires}}"
                                formControlName="nombreEtablissementSecondaires" id="inputtext-right" pInputText>
                            <label for="chips"></label>
                        </span>
                    </div>
                </div>
                <div class="col-12 justify-content-end pr-0 d-flex">
                    <div class="col-3">
                        <button id="valider" pButton pRipple label="Annuler" icon="pi pi-times"
                            class="float-right dangerButton" routerLink="../demandes_en_cours"></button>
                    </div>

                    <div class="col-3">
                        <button type="submit" id="valider" pButton pRipple label="Enregistrer" icon="pi pi-check"
                            class="float-right successButton" type="submit"></button>

                    </div>

                </div>
            </div>

        </div>
    </p-card>
</form>