<div class="grid">
    <div class="col-12">
        <form [(formGroup)]="documentForm" (ngSubmit)="onSubmit()">
            <div class="field grid">
                <label htmlFor="name3" class="col-12 mb-2 md:col-2 md:mb-1 text">Convention</label>

                <div class="col-12 md:col-4 mb-2">
                    <div class="col-12">
                        <div class="formgroup-inline">
                            <div class="field col-12 md:col-12 mb-1">
                                <div class=" inputContainer">
                                    <input *ngIf="selectedFiles==null;else elseBlock" id="file" type="text" pInputText
                                        pTooltip="Charger la convention " placeholder="Pas de fichier">

                                    <ng-template #elseBlock id="file" type="text" pInputText
                                        pTooltip="Charger document">
                                        <input id="file" type="text" style="width: 265px;" pInputText
                                            pTooltip="Charger la convention" placeholder="{{selectedFiles.name}}">
                                    </ng-template>
                                    <input formControlName="nineaFile" class="hidden" type="file" id="upload-file"
                                        name="upload-file" ngf-max-size="2MB" (change)="selectFile($event)">


                                    <button type="button" pButton pRipple icon="pi pi-upload"
                                        class="mr-2 mb-2 upload p-button-rounded p-button-text" id="upload-file"
                                        (click)="handleClick()"></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </form>
        <div><br></div>
        <div class="col-12  pr-0 d-flex  flex-row-reverse">
            <button id="valider" style="width: min-content;" pButton pRipple label="Fermer" icon="pi pi-times"
                class="p-button-raised dangerButton" (click)="dismiss()"></button>

            <button type="button" id="valider" style="width: min-content;" pButton pRipple label="Soumettre"
                icon="pi pi-check" class="p-button-raised successButton pull-right" (click)="onSubmit()"></button>

        </div>
    </div>
</div>