
<div class="grid">
    <div class="col-12">
        <p-card>
            <div class="d-flex justify-content-center col-12">
                <div class="col-12 md:col-10   ">
                    <h3 class="title">Mes demandes de cession</h3>
                </div>
            </div>
            <br>

            <p-table #dt [value]="demandes" [columns]="cols" responsiveLayout="scroll" [rows]="5"
                [globalFilterFields]="['name','country.name','representative.name','status']" 
                [paginator]="true" [rowsPerPageOptions]="[5,10,20,30]" [showCurrentPageReport]="true"
                currentPageReportTemplate=" {totalRecords} lignes " [(selection)]="selectedProducts"
                selectionMode="multiple" [rowHover]="true" dataKey="id">

                <ng-template pTemplate="header">
                    <tr>
                        <th>
                            <p-columnFilter type="text" field="refBE" placeholder="Référence du BE">

                            </p-columnFilter>
                        </th>
                        <th>
                            <p-columnFilter type="text" field="type_marche" placeholder="Nom du marché">

                            </p-columnFilter>
                        </th>
                        <th>
                            <p-columnFilter type="date"  field="date_soumission" placeholder="Date de demande" [matchModeOptions]="matchModeOptions" [matchMode]="'rangeDate'" selectionMode="range" style="display: none;"></p-columnFilter>
                            <p-calendar [(ngModel)]="rangeDates" selectionMode="range" [readonlyInput]="true" inputId="range" formDate="dd/mm/yyyy" placeholder="Date de demande"></p-calendar>
                        </th>
                        <th>
                            <p-columnFilter field="statut" matchMode="equals" [showMenu]="false">
                                <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                    <p-dropdown [ngModel]="value" [options]="statuts" (onChange)="filter($event.value)" placeholder="Statuts" [showClear]="true">
                                        <ng-template let-option pTemplate="item">
                                            <span [class]="'product-badge status-' + (option.value ? option.value.toLowerCase() : '')">{{option.label}}</span>
                                        </ng-template>
                                    </p-dropdown>
                                </ng-template>
                            </p-columnFilter>
                        </th>
                        <th>
                            <button pButton pRipple icon="pi pi-search" class="p-button-rounded simpleButton"
                                 label="Rechercher"
                                (click)="dt.filter(refBE,datesoumission,statut)"></button>
                        </th>
                        <th *ngIf="rangeDates!=undefined">
                            <button pButton pRipple pTooltip="Annuler" icon="pi pi-times" class="p-button-rounded " label="Annuler" (click)="clearRange(dt)" style="background: white; color:#203359"></button>
                        </th>
                    </tr>
                    <tr>

                        <th pSortableColumn="refBE" style="color: #203359;">Référence du BE <p-sortIcon field="refBE">
                            </p-sortIcon>
                        </th>
                        <th pSortableColumn="type_marche" style="color: #203359;">Nom du marché<p-sortIcon
                                field="type_marche"></p-sortIcon>
                        </th>
                        <th pSortableColumn="date_soumission" style="color: #203359;">Date de demande <p-sortIcon
                                field="datesoumission"></p-sortIcon>
                        </th>
                        <th pSortableColumn="statut" style="color: #203359;">Statut <p-sortIcon field="rccm">
                            </p-sortIcon>
                        </th>

                        <th style="color: #203359;">Actions</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-demande>
                    <tr>

                        <td style="width:20%; min-width:10rem;">
                            <span class="p-column-title">Référence du BE</span>
                            {{demande.refBE}}
                        </td>
                        <td style="width:20%; min-width:10rem;">
                            <span class="p-column-title">Nom du marché</span>
                            {{demande.nomMarche}}
                        </td>

                        <td style="width:20%; min-width:8rem;">
                            <span class="p-column-title">Date demande</span>
                            {{demande.date_soumission  | date:'dd/MM/yyyy'}}
                        </td>
                        <td style="width:20%;">
                            <span [class]="'product-badge status-' + (demande.statut ? demande.statut.toLowerCase() : '')">{{demande.statut.replaceAll('-', ' ')}}</span>

       
                        </td>

                        <td>
                            <div class="flex">
                                <button pButton pRipple icon="pi pi-eye"
                                    class="p-button-rounded simpleButton"
                                    (click)="consulterDemande(demande)" pInputText
                                    pTooltip="Consulter les dossiers"></button>
                                <button *ngIf="demande.statut=='Complément-requis'" pButton pRipple icon="pi pi-pencil"
                                    class="p-button-rounded simpleButton" pTooltip="Completer le dossier"
                                    [routerLink]="['complement_documents']" (click)="setDemandeInfo(demande)"></button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </p-card>

        <p-dialog showHeader="false" [(visible)]="productDialog" [style]="{width: '80%'}" [modal]="true">
            <ng-template pTemplate="header">

            </ng-template>
            <div class="col-12">

                <div class="cardDoc card-w-title flex flex-wrap">
                    <div class="col-12 md:col-8 h-full">
                        <h5 style="text-align:center;position: relative; right: -200px;">Documents Complementaires</h5>

                    </div>
                    <div class="col-12 md:col-4 mt-5 md:mt-0">
                        <router-outlet>
                        </router-outlet>
                    </div>
                </div>
            </div>
            <div><br></div>
            <ng-template pTemplate="content">
                <div class="p-formgrid grid ml-auto">
                    <div class="field grid">
                        <label htmlFor="ninea" class="col-10 mb-2 md:col-2 md:mb-0">Référence du BE</label>
                        <div class="col-12 md:col-8 ml-4">
                            <ng-template #elseNINEABlock id="NINEAfile" type="text" pInputText>{{demande.ninea}}
                            </ng-template>
                        </div>
                    </div>
                    <div class="field grid ml-auto">
                        <label htmlFor="rccm" class="col-12 mb-2 md:col-2 md:mb-0">Date Soumission</label>
                        <div class="col-12 md:col-8 ml-4">
                            <span>{{demande.statut}}</span>
                        </div>
                    </div>
                </div><br>

                <br>
                <div class="">
                    <div class="mt-8 p-fluid">
                        <form [formGroup]="form" (ngSubmit)="onSubmit()">

                            <div class="field grid">


                                <p-dropdown [options]="cities" [(ngModel)]="selectedCity1"
                                    placeholder="Selectionner le type du document" optionLabel="name"
                                    [showClear]="true"></p-dropdown>




                                <div class="col-12 md:col-6 mb-2">
                                    <div class="col-12">

                                        <div class="formgroup-inline">

                                            <div class="field col-12 md:col-5 mb-1">
                                                <input *ngIf="selectedBONFiles==null;else elseNINEABlock" id="NINEAfile"
                                                    type="text" pInputText pTooltip="Charger le fichier du bon"
                                                    placeholder="Here">
                                                <ng-template #elseNINEABlock id="NINEAfile" type="text" pInputText
                                                    pTooltip="Upload NINEA file">{{selectedBONFiles.name}}</ng-template>
                                                <input formControlName="nineaFile" class="hidden" type="file"
                                                    id="upload-NINEAfile" name="upload-BONfile" ngf-max-size="2MB"
                                                    (change)="selectBONFile($event)">
                                            </div>

                                            <div class="field col-12 md:col-5 mb-1">

                                                <button type="button" pButton pRipple label="Parcourir"
                                                    icon="pi pi-upload" class="mr-2 mb-2 upload " id="upload-NINEAfile"
                                                    (click)="handleBONClick()"></button>
                                            </div>

                                        </div>

                                    </div>

                                </div>
                            </div>
                            <div class="field grid" style="margin-top: 30px;">
                                <label class="col-12 mb-2 md:col-1 md:mb-0"></label>

                                <div class="col-12 md:col-4">
                                    <button type="submit" class="btn btn-success" [disabled]="!form.valid" pButton
                                        pRipple label="Soumettre" class="successButton mr-2 mb-2"></button>
                                </div>

                            </div>
                        </form>

                    </div>
                </div>

            </ng-template>


        </p-dialog>

        <p-dialog [(visible)]="deleteProductDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span *ngIf="product">Are you sure you want to delete <b>{{product.name}}</b>?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No"
                    (click)="deleteProductDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes"
                    (click)="confirmDelete()"></button>
            </ng-template>
        </p-dialog>

        <p-dialog [(visible)]="deleteProductsDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span>Are you sure you want to delete selected products?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No"
                    (click)="deleteProductsDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes"
                    (click)="confirmDeleteSelected()"></button>
            </ng-template>
        </p-dialog>
    </div>
</div>