<!--<p-table
  #dt
  [value]="getData()"
-->
<p-table
  #dt
  [value]="datas"
  [(selection)]="selected"
  [dataKey]="tableConfig!.dataKey!"
  [styleClass]="'p-datatable-customers rounded'"
  [rowHover]="true"
  [rows]="tableConfig!.paginationRow!"
  [showCurrentPageReport]="true"
  [rowsPerPageOptions]="[5,10,25,50]"
  [loading]="tableConfig!.loading!"
  [paginator]="tableConfig!.enablePagination!"  (onRowSelect)="onSelect($event)"
  [currentPageReportTemplate]="'{totalRecords} lignes'"
  [filterDelay]="1"
  [globalFilterFields]="tableConfig!.searchBarField!"
  [columns]="cols!"
  [resizableColumns]=true
  [stateKey]="tableConfig!.key!"
  [stateStorage]="'session'"
  [expandedRowKeys]="expandedRows"
  (onRowUnselect)="onUnselect($event)"
  (onRowExpand)="onRowExpand()"
  (onRowCollapse)="onRowCollapse()"
>
  <!-- Title and custom actions start -->
  <ng-template pTemplate="caption">
    <ng-container *ngIf="!headerTemplateRef">
      <div class="row justify-content-center align-items-center">
        <div class="col-12 col-md-4 text-start d-flex">
          <h1 class="table-title">{{ tableConfig.title }}</h1>
          <i class="pi pi-info-circle" *ngIf="tableConfig.titleTooltip" [pTooltip]="tableConfig.titleTooltip" tooltipPosition="top"></i>
        </div>
        <div class="col-12 col-md-8 text-end">

          <!--Export and reload-->
          <div class="d-inline fix-position">
            <button class="btn btn-secondary ms-2" (click)="reload()" *ngIf="tableConfig.enableReload">
              <i class="pi pi-refresh"></i>
            </button>

            <div ngbDropdown class="d-inline-block ms-2" *ngIf="tableConfig.enableExport">
              <button class="btn btn-secondary" id="exportTable" ngbDropdownToggle><i class="pi pi-file"></i></button>
              <div ngbDropdownMenu aria-labelledby="exportTable">
                <button ngbDropdownItem (click)="excel()"><i class="pi pi-file-excel"></i> MS EXCEL</button>
                <button ngbDropdownItem (click)="dt.exportCSV()"><i class="pi pi-file"></i> CSV</button>
                <button ngbDropdownItem (click)="dt.exportCSV({selectionOnly:true})"><i class="pi pi-filter"></i>SELECTION</button>
                <button ngbDropdownItem *ngIf="tableConfig.rowSelect" (click)="dt.exportCSV({selectionOnly:true})"><i class="pi pi-filter"></i>SELECTION</button>
              </div>
            </div>
          </div>

          <!--Search bar-->
          <span class="p-input-icon-left ms-2 search-bar" *ngIf="tableConfig.enableSearchBar">
            <i class="pi pi-search"></i>
            <input class="form-control" pInputText type="text" #searchField (input)="dt.filterGlobal($any($event.target).value, 'contains');searchEventMethode(searchField.value)" placeholder="{{'COMMON.ACTIONS.SEARCH' | translate}}" />
<!--            <input class="form-control" pInputText type="text" (input)="dt.filterGlobal($any($event.target).value, 'startsWith')" placeholder="{{'COMMON.ACTIONS.SEARCH' | translate}}" />-->
          </span>

          <!--Add button-->
          <div *ngIf="tableConfig.addBtn" class="add-btn d-inline fix-position ms-2">
            <a pButton pRipple
               type="button"
               class="btn-eland ms-2"
               (click)="add()"
               label="{{ tableConfig.addBtnTitle ?? 'COMMON.ACTIONS.ADD' | translate }}"
               icon="pi pi-plus">
            </a>
          </div>

        </div>
      </div>
    </ng-container>
    <ng-container
      *ngIf="headerTemplateRef"
      [ngTemplateOutlet]="headerTemplateRef">
    </ng-container>
  </ng-template>
  <!-- Title and custom actions end -->

  <!-- Table Header start -->
  <ng-template pTemplate="header" let-columns>
    <tr class="mx-3">
      <th *ngIf="tableConfig.expandable"></th>
      <th *ngIf="!tableConfig.rowSelect && tableConfig.selectByRadio"></th>
      <th *ngIf="!tableConfig.rowSelect && tableConfig.selectByCheckBox">
        <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
      </th>
      <th *ngFor="let col of cols!" [pSortableColumn]="col.field" pResizableColumn [ngStyle]="{'width': col.width ?? 'inherit'}">
        <div class="p-d-flex p-jc-between p-ai-center">
          <span class="ms-2">{{ col.header | translate }}</span>
          <span class="p-ml-auto">
              <p-sortIcon *ngIf="col.sortable" [field]="col.field"></p-sortIcon>
              <p-columnFilter *ngIf="col.filterable" type="text" [field]="col.field" display="menu"></p-columnFilter>
          </span>
        </div>
      </th>
      <th *ngIf="tableConfig.displayState" pResizableColumn>{{'COMMON.ACTIONS.STATE' | translate}}</th>
      <th *ngIf="tableConfig.displayAction" pResizableColumn>{{'COMMON.ACTIONS.ACTION' | translate}}</th>
    </tr>

    <!--column search-->
    <tr *ngIf="tableConfig.extraFilter"  class="mx-3">
      <th *ngIf="tableConfig.expandable"></th>
      <th *ngIf="!tableConfig.rowSelect && tableConfig.selectByRadio"></th>
      <th *ngIf="!tableConfig.rowSelect && tableConfig.selectByCheckBox">
      </th>
      <th *ngFor="let col of cols!" pResizableColumn class="text-end text-center">
        <!--simple column search-->
<!--        <input *ngIf="col.searcheable" pInputText type="text" (input)="dt.filter($any($event.target).value, col.field, 'startsWith')" placeholder="{{'SEARCH_BY' | translate}} {{col.field}}" class="p-column-filter">-->
        <input *ngIf="col.searcheable" pInputText type="text" (input)="dt.filter($any($event.target).value, col.field, 'contains')" placeholder="{{'SEARCH_BY' | translate}} {{col.field}}" class="p-column-filter">
        <!--multiselect colum search-->
        <p-multiSelect *ngIf="col.multiselectable" [options]="col.multiSelectOptions!" placeholder="All" (onChange)="col.onMultiSelect!($event)" styleClass="p-column-filter" [optionLabel]="col.field">
          <ng-template let-option pTemplate="item">
            <div class="p-multiselect-representative-option">
              <span class="p-ml-1">{{option.label}}</span>
            </div>
          </ng-template>
        </p-multiSelect>
        <!--single select colum search-->
        <p-dropdown *ngIf="col.selectable" [options]="col.selectOptions!" (onChange)="dt.filter($event.value, col.field, 'equals')" styleClass="p-column-filter" placeholder="Select a {{col.field}}" [showClear]="true">
          <ng-template let-option pTemplate="item">
            <span [class]="'customer-badge status-' + option.value">&#123;&#123;option.label&#125;&#125;</span>
          </ng-template>
        </p-dropdown>
        <!--date select column search-->
        <p-calendar *ngIf="col.type==='date'" (onSelect)="col.onDateSelect!($event)" (onClearClick)="dt.filter('', col.field, 'equals')" [showButtonBar]="true" styleClass="p-column-filter" [placeholder]="col.header" [readonlyInput]="true" dateFormat="yy-mm-dd"></p-calendar>
      </th>
      <th *ngIf="tableConfig.displayAction" pResizableColumn></th>
      <th *ngIf="tableConfig.displayState" pResizableColumn></th>
    </tr>
  </ng-template>
  <!-- Table Header end -->

  <!-- Body start -->
  <ng-template pTemplate="body" let-data let-columns="columns" let-expanded="expanded">
    <tr class="p-selectable-row mx-3" [pSelectableRow]="data">
      <td *ngIf="tableConfig.expandable">
        <button type="button" pButton pRipple [pRowToggler]="data" class="p-button-text p-button-rounded p-button-plain" [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>
      </td>
      <td *ngIf="!tableConfig.rowSelect && tableConfig.selectByRadio">
        <p-tableRadioButton [value]="data"></p-tableRadioButton>
      </td>
      <td *ngIf="!tableConfig.rowSelect && tableConfig.selectByCheckBox">
        <p-tableCheckbox [value]="data"></p-tableCheckbox>
      </td>
      <ng-container *ngFor="let col of cols! ; index as i">
        <ng-template #defaultCol>
          <td class="break-word" style="word-wrap: break-word; word-break: break-all;">
            <ng-container *ngIf="col!.type! === 'text'"><p class="text-justify">{{col!.subField! ? data[col!.field][col!.subField!] : data[col!.field]}}</p></ng-container>
            <ng-container *ngIf="col!.type! === 'date'"><p class="text-justify">{{col!.subField! ? data[col!.field][col!.subField!] : data[col!.field] }}</p></ng-container>
            <ng-container *ngIf="col!.type! === 'progress'">
              <span class="p-column-title">{{col.field}}</span>
              <p-progressBar [value]="data![col!.field]" [showValue]="true"></p-progressBar>
            </ng-container>
<!--            <ng-container *ngIf="col.type === 'date'">{{col!.subField ? data[col!.field][col!.subField] : data[col!.field] | specificTimezone | localeDate:'longDate'}}</ng-container>-->
          </td>
        </ng-template>
        <ng-container
          [ngTemplateOutlet]="bodyRef || defaultCol"
          [ngTemplateOutletContext]="{ $implicit: data, col: col, custom: tableConfig.customData, index: i}"
        >
        </ng-container>
      </ng-container>
       <!-- State row start -->
       <td class="text-justify me-2" *ngIf="tableConfig.displayState">
        <ng-container *ngFor="let state of tableConfig.states ; index as i">
          <ng-template #defaultTemplate let-state>
            <a pButton pRipple *ngIf="state.type === 'validated'" type="button" [label]="(state.mini==null || state.mini==false)? ('COMMON.ACTIONS.VALIDATED' | translate):''" class="ms-2  btn-eland-accept text-center" pTooltip="{{'COMMON.ACTIONS.VALIDATED' | translate}}" (click)="actionCallback(state, data)" icon="pi pi-check"></a>
            <a pButton pRipple *ngIf="state.type === 'pending'" type="button" [label]="(state.mini==null || state.mini==false)? ('COMMON.ACTIONS.PENDING' | translate):''" class="ms-2 btn-eland-second text-center" pTooltip="{{'COMMON.ACTIONS.PENDING' | translate}}" (click)="actionCallback(state, data)" icon="pi pi-clock"></a>
            <a pButton pRipple *ngIf="state.type === 'rejected'" type="button" [label]="(state.mini==null || state.mini==false)? ('COMMON.ACTIONS.REJECTED' | translate):''" class="delete-button ms-2 btn-eland-warn text-center" pTooltip="{{'COMMON.ACTIONS.REJECTED' | translate}}" (click)="actionCallback(state, data)" icon="pi pi-times-circle"></a>
          </ng-template>

          <ng-container
            [ngTemplateOutlet]="statesRef || defaultTemplate "
            [ngTemplateOutletContext]="{ $implicit: state, item: data, custom: tableConfig.customData, index: i}"
          >
          </ng-container>

        </ng-container>
      </td>
      <!-- State row end -->
      <!-- Action row start -->
      <td class="text-end me-2" *ngIf="tableConfig.displayAction">
        <ng-container *ngFor="let action of tableConfig.actions ; index as i">
          <ng-template #defaultTemplate let-action>
            <a pButton pRipple *ngIf="action.type === 'download'" type="button" [label]="(action.mini==null || action.mini==false)? ('COMMON.ACTIONS.DOWNLOAD' | translate):''" class="ms-2 btn btn-eland-disable text-center" pTooltip="{{'COMMON.ACTIONS.DOWNLOAD' | translate}}" (click)="actionCallback(action, data)" icon="pi pi-download"></a>
            <a pButton pRipple *ngIf="action.type === 'start'" type="button" [label]="(action.mini==null || action.mini==false)? ('COMMON.ACTIONS.START' | translate):''" class="ms-2 btn-eland text-center" pTooltip="{{'COMMON.ACTIONS.START' | translate}}" (click)="actionCallback(action, data)" icon="pi pi-caret-right"></a>
            <a pButton pRipple *ngIf="action.type === 'view'" type="button" [label]="(action.mini==null || action.mini==false)? ('COMMON.ACTIONS.VIEW' | translate):''" class="ms-2 btn btn-eland-disable text-center" pTooltip="{{'COMMON.ACTIONS.VIEW' | translate}}" (click)="actionCallback(action, data)" icon="pi pi-info-circle"></a>
            <a pButton pRipple *ngIf="action.type === 'edit'" type="button" [label]="(action.mini==null || action.mini==false)? ('COMMON.ACTIONS.EDIT' | translate):''" class="ms-2 btn-eland-edit text-center" pTooltip="{{'COMMON.ACTIONS.EDIT' | translate}}" (click)="actionCallback(action, data)" icon="pi pi-pencil"></a>
            <a pButton pRipple *ngIf="action.type === 'delete'" type="button" [label]="(action.mini==null || action.mini==false)? ('COMMON.ACTIONS.DELETE' | translate):''" class="delete-button ms-2 btn-eland-warn text-center" pTooltip="{{'COMMON.ACTIONS.DELETE' | translate}}" (click)="actionCallback(action, data)" icon="pi pi-trash"></a>
            <a pButton pRipple *ngIf="action.type === 'open'" type="button" [label]="(action.mini==null || action.mini==false)? ('COMMON.ACTIONS.OPEN' | translate):''" class="delete-button ms-2 btn-eland-second text-center" pTooltip="{{'COMMON.ACTIONS.OPEN' | translate}}" (click)="actionCallback(action, data)" icon="pi pi-eye"></a>
            <a pButton pRipple *ngIf="action.type === 'archive'" type="button" [label]="(action.mini==null || action.mini==false)? ('COMMON.ACTIONS.ARCHIVE' | translate):''" class="delete-button ms-2 btn-eland-second text-center" pTooltip="{{'COMMON.ACTIONS.ARCHIVE' | translate}}" (click)="actionCallback(action, data)" icon="pi pi-eye"></a>
          </ng-template>

          <ng-container
            [ngTemplateOutlet]="actionsRef || defaultTemplate "
            [ngTemplateOutletContext]="{ $implicit: action, item: data, custom: tableConfig.customData, index: i}"
          >
          </ng-container>

        </ng-container>
      </td>
      <!-- Action row end -->
     
    </tr>
  </ng-template>
  <!-- Body end -->

  <!-- Expansion start -->
  <ng-template pTemplate="rowexpansion" let-data let-columns="columns">
    <tr>
      <td [attr.colspan]="cols!.length + 1">
        <ng-container
          [ngTemplateOutlet]="rowexpansionRef!"
          [ngTemplateOutletContext]="{ $implicit: data, custom: tableConfig.customData}"
        >
        </ng-container>
      </td>
    </tr>
  </ng-template>
  <!-- Expansion end -->

  <!-- Empty message start -->
  <ng-template pTemplate="emptymessage">
    <tr>
      <td colspan="12" class="text-center">{{'COMMON.LABELS.NO_RECORDS_FOUND' | translate}}</td>
    </tr>
  </ng-template>
  <!-- Empty message end -->

</p-table>

<p-confirmDialog
  id="eland-confirmDialog"
  header="{{'COMMON.ACTIONS.CONFIRM' | translate}}"
  icon="pi pi-exclamation-triangle"
  [style]="{width: '40vw'}"
  rejectButtonStyleClass="p-button-text p-button-plain confirm-dialog-cancel"
  rejectLabel="{{'COMMON.ACTIONS.CANCEL' | translate}}"
  acceptButtonStyleClass="p-button-danger"
  acceptLabel="{{'COMMON.ACTIONS.CONFIRM_REMOVE' | translate}}">
</p-confirmDialog>
