<!-- <router-outlet></router-outlet> -->

<h1>Liste des PMES</h1>
<table style="width:100%">
  <tr>
    <th>Ninea</th>
    <th>rccm</th>
    <th>Raisonsocial</th>
    <th>nomRep</th>
    <th>Actions</th>
  </tr>
  <tr *ngFor="let pme of pmes" >
    <td>{{ pme.Ninea }}</td>
    <td>{{ pme.rccm }}</td>
    <td>{{ pme.Raisonsocial }}</td>
    <td>{{ pme.nomRep }}</td>

    <td>
    <button (click)="deletePme(pme.id)">Delete</button>
    <button (click)="updatePpme(pme)">Update</button>
    </td>
  </tr>
</table>
