<div class="grid">
    <div class="col-12">
        <div class="d-flex justify-content-center col-12">
            <div class="col-12 md:col-10 modalTitle  ">
                <h3 class="title">Liste des paiements
                    sur le marché. Réf. BE:  {{bonEngagement.reference}}</h3>
            </div>
        </div>
        <div class="card">
            <button *ngIf="paiement.statutPme.code !== 'PME_TOTALEMENT_PAYEE'" id="valider" style=" float: right;margin-left: 90%;" pButton pRipple label="Payer" icon="pi pi-plus"
                class="successButton" (click)="ajouterPaimentPME()"></button>
            <p-table #dt [value]="detailsPaiements" [columns]="cols" responsiveLayout="scroll" [rows]="10"
                [globalFilterFields]="['referencePaiement','datePaiement','payer','montant']" [rows]="10"
                [paginator]="true" [rowsPerPageOptions]="[5,10,20,30]" [showCurrentPageReport]="true"
                currentPageReportTemplate=" {totalRecords} lignes" [rowHover]="true" dataKey="id">
                <ng-template pTemplate="header">
                    <tr>

                        <th pSortableColumn="datePaiement" style="color: #203359;">Date paiement<p-sortIcon
                                field="datePaiement"></p-sortIcon>
                        </th>
                        <th pSortableColumn="payer" style="color: #203359;">Enregistré par<p-sortIcon field="payer">
                            </p-sortIcon>
                        </th>
                        <th pSortableColumn="modePaiement" style="color: #203359;">Mode paiement<p-sortIcon
                                field="modePaiement"></p-sortIcon>
                        </th>
                        <th pSortableColumn="referencePaiement" style="color: #203359;">Référence paiement<p-sortIcon
                                field="referencePaiement"></p-sortIcon>
                        </th>
                        <th pSortableColumn="montant" style="color: #203359;">Montant<p-sortIcon field="montant">
                            </p-sortIcon>
                        </th>
                        <th style="color: #203359;">Actions</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-detailsPaiement>
                    <tr >
                        <td style="width:16%; min-width:8rem;">
                            <span class="p-column-title">Date paiement</span>
                            {{detailsPaiement.datePaiement | date: 'dd/MM/yyyy'}}
                        </td>
                        <td style="width:20%;">
                            <span class="p-column-title">Enregistré par</span>
                            {{detailsPaiement.comptable}}
                        </td>
                        <td style="width:20%; min-width:10rem;">
                            <span class="p-column-title">Mode paiement</span>
                            {{detailsPaiement.modePaiement}}
                        </td>
                        <td style="width:16%; min-width:10rem;">
                            <span class="p-column-title">Référence paiement</span>
                            {{detailsPaiement.reference}}
                        </td>
                        <td style="width:10%;">
                            <span class="p-column-title">Montant</span>
                            <span class="pull-right">{{detailsPaiement.montant | currency:'CFA' :
                                'symbol' : '1.0-0':'fr'}}</span>
                        </td>
                        <td>
                            <div class="flex">
                                <button pButton pRipple icon="pi pi-file" *ngIf="detailsPaiement.documents"
                                    class="p-button-rounded p-button-text mr-2 button simpleButton"
                                    pTooltip="Visualiser la preuve de paiement"
                                    (click)="detailPaimentPME(detailsPaiement.documents)"></button>
                                <button pButton pRipple icon="pi pi-file" *ngIf="!detailsPaiement.documents"
                                    class="p-button-rounded p-button-text mr-2 button simpleButton"
                                    (click)="detailPaimentPME(detailsPaiement.documents)" [disabled]="true"></button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="summary">
                    <span class="textLeft">
                        <span>Solde :</span> {{paiement.soldePME  | currency:'CFA' : 'symbol' : '1.0-0':'fr'}}
                    </span>
                    <span class="textRight">
                        <span>Montant total :</span> {{montantRecuPME | currency:'CFA' : 'symbol' : '1.0-0':'fr'}}
                    </span>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>