@import "../../../../../../../assets/sass/custom/variables.scss";
@import "../../../../../../../assets/sass/custom/layout.scss";


.modalTitle{
    justify-content: center;
    display: flex;
    

    
}

.product-badge {
    border-radius: var(--border-radius);
    padding: .25em .5rem;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: .3px;

    &.status-convention_transmise {
        background: #C8E6C9;
        color: #256029;
    }
    &.status-convention_acceptee {
        background: #C8E6C9;
        color: #256029;
    }
   
    &.status-convention-rejetée {
        background: #FFCDD2;
        color: #C63737;
    }

    &.status-risquée {
        background: #FFCDD2;
        color: #C63737;
    }

    &.status-convention-enregistrée{
        background: #FEEDAF;
        color: #8A5340;
    }
    &.status-convention_signee_par_dg {
        background: #FEEDAF;
        color: #8A5340;
    }
    &.status-convention_generee {
        background: #c9ddfa;
        color: #354d8f;
    }
}


//cacher les bouton de filtre
::ng-deep button.p-column-filter-menu-button {
    display: none;
}

::ng-deep button.p-column-filter-clear-button {
    display: none;
}

::ng-deep span.p-paginator-current.ng-star-inserted{
    color: #203359;

}

::ng-deep button.p-ripple.p-element.p-paginator-page.p-paginator-element.p-highlight.ng-star-inserted{
    background-color: #203359;

}

::ng-deep li#p-highlighted-option.p-ripple.p-element.p-dropdown-item.p-highlight{
    background-color: #203359;

}

.title{
    color:#203359;
    font-weight: bold;
}

::ng-deep i.p-sortable-column-icon.pi.pi-fw.pi-sort-alt{
    color: #203359;

}

::ng-deep i.p-sortable-column-icon.pi.pi-fw.pi-sort-amount-up-alt{
    color: #203359;

}