@import "../../../../../assets/sass/custom/variables.scss";
@import "../../../../../assets/sass/custom/layout.scss";

.modalTitle{
    background-color: #F2F2F2;
    justify-content: center;
    height: 40px;
    border-radius: 2%;
    display: flex;
    width: fit-content;

    
}

.my-actions { margin: 0 2em; }
.order-1 { order: 1; }
.order-2 { order: 2; }
.order-3 { order: 3; }

.right-gap {
  margin-right: auto;
}
.required{
    color: red;
}

.ngx-intl-tel-input{
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 1rem;
    color: #495057;
    background: #ffffff;
    padding: 0.5rem 0.75rem;
    border: 1px solid #ced4da;
    transition: background-color 0.15s, border-color 0.15s, box-shadow 0.15s;
    appearance: none;
    border-radius: 4px;
    border-color: #ced4da;
    margin: 0;
    width: 100%;
}

.label1{
    color: #203359;
    font-weight: bolder;
}

.button{
    background-color: #707070DD;
    border-color: #707070DD;
}

.button:hover{
    background-color: #707070FF;
    border-color: #707070FF;
}

.success{
    background: #99CC33DD;
    border-color: #99CC33DD;
}

.success:hover{
    background: #99CC33FF;
    border-color: #99CC33FF;

}