.modalTitle{
    background-color: #F2F2F2;
    justify-content: center;
    height: 40px;
    border-radius: 2%;
    display: flex;
    width: fit-content;

    
}


.label1{
    color: #203359;
    font-weight: bolder;
}

.button{
    background-color: #707070;
}