<div class="stepsdemo-content">
    <p-card >
        <ng-template pTemplate="content">
            <div class="p-formgrid grid row" [formGroup]="informationsForm">
                    <div class="field grid col-sm-12 col-xl-4 row">
                        <label htmlFor="name3" class="col-sm-12 col-md-12 col-xl-12" style="font-weight: bold;color: #203359;">Dénomination</label>
                        <div class="col-sm-12 col-md-12 col-xl-12">
                            <input pInputText id="name3" type="text" placeholder="Modelsis" formControlName="raisonSocial" style="width: 100%;"/>
                        </div>
                    </div>
                    <div class="field grid col-sm-12 col-xl-4 row">
                        <label htmlFor="name3" class="col-sm-12 col-md-12 col-xl-12" style="font-weight: bold;color: #203359;">Représentant Légal</label>
                        <div class="col-sm-12 col-md-12 col-xl-12">
                            <input pInputText id="name3" type="text" placeholder="Mme Ndiaye" formControlName="representantLegal" style="width: 100%;"/>
                        </div>
                    </div>
                    <div class="field grid col-sm-12 col-xl-4 row">
                        <label htmlFor="name3" class="col-sm-12 col-md-12 col-xl-12" style="font-weight: bold;color: #203359;">Enseigne/Sigle</label>
                        <div class="col-sm-12 col-md-12 col-xl-12">
                            <input pInputText id="name3" type="text" placeholder="MicroClean" formControlName="enseigne" style="width: 100%;"/>
                        </div>
                    </div>
                    <div class="field grid col-sm-12 col-xl-4 row">
                        <label htmlFor="name3" class="col-sm-12 col-md-12 col-xl-12" style="font-weight: bold;color: #203359;">Forme Juridique</label>
                        <div class="col-sm-12 col-md-12 col-xl-12">
                            <input pInputText id="name3" type="text" placeholder="SARL" formControlName="formeJuridique" style="width: 100%;"/>
                        </div>
                    </div>
                    <div class="field grid col-sm-12 col-xl-4 row">
                        <label htmlFor="name3" class="col-sm-12 col-md-12 col-xl-12" style="font-weight: bold;color: #203359;">N° CNI du représentant</label>
                        <div class="col-sm-12 col-md-12 col-xl-12">
                            <input pInputText id="name3" type="text" placeholder="00000000000" formControlName="cniRepresentant" style="width: 100%;"/>
                        </div>
                    </div>
                    <div class="field grid col-sm-12 col-xl-4 row">
                        <label htmlFor="name3" class="col-sm-12 col-md-12 col-xl-12" style="font-weight: bold;color: #203359;">Téléphone</label>
                        <div class="col-sm-12 col-md-12 col-xl-12">
                            <input pInputText id="name3" type="text" placeholder="33 333 33 33" formControlName="telephonePME" style="width: 100%;"/>
                        </div>
                    </div>
                    <div class="field grid col-sm-12 col-xl-4 row">
                        <label htmlFor="name3" class="col-sm-12 col-md-12 col-xl-12" style="font-weight: bold;color: #203359;">Centre Fiscal</label>
                        <div class="col-sm-12 col-md-12 col-xl-12">
                            <input pInputText id="name3" type="text" placeholder="Centre Fiscal" formControlName="centreFiscal" style="width: 100%;"/>
                        </div>
                    </div>
                    <div class="field grid col-sm-12 col-xl-4 row">
                        <label htmlFor="name3" class="col-sm-12 col-md-12 col-xl-12" style="font-weight: bold;color: #203359;">Date d'immatriculation</label>
                        <div class="col-sm-12 col-md-12 col-xl-12">
                            <input pInputText id="name3" type="text" placeholder="20/02/2000" formControlName="dateImmatriculation" style="width: 100%;"/>
                        </div>
                    </div>
                    <div class="field grid col-sm-12 col-xl-4 row">
                        <label htmlFor="name3" class="col-sm-12 col-md-12 col-xl-12" style="font-weight: bold;color: #203359;">Adresse/BP</label>
                        <div class="col-sm-12 col-md-12 col-xl-12">
                            <input pInputText id="name3" type="text" placeholder="Dieuppeul 3 No2654/C0" formControlName="adresse" style="width: 100%;"/>
                        </div>
                    </div>
                    <div class="field grid col-sm-12 col-xl-4 row">
                        <label htmlFor="name3" class="col-sm-12 col-md-12 col-xl-12" style="font-weight: bold;color: #203359;">Localité</label>
                        <div class="col-sm-12 col-md-12 col-xl-12">
                            <input pInputText id="name3" type="text" placeholder="Dakar" formControlName="localite" style="width: 100%;"/>
                        </div>
                    </div>
                    <div class="field grid col-sm-12 col-xl-4 row">
                        <label htmlFor="name3" class="col-sm-12 col-md-12 col-xl-12" style="font-weight: bold;color: #203359;">Contrôle</label>
                        <div class="col-sm-12 col-md-12 col-xl-12">
                            <input pInputText id="name3" type="text" placeholder="1" formControlName="controle" style="width: 100%;"/>
                        </div>
                    </div>
                    <div class="field grid col-sm-12 col-xl-4 row">
                        <label htmlFor="name3" class="col-sm-12 col-md-12 col-xl-12" style="font-weight: bold;color: #203359;">Activité Principale</label>
                        <div class="col-sm-12 col-md-12 col-xl-12">
                            <input pInputText id="name3" type="text" placeholder="33 333 33 33" formControlName="activitePrincipale" style="width: 100%;"/>
                        </div>
                    </div>
                    <div class="field grid col-sm-12 col-xl-4 row">
                        <label htmlFor="name3" class="col-sm-12 col-md-12 col-xl-12" style="font-weight: bold;color: #203359;">Autorisation Ministérielle </label>
                        <div class="col-sm-12 col-md-12 col-xl-12">
                            <input pInputText id="name3" type="text" placeholder="" formControlName="" style="width: 100%;"/>
                        </div>
                    </div>
                    <div class="field grid col-sm-12 col-xl-4 row">
                        <label htmlFor="name3" class="col-sm-12 col-md-12 col-xl-12" style="font-weight: bold;color: #203359;">Registre de commerce</label>
                        <div class="col-sm-12 col-md-12 col-xl-12">
                            <input pInputText id="name3" type="text" placeholder="SN DKR 2013 A 10515" formControlName="registre" style="width: 100%;"/>
                        </div>
                    </div>
                    <div class="field grid col-sm-12 col-xl-4 row">
                        <label htmlFor="name3" class="col-sm-12 col-md-12 col-xl-12" style="font-weight: bold;color: #203359; width: 100%;">Date de création</label>
                        <div class="col-sm-12 col-md-12 col-xl-12">
                            <input pInputText id="name3" type="date" placeholder="20/10/2013" formControlName="date_creation" style="width: 100%;"/>
                        </div>
                    </div>
                    <div class="field grid col-sm-12 col-xl-3 row">
                        <label htmlFor="name3" class="col-sm-12 col-md-12 col-xl-12" style="font-weight: bold;color: #203359;">Capital Social</label>
                        <div class="col-sm-12 col-md-12 col-xl-12">
                            <input pInputText id="name3" type="text" placeholder="" formControlName="capitalsocial"/>
                        </div>
                    </div>
                    <div class="field grid col-sm-12 col-xl-3 row">
                        <label htmlFor="name3" class="col-sm-12 col-md-12 col-xl-12" style="font-weight: bold;color: #203359;">Chiffre d'affaires</label>
                        <div class="col-sm-12 col-md-12 col-xl-12">
                            <input pInputText id="name3" type="text" placeholder="0000000" formControlName="chiffre"/>
                        </div>
                    </div>
                    <div class="field grid col-sm-12 col-xl-3 row">
                        <label htmlFor="name3" class="col-sm-12 col-md-12 col-xl-12" style="font-weight: bold;color: #203359;">Effectif Permanent</label>
                        <div class="col-sm-12 col-md-12 col-xl-12">
                            <input pInputText id="name3" type="text" placeholder="SN DKR 2013 A 10515" formControlName="effectif"/>
                        </div>
                    </div>
                    <div class="field grid col-sm-12 col-xl-3 row">
                        <label htmlFor="name3" class="col-sm-12 col-md-12 col-xl-12" style="font-weight: bold;color: #203359;">Nombre d'établ. sdaires</label>
                        <div class="col-sm-12 col-md-12 col-xl-12">
                            <input pInputText id="name3" type="text" placeholder="10" formControlName="etablissements"/>
                        </div>
                    </div>

            </div>
           
        </ng-template>
        <ng-template pTemplate="footer">
            <div class="col-12 float-right d-flex justify-content-end">
                    <button  id="suivant" pButton pRipple label="Précedent" class="p-button-raised simpleButton" (click)="prevPage()"></button>
                    <button  id="suivant" pButton pRipple label="Valider l'adhésion" icon="pi pi-check" class="successButton" (click)="onSubmit()"></button>
            </div>
        </ng-template>
    </p-card>
</div>