.card {
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
}

.card-w-title{
    background-color:#203359;
    border-radius:0px;
}

.text{
    color: #203359;
    font-weight: bold;
}

/*::ng-deep .p-fileupload{
    display:flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    background: none;
    height: 1px;

}

::ng-deep .p-fileupload-buttonbar .p-fileupload-choose{
    color: #243E73;
    margin: 0%;
    padding: 0%;
    font-weight: bolder;
    width: 100px;
    background-color: gainsboro;
    border: 0px;
    
}

::ng-deep .p-fileupload-buttonbar{
    margin: 0%;
    padding: 0%;
}

::ng-deep .p-button-icon{
    color: #243E73;
    margin: 0%;
    padding: 0%;
    font-weight: bolder;

}*/
.p-button-danger{
    background-color: #A6325C;
}

.hidden {
    visibility: hidden;
    width: 1px;
    height: 1px;
  }

  

  .container {
    position: relative;
    top: 0px;
    left: 0px;
  }
  
  .upload {
    position: absolute;
    top: 2px;
    right: 0px;
    font-size: 108px;
    font-weight:1000;
    color: #203359;
  }
  

.image{
    width: 150px;
    height: 60px;
}

.hidden {
    visibility: hidden;
    width: 1px;
    height: 1px;
  }

.card {
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
}

.soumettre{
    background-color: #981639;
}
.confirm{
    background-color: #99CC33;
}
.card-w-title{
    background-color:#203359;
    border-radius:0px;
}


.text{
    color: #203359;
    font-weight: bold;
}





    
    
    
  
    
  
    
    
    