<div class="layout-topbar-left">
    <div class="layout-topbar-logo-wrapper">
    <a href="#" class="layout-topbar-logo">
        <img src="../../../assets/layout/images/logo-cdmp.png" class="image" alt="mirage-layout" />
        <span class="app-name"></span>
      </a>
    <!-- <img src="../../assets/layout/images/logo-cdmp.svg" class="rounded mx-auto d-block" alt="..."> -->
</div>
</div>
<div class="card card-w-title">
    <h5>Demande d'adhésion</h5>
</div>
<div class="col-md-8 offset-md-3">
    <div class="mt-8 p-fluid ">
        <p-card>
            <form [formGroup]="form" (ngSubmit)="onSubmit()">
                <div class="field grid">
                    <label htmlFor="name3" class="col-12 mb-2 md:col-1 md:mb-1 text">NINEA</label>
                    <div class="col-12 md:col-3 mb-2">
                        <p-inputNumber formControlName="ninea" placeholder="10585678"  minlength="8"  maxlength="12" ></p-inputNumber>
                    </div>
                    <div class="col-12 md:col-4 mb-2">
                        <div class="col-12">
                            <div class="formgroup-inline">
                                <div class="field col-12 md:col-12 mb-1">
                                    <label for="NINEAfile" class="p-sr-only">NINEA File</label>
                                    <div class=" inputContainer">
                                        <input *ngIf="selectedNINEAFiles==null;else elseNINEABlock" id="NINEAfile" type="text"
                                            pInputText pTooltip="Charger le document de référence du NINEA" placeholder="NINEA">
                                            
                                        <ng-template #elseNINEABlock id="NINEAfile" type="text" pInputText
                                            pTooltip="Charger document">
                                            <input id="NINEAfile" type="text"
                                            pInputText pTooltip="Changer le document de référence du NINEA" placeholder="{{selectedNINEAFiles.name}}">
                                        </ng-template>
                                        <input formControlName="nineaFile" class="hidden" type="file" id="upload-NINEAfile"
                                            name="upload-NINEAfile" ngf-max-size="2MB" (change)="selectNINEAFile($event)">
                                            
        
                                        <button type="button" pButton pRipple icon="pi pi-upload"
                                                    class="mr-2 mb-2 upload p-button-rounded p-button-text" id="upload-NINEAfile"
                                                    (click)="handleNINEAClick()"></button>
                                    </div>
                                </div>
                                <!--div class="field col-12 md:col-4 mb-1">
    
                                    <button type="button" pButton pRipple icon="pi pi-upload"
                                        class="mr-2 mb-2 upload p-button-rounded p-button-text" id="upload-NINEAfile"
                                        (click)="handleNINEAClick()"></button>
                                </div-->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="field grid">
                    <label htmlFor="name3" class="col-12 mb-2 md:col-1 md:mb-0 text">RCCM</label>
                    <div class="col-12 md:col-3">
                        <p-inputNumber formControlName="rccm" placeholder="04056579"  minlength="8"  maxlength="12" ></p-inputNumber>
                    </div>
                    <div class="col-12 md:col-4 mb-2">
                        <div class="col-12">
                            <div class="formgroup-inline">
                                <div class="field col-12 md:col-12 mb-1">
                                    <label for="RCCMfile" class="p-sr-only">RCCMFile</label>
                                    <div class="inputContainer">
                                        <input *ngIf="selectedRCCMFiles==null;else elseRCCMBlock" id="RCCMfile" type="text"
                                            pInputText pTooltip="Charger le document de référence du RCCM" placeholder="RCCM">
                                        <ng-template #elseRCCMBlock id="RCCMfile" type="text" pInputText pTooltip="Upload file">
                                            <input id="RCCMfile" type="text" pInputText pTooltip="Changer le document de référence du RCCM" placeholder="{{selectedRCCMFiles.name}}">
                                        </ng-template>
                                        
                                        
                                        <input formControlName="rccmFile" class="hidden" type="file" id="upload-RCCMfile"
                                            name="upload-RCCMfile" ngf-max-size="2MB" (change)="selectRCCMFile($event)">
    
                                            <button type="button" pButton pRipple icon="pi pi-upload"
                                            class="upload p-button-rounded p-button-text " id="upload-RCCMfile"
                                            (click)="handleRCCMClick()"></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="field grid">
                    <label htmlFor="email3" class="col-12 mb-2 md:col-1 md:mb-0 text">Email</label>
                    <div class="col-12 md:col-3">
                        <input formControlName="email" pInputText id="email3" type="text" placeholder="...@.....sn" />
                    </div>
                </div>
                <div class="field grid" style="margin-top: 30px;">
                    <label class="col-12 mb-2 md:col-1 md:mb-0"></label>
                    <div class="col-12 md:col-3">
                        <button type="submit" [disabled]="!form.valid" pButton pRipple
                            label="Soumettre" class=" p-button-danger dangerButton" ></button>
                    </div>
                </div>
            </form>
        </p-card>
    </div>
</div>