.card {
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
}

.card-w-title{
    background-color:#203359;
    border-radius:0px;
}

.text{
    color: #203359;
    font-weight: bold;
}

/*::ng-deep .p-fileupload{
    display:flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    background: none;
    height: 1px;

}

::ng-deep .p-fileupload-buttonbar .p-fileupload-choose{
    color: #243E73;
    margin: 0%;
    padding: 0%;
    font-weight: bolder;
    width: 100px;
    background-color: gainsboro;
    border: 0px;
    
}

::ng-deep .p-fileupload-buttonbar{
    margin: 0%;
    padding: 0%;
}

::ng-deep .p-button-icon{
    color: #243E73;
    margin: 0%;
    padding: 0%;
    font-weight: bolder;

}*/
.p-button-danger{
    background-color: #A6325C;
}

.upload{
    background-color:#203359;
}

.hidden {
    visibility: hidden;
    width: 1px;
    height: 1px;
  }