<div class="layout-topbar-left">

</div>
<div class="layout-megamenu-wrapper">
    <a class="">
        <img class="logo-menu" src="../../../assets/layout/images/logo-cdmp.png" alt="mirage-layout" />

    </a>

</div>
<div class="card card-w-title">
    <h4>Demande d'adhésion</h4>
</div>
<div class="col-md-8 offset-md-3 justify-content-right">
    <div class="mt-8 p-fluid " style="width:70vw; right: 100px ; position: relative;">
        <p-card>
            <form [formGroup]="form" (ngSubmit)="onSubmit()">
                <div class="field grid">
                    <label htmlFor="name3" class="col-12 mb-2 md:col-2 md:mb-1 text">NINEA<span class="required">*</span></label>
                    <div class="col-12 md:col-3 mb-2">
                        <input pInputText formControlName="ninea" placeholder="10585678" type="text" id="ninea">
                        <span *ngIf="submit && f['ninea'].errors! && !f['ninea'].hasError('required')"
                            style="color: red;">Renseigner au plus 13 caractères</span>
                        <span *ngIf="submit && f['ninea'].hasError('required')" style="color: red;">{{message}}</span>
                    </div>
                    <div class="col-12 md:col-5 mb-2">
                        <div class="col-12">
                            <div class="formgroup-inline">
                                <div class="field col-12 md:col-12 mb-1">
                                    <div class=" inputContainer">
                                        <span class="p-float-label">
                                            <input *ngIf="selectedNINEAFiles==null;else elseNINEABlock" id="NINEAfile"
                                                type="text" pInputText
                                                pTooltip="Charger le document de référence du NINEA">
                                            <label for="NINEAfile"></label>
                                        </span>

                                        <ng-template #elseNINEABlock id="NINEAfile" type="text" pInputText
                                            pTooltip="Charger document">
                                            <input id="NINEAfile" type="text" pInputText
                                                pTooltip="Charger le document de référence du NINEA"
                                                placeholder="{{selectedNINEAFiles.name}}">
                                        </ng-template>
                                        <input formControlName="nineaFile" class="hidden" type="file" accept=".pdf,.
                                            PDF" id="upload-NINEAfile" name="upload-NINEAfile" ngf-max-size="2MB"
                                            (change)="selectNINEAFile($event)">
                                        <button type="button" pButton pRipple icon="pi pi-upload"
                                            class="mr-2 mb-2 upload p-button-rounded p-button-text"
                                            id="upload-NINEAfile" (click)="handleNINEAClick()"></button>
                                        <span *ngIf="submit && f['nineaFile'].errors"
                                            style="color: red;">{{message}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="field grid">
                    <label htmlFor="name3" class="col-12 mb-2 md:col-2 md:mb-0 text">RCCM<span class="required">*</span></label>
                    <div class="col-12 md:col-3">
                        <input pInputText formControlName="rccm" placeholder="SN-DKR 2011 G 24532" type="text"
                            id="rccm">
                        <span *ngIf="submit && f['rccm'].errors" style="color: red;">{{message}}</span>
                    </div>
                    <div class="col-12 md:col-5 mb-2">
                        <div class="col-12">
                            <div class="formgroup-inline">
                                <div class="field col-12 md:col-12 mb-1">
                                    <div class="inputContainer">
                                        <span class="p-float-label">
                                            <input *ngIf="selectedRCCMFiles==null;else elseRCCMBlock" id="RCCMfile"
                                                type="text" pInputText
                                                pTooltip="Charger le document de référence du RCCM">
                                            <label for="RCCMfile"></label>
                                        </span>

                                        <ng-template #elseRCCMBlock id="RCCMfile" type="text" pInputText
                                            pTooltip="Upload file">
                                            <input id="RCCMfile" type="text" pInputText
                                                pTooltip="Changer le document de référence du RCCM"
                                                placeholder="{{selectedRCCMFiles.name}}">
                                        </ng-template>


                                        <input formControlName="rccmFile" class="hidden" type="file" accept=".pdf,.
                                        PDF" id="upload-RCCMfile" name="upload-RCCMfile" ngf-max-size="2MB"
                                            (change)="selectRCCMFile($event)">
                                        <button type="button" pButton pRipple icon="pi pi-upload"
                                            class="upload p-button-rounded p-button-text " id="upload-RCCMfile"
                                            (click)="handleRCCMClick()"></button>
                                        <span *ngIf="submit && f['rccmFile'].errors"
                                            style="color: red;">{{message}}</span>
                                    </div>
                                </div>
                                <input formControlName="rccmFile" class="hidden" type="file" accept=".pdf,.
                                PDF" id="upload-RCCMfile" name="upload-RCCMfile" ngf-max-size="2MB"
                                    (change)="selectRCCMFile($event)">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="field grid">
                    <label htmlFor="email3" class="col-12 mb-2 md:col-2 md:mb-0 text">Email<span class="required">*</span></label>
                    <div class="col-12 md:col-3">
                        <input formControlName="email" pInputText id="email3" type="text"
                            placeholder="exemple@mail.sn" />
                        <span *ngIf="submit && f['email'].errors! && !f['email'].hasError('required')"
                            style="color: red;">Renseigner un bon email</span>
                        <span *ngIf="submit && f['email'].hasError('required')" style="color: red;">{{message}}</span>
                    </div>
                </div>
                <div
                    >
                    <!-- *ngIf="form.value['ninea'] && form.value['rccm'] && form.value['nineaFile'] && form.value['rccmFile'] && form.value['email']" -->
                    <div class="stepsdemo-content">
                        <p-card>
                            <ng-template pTemplate="content">
                                <div class="p-formgrid p-fluid grid row container">
                                    <div class="field grid col-12 md:col-4 mr-2">
                                        <label htmlFor="name3"
                                            style="font-weight: bold;color: #203359;">Dénomination</label>
                                        <div class="p-inputgroup">
                                            <span class="p-float-label">
                                                <input pInputText id="name3" type="text"
                                                    placeholder="Nom de l'entreprise" formControlName="raisonSocial"
                                                    style="width: 100%;" />
                                            </span>

                                        </div>
                                        <span *ngIf="submit && f['raisonSocial'].errors"
                                            style="color: red;">{{message}}</span>

                                    </div>
                                    <div class="field grid col-12 md:col-4 mr-2">
                                        <label htmlFor="name3" style="font-weight: bold;color: #203359;"> Prénom
                                            représentant <span class="required"></span></label>
                                        <div class="p-inputgroup">
                                            <span class="p-float-label">
                                                <input pInputText id="name3" type="text" placeholder="Prénom "
                                                    formControlName="prenomRepresentant" style="width: 100%;" />
                                            </span>
                                        </div>
                                        <span *ngIf="submit && f['prenomRepresentant'].errors"
                                            style="color: red;">{{message}}</span>

                                    </div>
                                    <div class="field grid col-12 md:col-4 mr-2">
                                        <label htmlFor="name3" style="font-weight: bold;color: #203359;">Nom
                                            représentant <span class="required"></span></label>
                                        <div class="p-inputgroup">
                                            <span class="p-float-label">
                                                <input pInputText id="name3" type="text" placeholder="Nom"
                                                    formControlName="nomRepresentant" style="width: 100%;" />
                                            </span>
                                        </div>
                                        <span *ngIf="submit && f['nomRepresentant'].errors" style="color: red;">{{message}}</span>

                                    </div>
                                    <div class="field grid col-12 md:col-4 mr-2">
                                        <label htmlFor="name3"
                                            style="font-weight: bold;color: #203359;">Enseigne/Sigle<span
                                                class="required"></span></label>
                                        <div class="p-inputgroup">
                                            <span class="p-float-label">
                                                <input pInputText id="name3" type="text" formControlName="enseigne"
                                                    style="width: 100%;" />
                                            </span>
                                        </div>
                                    </div>
                                    <div  class="field grid col-12 md:col-4 mr-2">
                                        <label htmlFor="name3"
                                            style="font-weight: bold;color: #203359;">Forme Juridique<span class="required"></span></label>
                                        <div class="p-inputgroup">
                                            <!-- <span class="p-float-label">
                                            <input pInputText id="name3" type="text" formControlName="formeJuridique"
                                                style="width: 100%;" />
                                                </span> -->
                                            <p-dropdown [options]="formeJuridique" [style]="{width: '100%'}"
                                                formControlName="formeJuridique" optionLabel="nom" optionValue="type"
                                                [filter]="false" filterBy="name" [showClear]="true"
                                                placeholder="Sélectionnez une forme juridique">
                                                <ng-template pTemplate="selectedItem">
                                                    <div class="country-item country-item-value"
                                                        *ngIf="form.value['formeJuridique']">
                                                        <div>{{form.value['formeJuridique']}}</div>
                                                    </div>
                                                </ng-template>
                                                <ng-template let-formeJuridique>
                                                    <div class="country-item">
                                                        <div>{{formeJuridique}}</div>
                                                    </div>
                                                </ng-template>
                                            </p-dropdown>
                                           

                                        </div>
                                        <span *ngIf="submit && f['formeJuridique'].errors"
                                        style="color: red;">{{message}}</span>
                                    </div>
                                    <div  class="field grid col-12 md:col-4 mr-2">
                                        <label htmlFor="name3"
                                            style="font-weight: bold;color: #203359;">N° CNI du représentant<span
                                                class="required"></span></label>
                                        <div class="p-inputgroup">
                                            <span class="p-float-label">
                                                <input pInputText id="name3" type="text" placeholder="00000000000"
                                                    formControlName="cniRepresentant" style="width: 100%;" />
                                            </span>
                                            

                                        </div>
                                        <span
                                        *ngIf="submit && f['cniRepresentant'].errors! && !f['cniRepresentant'].hasError('required')"
                                        style="color: red; ">Veuillez renseigner 13
                                        caratères</span>
                                    </div>
                                    <div  class="field grid col-12 md:col-4 mr-2">
                                        <label htmlFor="name3"
                                            style="font-weight: bold;color: #203359;">Téléphone<span class="required"></span></label>
                                            <ngx-intl-tel-input [preferredCountries]="preferredCountries"
                                                [enableAutoCountrySelect]="false" [enablePlaceholder]="false" [searchCountryFlag]="true"
                                                [searchCountryField]="[SearchCountryField.Iso2, SearchCountryField.Name]"
                                                [selectFirstCountry]="false" [selectedCountryISO]="CountryISO.Senegal" [maxLength]="15"
                                                [phoneValidation]="true" [separateDialCode]="separateDialCode" name="phone"
                                                formControlName="telephonePME" >
                                            </ngx-intl-tel-input>
                                            <span *ngIf="submit && f['telephonePME'].invalid && !f['telephonePME'].hasError('required')"
                                            style="color: red; ">Renseigner un bon numéro</span>
                                        <span *ngIf="submit && f['telephonePME'].hasError('required')"
                                            style="color: red; ">{{message}}</span>
                                    </div>
                                    <div class="field grid col-12 md:col-4 mr-2">
                                        <label htmlFor="name3" style="font-weight: bold;color: #203359;">Centre
                                            Fiscal<span class="required"></span></label>
                                            
                                         <div class="p-inputgroup">
                                           
                                            <p-dropdown [options]="centreFiscal" [style]="{width: '20vw'}"
                                                formControlName="centreFiscal" optionLabel="nom" optionValue="type"
                                                [filter]="true" filterBy="nom" [showClear]="true"
                                                placeholder="Sélectionnez un centre fiscal">
                                                <ng-template pTemplate="selectedItem">
                                                    <div class="country-item country-item-value"
                                                        *ngIf="form.value['centreFiscal']">
                                                        <div>{{form.value['centreFiscal']}}</div>
                                                    </div>
                                                </ng-template>
                                                <ng-template let-centreFiscal>
                                                    <div class="country-item">
                                                        <div>{{centreFiscal}}</div>
                                                    </div>
                                                </ng-template>
                                            </p-dropdown>
                                            

                                            
                                            <!-- <span class="p-float-label">
                                                <input pInputText id="name3" type="text" placeholder="Centre Fiscal"
                                                    formControlName="centreFiscal" style="width: 100%;" />
                                            </span> -->
                                        </div> 
                                        <span *ngIf="submit && f['centreFiscal'].errors"
                                                style="color: red;">{{message}}</span>
                                    </div>
                                    <div class="field grid col-12 md:col-4 mr-2">
                                        <label htmlFor="name3"
                                            style="font-weight: bold;color: #203359; width: 100%;">Date de création
                                            <span class="required"></span></label>
                                        <p-calendar inputId="basic" formControlName="dateCreation" [maxDate]="dateTime"
                                            [ngStyle]="{'width': '100%'}">
                                        </p-calendar>
                                        <span *ngIf="submit && f['dateCreation'].errors"
                                            style="color: red;">{{message}}</span>

                                        </div>
                                   
                                    <div  class="field grid col-12 md:col-4 mr-2">
                                        <label htmlFor="name3"
                                            style="font-weight: bold;color: #203359;">Adresse/BP<span class="required"></span></label>
                                        <div class="p-inputgroup">
                                                    <span class="p-float-label">
                                            <input pInputText id="name3" type="text" placeholder="Adresse" formControlName="adressePME"
                                                style="width: 100%;" />
                                                </span>
                                        </div>
                                    </div>
                                    <div  class="field grid col-12 md:col-4 mr-2">
                                        <label htmlFor="name3"
                                            style="font-weight: bold;color: #203359;">Localité<span class="required"></span></label>
                                        <div class="p-inputgroup">
                                                    <span class="p-float-label">
                                            <input pInputText id="name3" type="text" formControlName="localite" style="width: 100%;"/>
                                        </span>
                                        </div>
                                    </div>
                                    <div  class="field grid col-12 md:col-4 mr-2">
                                        <label htmlFor="name3"
                                            style="font-weight: bold;color: #203359;">Contrôle<span class="required"></span></label>
                                        <div class="p-inputgroup">
                                                    <span class="p-float-label">
                                            <input pInputText id="name3" type="number" formControlName="controle" style="width: 100%;" />
                                       </span>
                                        </div>
                                    </div>
                                    <div  class="field grid col-12 md:col-4 mr-2">
                                        <label htmlFor="name3"
                                            style="font-weight: bold;color: #203359;">Activité Principale<span
                                                class="required"></span></label>
                                        <div class="p-inputgroup">
                                                    <span class="p-float-label">
                                            <input pInputText id="name3" type="text" placeholder="Secteur d'activité"
                                                formControlName="activitePrincipale" style="width: 100%;" />
                                                </span>
                                        </div>
                                    </div>
                                    <div  class="field grid col-12 md:col-4 mr-2">
                                        <label htmlFor="name3"
                                            style="font-weight: bold;color: #203359;">Autorisation Ministérielle <span
                                                class="required"></span></label>
                                        <div class="p-inputgroup">
                                                    <span class="p-float-label">
                                            <input pInputText id="name3" type="text" formControlName="autorisationMinisterielle"
                                                style="width: 100%;" />
                                                </span>
                                        </div>
                                    </div>
                                    <!-- <div  class="field grid col-12 md:col-4 mr-2">
                                        <label htmlFor="name3"
                                            style="font-weight: bold;color: #203359;">Registre de commerce<span
                                                class="required"></span></label>
                                        <div class="p-inputgroup">
                                                    <span class="p-float-label">
                                            <input pInputText id="name3" type="text" placeholder="SN DKR 2013 A 10515"
                                                formControlName="registre" style="width: 100%;" />
                                                </span>
                                        </div>
                                    </div> -->
                                    <div  class="field grid col-12 md:col-4 mr-2">
                                        <label htmlFor="name3"
                                            style="font-weight: bold;color: #203359;">Date d'immatriculation<span
                                                class="required"></span></label>
                                            <p-calendar inputId="basic" formControlName="dateImmatriculation"   [minDate]="form.value['dateCreation']" [maxDate]="dateTime" [ngStyle]="{'width': '100%'}">
                                           </p-calendar>
                                           <span *ngIf="!form.value['dateCreation'] && form.controls.dateImmatriculation.touched"
                                            style="color: red;">Veuillez renseigner la date de création d'abord.</span>
                                    </div>
                                    
                                    <div  class="field grid col-12 md:col-4 mr-2">
                                        <label htmlFor="name3"
                                            style="font-weight: bold;color: #203359;">Capital Social<span class="required"></span></label>
                                            <p-inputNumber formControlName="capitalSocial" [(ngModel)]="capitalSocial" placeholder="{{capitalSocial}}" mode="currency" currency="CFA">
                                            </p-inputNumber>
                                        </div>
                                    <div  class="field grid col-12 md:col-4 mr-2">
                                        <label htmlFor="name3"
                                            style="font-weight: bold;color: #203359;">Dernier chiffre d'affaires renseigné<span
                                                class="required"></span></label>                      
                                            <p-inputNumber formControlName="chiffresDaffaires" [(ngModel)]="chiffresDaffaires" placeholder="{{chiffresDaffaires}}"  mode="currency" currency="CFA">
                                            </p-inputNumber>
                                    </div>
                                    <!-- <div class="field grid col-12 md:col-4 mr-2">
                                        <label htmlFor="name3" style="font-weight: bold;color: #203359;">Chiffre
                                            d'affaires<span class="required"></span></label>
                                        <p-inputNumber formControlName="chiffresDaffaires" mode="currency"
                                            currency="CFA">
                                        </p-inputNumber>
                                    </div> -->
                                    <div class="field grid col-12 md:col-4 mr-2">
                                        <label htmlFor="name3" style="font-weight: bold;color: #203359;">Effectif
                                            Permanent<span class="required"></span></label>
                                        <div class="p-inputgroup">
                                            <span class="p-float-label">
                                                <input pInputText id="name3" type="number"
                                                    placeholder="Effectif Permanent"
                                                    formControlName="effectifPermanent" />
                                            </span>
                                        </div>
                                    </div>
                                    <div class="field grid col-12 md:col-4 mr-2">
                                        <label htmlFor="name3" style="font-weight: bold;color: #203359;">Nombre d'établ.
                                            sdaires<span class="required"></span></label>
                                        <div class="p-inputgroup">
                                            <span class="p-float-label">
                                                <input pInputText id="name3" type="number"
                                                    placeholder="nombre Etablissement Secondaires"
                                                    formControlName="nombreEtablissementSecondaires" />
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </ng-template>
                            <ng-template pTemplate="footer">
                                <div class="col-12 float-right d-flex justify-content-end">
                                    <button *ngIf="(profil === 'DSEAR')" id="suivant" pButton pRipple label="Précedent"
                                        class="p-button-raised simpleButton" (click)="prevPage()"></button>
                                    <button id="suivant" pButton pRipple label="Valider l'adhésion"
                                        *ngIf="(profil === 'DSEAR')" icon="pi pi-check" class="successButton"
                                        (click)="onSubmit()"></button>
                                </div>
                            </ng-template>
                        </p-card>
                    </div>
                </div>
                <div class="col-12 justify-content-end pr-0 d-flex">

                    <div class="col-3">
                        <button pButton pRipple label="Annuler" class="dangerButton" routerLink="../../login"></button>
                    </div>
                    <div class="col-3">
                        <button type="submit" pButton pRipple label="Soumettre" class=" successButton"></button>
                    </div>
                </div>
            </form>

        </p-card>
    </div>




</div>