<div class="layout-topbar-left">
    <div class="layout-topbar-logo-wrapper">
        <a href="#" class="layout-topbar-logo">
            <img src="../../../assets/layout/images/logo-cdmp.png" class="image" alt="mirage-layout" />
            <span class="app-name"></span>
        </a>
        <!-- <img src="../../assets/layout/images/logo-cdmp.svg" class="rounded mx-auto d-block" alt="..."> -->
    </div>
</div>
<div class="card card-w-title">
    <h5>Demande d'adhésion</h5>
</div>
<div class="col-md-8 offset-md-3 justify-content-center">
    <div class="mt-8 p-fluid " style="width:50vw;">
        <p-card>
            <form [formGroup]="form" (ngSubmit)="onSubmit()">
                <div class="field grid">
                    <label htmlFor="name3" class="col-12 mb-2 md:col-2 md:mb-1 text">NINEA</label>
                    <div class="col-12 md:col-3 mb-2">
                            <input pInputText formControlName="ninea" placeholder="10585678" type="text" id="ninea" >
                       <span *ngIf="submit && f['ninea'].errors! && !f['ninea'].hasError('required')"
                       style="color: red;">Renseigner au plus 13 caractères</span>
                       <span *ngIf="submit && f['ninea'].hasError('required')" style="color: red;">{{message}}</span>
                    </div>
                    <div class="col-12 md:col-5 mb-2">
                        <div class="col-12">
                            <div class="formgroup-inline">
                                <div class="field col-12 md:col-12 mb-1">                                        
                                        <div class=" inputContainer">
                                            <span class="p-float-label">
                                                <input *ngIf="selectedNINEAFiles==null;else elseNINEABlock" id="NINEAfile" type="text"
                                                    pInputText pTooltip="Charger le document de référence du NINEA">
                                                <label for="NINEAfile"></label>
                                            </span>

                                            <ng-template #elseNINEABlock id="NINEAfile" type="text" pInputText
                                                pTooltip="Charger document">
                                                <input id="NINEAfile" type="text"
                                                pInputText pTooltip="Charger le document de référence du NINEA" placeholder="{{selectedNINEAFiles.name}}">
                                            </ng-template>
                                            <input formControlName="nineaFile" class="hidden" type="file" accept="image/png, image/jpeg,image/jpg,.pdf,.
                                            PDF" id="upload-NINEAfile"
                                                name="upload-NINEAfile" ngf-max-size="2MB" (change)="selectNINEAFile($event)">
                                               <button type="button" pButton pRipple icon="pi pi-upload"
                                                        class="mr-2 mb-2 upload p-button-rounded p-button-text" id="upload-NINEAfile"
                                                        (click)="handleNINEAClick()"></button>
                       <span *ngIf="submit && f['nineaFile'].errors" style="color: red;">{{message}}</span>
                                        </div>                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="field grid">
                    <label htmlFor="name3" class="col-12 mb-2 md:col-2 md:mb-0 text">RCCM</label>
                    <div class="col-12 md:col-3">
                        <input pInputText formControlName="rccm" placeholder="SN-DKR 2011 G 24532" type="text" id="rccm" >                        
                       <span *ngIf="submit && f['rccm'].errors" style="color: red;">{{message}}</span>
                    </div>
                    <div class="col-12 md:col-5 mb-2">
                        <div class="col-12">
                            <div class="formgroup-inline">
                                <div class="field col-12 md:col-12 mb-1">
                                    <div class="inputContainer">
                                        <span class="p-float-label">
                                            <input *ngIf="selectedRCCMFiles==null;else elseRCCMBlock" id="RCCMfile" type="text"
                                            pInputText pTooltip="Charger le document de référence du RCCM">
                                            <label for="RCCMfile"></label>
                                        </span>
                                        
                                        <ng-template #elseRCCMBlock id="RCCMfile" type="text" pInputText pTooltip="Upload file">
                                            <input id="RCCMfile" type="text" pInputText pTooltip="Changer le document de référence du RCCM" placeholder="{{selectedRCCMFiles.name}}">
                                        </ng-template>
                                        
                                        
                                        <input formControlName="rccmFile" class="hidden" type="file" accept="image/png, image/jpeg,image/jpg,.pdf,.
                                        PDF" id="upload-RCCMfile" 
                                            name="upload-RCCMfile" ngf-max-size="2MB" (change)="selectRCCMFile($event)">
                                            <button type="button" pButton pRipple icon="pi pi-upload"
                                            class="upload p-button-rounded p-button-text " id="upload-RCCMfile"
                                            (click)="handleRCCMClick()"></button>
                                            <span *ngIf="submit && f['rccmFile'].errors" style="color: red;">{{message}}</span>
                                    </div>
                                </div>
                                <input formControlName="rccmFile" class="hidden" type="file" id="upload-RCCMfile"
                                    name="upload-RCCMfile" ngf-max-size="2MB" (change)="selectRCCMFile($event)">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="field grid">
                    <label htmlFor="email3" class="col-12 mb-2 md:col-2 md:mb-0 text">Email</label>
                    <div class="col-12 md:col-3">
                        <input formControlName="email" pInputText id="email3" type="text" placeholder="exemple@mail.sn" />
                         <span *ngIf="submit && f['email'].errors! && !f['email'].hasError('required')"
                        style="color: red;">Renseigner un bon email</span>
                        <span *ngIf="submit && f['email'].hasError('required')" style="color: red;">{{message}}</span>
                    </div>
                </div>
                <div class="col-12 justify-content-end pr-0 d-flex">
                    
                    <div class="col-3">
                        <button pButton pRipple
                            label="Annuler" class="dangerButton" routerLink="../../login" ></button>
                    </div>
                    <div class="col-3">
                        <button type="submit"  pButton pRipple
                            label="Soumettre" class=" successButton" ></button>
                    </div>
                </div>
            </form>
        </p-card>
    </div>
</div>