<p-breadcrumb [model]="items" [home]="home"></p-breadcrumb>
<br>
<div class="row">
    <div class="col-sm-6" *ngIf="profil === 'DG'">
        <div class="card flex flex-column ">
            <div class="col-6 md:col-4 dropdown anne" >
                <p-dropdown [options]="dropdownYears" [(ngModel)]="selectedYear"></p-dropdown>
            </div>
            <span style="font-weight: bold;">Remboursement du Trésor</span>
            <p-chart type="bar" [data]="stackedData1" [options]="stackedOptions"></p-chart>
        </div>
    </div>
    <div class="col-sm-6" *ngIf="profil === 'DG'">
        <div class="card flex flex-column ">
            <div class="col-6 md:col-4 dropdown anne" >
                <p-dropdown [options]="dropdownYears" [(ngModel)]="selectedYear"></p-dropdown>
            </div>
            <span style="font-weight: bold;">Déboursés de la CDMP</span>
            <p-chart type="bar" [data]="stackedData" [options]="basicOptions"></p-chart>
        </div><br />
    </div>
    <div class="col-sm-3"></div>
    <div class="col-sm-6" *ngIf="profil === 'DG' || profil === 'cgr'">
        <div class="card flex flex-column ">
            <div class="col-6 md:col-4 dropdown anne" >
                <p-dropdown [options]="dropdownYears" [(ngModel)]="selectedYear"></p-dropdown>
            </div>
            <span style="font-weight: bold;">PME bénéficiare /PME rejeté</span>
            <p-chart type="line" [data]="basicData" [options]="basicOptions">
            </p-chart>
        </div>
    </div>
</div>

<br>
<div class="card">

    <button *ngIf="profil === 'DG'" id="valider"
        style="width: min-content; left: 90%; background-color: #203359; top: -10px; position: relative;" pButton
        pRipple label="Exporter" icon="pi pi-download" (click)="exportexcel()"
        class="p-button-raised p-button-info mx-1  my-auto ml-2"></button>
    <h3 style=" margin-left: 40%;"> Liste des créances</h3>

    <p-table #dt [value]="demandes" [columns]="cols" id="excel-table" responsiveLayout="scroll" [rows]="5"
        [globalFilterFields]="['ninea','raisonSocial','type_marche','montant_total','date_marche','decote']" 
        [paginator]="true" [rowsPerPageOptions]="[5,10,20,30]" [showCurrentPageReport]="true"
        currentPageReportTemplate=" {totalRecords} lignes" [rowHover]="true" dataKey="id">

        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="ninea" style="color: #203359;">Nom du marché <p-sortIcon field="ninea"></p-sortIcon>
                </th>
                <th pSortableColumn="datesoumission" style="color: #203359;">Raison sociale <p-sortIcon
                        field="datesoumission"></p-sortIcon>
                </th>
                <th pSortableColumn="rccm" style="color: #203359;">Type de marché <p-sortIcon field="rccm"></p-sortIcon>
                </th>
                <th pSortableColumn="rccm" style="color: #203359;">Montant total <p-sortIcon field="rccm"></p-sortIcon>
                </th>
                <th pSortableColumn="rccm" style="color: #203359;">Date marché <p-sortIcon field="rccm"></p-sortIcon>
                </th>
                <th pSortableColumn="rccm" style="color: #203359;">Statut <p-sortIcon field="rccm"></p-sortIcon>
                </th>
                <th *ngIf="profil === 'DG'" pSortableColumn="rccm" style="color: #203359;">Décote <p-sortIcon
                        field="rccm"></p-sortIcon>
                </th>
                <th style="color: #203359;">Actions</th>
            </tr>
            <tr>
                <th>
                    <p-columnFilter type="text" field="nomMarche" placeholder="Nom du marché"></p-columnFilter>
                </th>
                <th>
                    <p-columnFilter type="text" field="raisonSocial" placeholder="Raison Sociale"></p-columnFilter>
                </th>
                <th>
                    <p-columnFilter type="text" field="type_marche" placeholder="Type de marché"></p-columnFilter>
                </th>
                <th>
                    <p-columnFilter type="text" field="montant_total" placeholder="Montant total"></p-columnFilter>
                </th>
                <th>
                    <p-columnFilter type="text" field="date_marche" placeholder="Date de marché"></p-columnFilter>
                </th>
                <th>
                    <p-columnFilter type="text" field="statut_dg" placeholder="Statut"></p-columnFilter>
                </th>
                <th *ngIf="profil === 'DG'">
                    <p-columnFilter type="text" field="decote" placeholder="Décote"></p-columnFilter>
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-demande>
            <tr>
                <td >
                    <span class="p-column-title">Nom marche</span>
                    {{demande.nomMarche}}
                </td>
                <td >
                    <span class="p-column-title">Raison sociale</span>
                    {{demande.raisonSocial}}
                </td>
                <td >
                    <span class="p-column-title">Type de marché</span>
                    {{demande.type_marche}}
                </td>
                <td >
                    <span class="p-column-title">Montant total</span>
                    {{demande.montant_total}}
                </td>
                <td >
                    <span class="p-column-title">Date marché</span>
                    {{demande.date_marche}}
                </td>
                <td >
                    <span [class]="'product-badge status-' + (demande.statut_dg ? demande.statut_dg.toLowerCase() : '')">{{demande.statut_dg.replaceAll('-', ' ')}}</span>

                </td>
                <td  *ngIf="profil === 'DG'">
                    <span class="p-column-title">Décote</span>
                    {{demande.decote}}
                </td>
                <td>
                    <div class="flex">
                        <button pButton pRipple icon="pi pi-eye" class="p-button-rounded p-button-text mr-2 button" style=" background-color: #203359; color: white;"
                            (click)="visualiserDetails(demande)" pInputText pTooltip="Détails"></button>
                        <!-- <i  class="pi pi-search ml-3"  ></i> -->
                    </div>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>