
<div class="row" *ngIf="profil !== 'PME'">
    <div class="col-sm-6" *ngIf="profil === 'DG' || profil === 'PCA'">
        <div class="card flex flex-column ">
            <div class="row">
                <div class="col-10">
                    <span style="font-weight: bold;">Remboursements du Trésor</span>
                </div>
                <div class="col-2 calendar">
                    <p-calendar view="year" [(ngModel)]="selectedYearRembourse" dateFormat="yy" (onSelect)="onSelectYearRembourse($event)"
                    [readonlyInput]="false" inputId="pickYear"> </p-calendar>
                     </div>
            </div>
            <span style="font-weight: bold;"> En Millions</span>
            <p-chart type="bar" [data]="stackedData1" [options]="basicOptions"></p-chart>
        </div>
    </div>
    <div class="col-sm-6" *ngIf="profil === 'DG' || profil === 'PCA'">
        <div class="card flex flex-column ">
            <div class="row">
                <div class="col-10">
                    <span style="font-weight: bold;">Paiements effectués par la CDMP</span>
                </div>
                <div class="col-2 calendar">
                    <p-calendar view="year" [(ngModel)]="selectedYearDeburse" dateFormat="yy" (onSelect)="onSelectYearDebourse($event)"
                    [readonlyInput]="false" inputId="pickYear"> </p-calendar>
                </div>
            </div>
            <span style="font-weight: bold;"> En Millions</span>
            <p-chart type="bar" [data]="stackedData" [options]="basicOptions"></p-chart>
        </div><br />
    </div>
    <div class="col-sm-3"></div>
    <div class="col-sm-6" *ngIf="profil === 'DG' || profil === 'DSEAR' || profil === 'DRC' || profil === 'PCA'">
        <div class="card flex flex-column ">
            <div class="row">
                <div class="col-10">
                    <span style="font-weight: bold;">PME bénéficiares /PME rejetées</span>
                </div>
                <div class="col-2 dropdown">
                    <p-calendar view="year" [(ngModel)]="selectedYear" dateFormat="yy" (onSelect)="onSelectYear($event)"
                    [readonlyInput]="false" inputId="pickYear"> </p-calendar>
                </div>
            </div>
            <p-chart type="line" [data]="basicData" [options]="optionsBenRej">
            </p-chart>
        </div>
    </div>
</div>

<br>
<div class="card" *ngIf="profil !== 'PME'">
    <div class="dropdown">
        <button *ngIf="profil === 'DG'" id="valider" class="btn btn-secondary dropdown-toggle"
            style="width: min-content; left: 90%; background-color: #203359; top: -10px; position: relative;"
            icon="pi pi-download" pButton pRipple label="Exporter" type="button" id="dropdownMenuButton"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" (click)="exportexcel()">Excel</a>
            <a class="dropdown-item" (click)="exportPdf()">PDF</a>
        </div>
    </div>

    <!-- <button *ngIf="profil === 'DG'" id="valider"
        style="width: min-content; left: 90%; background-color: #203359; top: -10px; position: relative;" pButton
        pRipple label="Exporter" icon="pi pi-download" (click)="exportexcel()"
        class="p-button-raised p-button-info mx-1  my-auto ml-2"></button> -->
    <h3 style=" margin-left: 40%;"> Liste des créances</h3>

    <p-table #dt [value]="creances" [columns]="cols" id="excel-table" responsiveLayout="scroll" [rows]="5"
        [globalFilterFields]="['ninea','raisonSocial','type_marche','montant_total','date_marche','decote']"
        [paginator]="true" [rowsPerPageOptions]="[5,10,20,30]" [showCurrentPageReport]="true"
        currentPageReportTemplate=" {totalRecords} lignes" [rowHover]="true" dataKey="id">

        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="nomMarche" style="color: #203359;">Nom du marché <p-sortIcon field="nomMarche">
                    </p-sortIcon>
                </th>
                <th pSortableColumn="raisonSocial" style="color: #203359;">Raison sociale <p-sortIcon
                        field="raisonSocial"></p-sortIcon>
                </th>
                <th pSortableColumn="dateDemandeCession" style="color: #203359;">Date de demande <p-sortIcon field="dateDemandeCession">
                    </p-sortIcon>
                </th>
                <th pSortableColumn="montantCreance" style="color: #203359;">Montant total <p-sortIcon field="montantCreance"></p-sortIcon>
                </th>
                <th pSortableColumn="dateMarche" style="color: #203359;">Date marché <p-sortIcon field="dateMarche"></p-sortIcon>
                </th>
                <th pSortableColumn="statut" style="color: #203359;">Statut <p-sortIcon field="statut"></p-sortIcon>
                </th>
                <th *ngIf="profil === 'DG'" pSortableColumn="decote" style="color: #203359;">Décote <p-sortIcon
                        field="decote"></p-sortIcon>
                </th>
                <th style="color: #203359;">Actions</th>
            </tr>
            <tr>
                <th>
                    <p-columnFilter type="text" field="nomMarche" placeholder="Nom du marché"></p-columnFilter>
                </th>
                <th>
                    <p-columnFilter type="text" field="raisonSocial" placeholder="Raison Sociale"></p-columnFilter>
                </th>
                <th>

                    <p-columnFilter type="text" field="dateDemandeCession" placeholder="Date de demande"></p-columnFilter>

                </th>
                <th>
                    <p-columnFilter type="text" field="montantCreance" placeholder="Montant total"></p-columnFilter>
                </th>
                <th>
                    <p-columnFilter type="date"  field="dateMarche" placeholder="Date de marché" [matchModeOptions]="matchModeOptions" [matchMode]="'rangeDate'" selectionMode="range" style="display: none;"></p-columnFilter>
                    <p-calendar [(ngModel)]="rangeDates" selectionMode="range" [readonlyInput]="true" inputId="range" formDate="dd/mm/yyyy" placeholder="Date de marché"></p-calendar>
                </th>
                <th>
                    <p-columnFilter field="statut_dg" matchMode="equals" [showMenu]="false">
                        <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                            <p-dropdown [ngModel]="value" [options]="statuts" (onChange)="filter($event.value)" placeholder="Statuts" [showClear]="true">
                                <ng-template let-option pTemplate="item">
                                    <span [class]="'product-badge status-' + (option.value ? option.value.toLowerCase() : '')">{{option.label}}</span>
                                </ng-template>
                            </p-dropdown>
                        </ng-template>
                    </p-columnFilter>
                </th>
                <th *ngIf="profil === 'DG'">
                    <p-columnFilter type="text" field="decote" placeholder="Décote"></p-columnFilter>
                </th>
                <th>
                    <button pButton pRipple pTooltip="Rechercher" icon="pi pi-search" class="p-button-rounded mr-2 simpleBoldButton" label="Rechercher" (click)="dt.filter()" ></button>
                </th>
                <th *ngIf="rangeDates!=undefined">
                    <button pButton pRipple pTooltip="Annuler" icon="pi pi-times" class="p-button-rounded " label="Annuler" (click)="clearRange(dt)" style="background: white; color:#203359"></button>
                </th>
               
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-creance>
            <tr>
                <td>
                    <span class="p-column-title">Nom marche</span>
                    {{creance.nomMarche}}
                </td>
                <td>
                    <span class="p-column-title">Raison sociale</span>
                    {{creance.raisonSocial}}
                </td>
                <td>
                    <span class="p-column-title">Date demande</span>
                    {{creance.dateDemandeCession | date:'dd/MM/yyyy'}}
                </td>
                <td>
                    <span class="p-column-title">Montant total</span>
                    {{creance.montantCreance | number: '1.0-0'}} FCFA
                </td>
                <td>
                    <span class="p-column-title">Date marché</span>
                    {{creance.dateMarche | date:'dd/MM/yyyy'}}
                </td>
                <td >
                    <span *ngIf="creance.statut.code === 'RISQUEE'  " 
                    [class]="'product-badge status-' + (creance.statut.code ? creance.statut.code.toLowerCase() : '')"> refusée</span>

                    <span *ngIf="creance.statut.code !=='RISQUEE'" 
                    [class]="'product-badge status-' + (creance.statut.code ? creance.statut.code.toLowerCase() : '')">acceptée</span>

                </td>
                <td *ngIf="profil === 'DG'">
                    <span class="p-column-title">Décote</span>
                    {{creance.decote}}
                </td>
                <td>
                    <div class="flex">
                        <button pButton pRipple icon="pi pi-eye" class="p-button-rounded p-button-text mr-2 button"
                            style=" background-color: #203359; color: white;" (click)="visualiserDetails(creance)"
                            pInputText pTooltip="Détails"></button>
                    </div>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>
<div  class="row center-diagramme" *ngIf="profil === 'PME'">
    <div class="col-sm-12">
        <div class="card flex flex-column ">
            <div class="row">
                <div class="col-8">
                    <span style="font-weight: bold;">Statistiques des paiements réçus de la CDMP</span>
                </div>
                <div class="col-2 calendar">
                    <p-calendar view="year" [(ngModel)]="selectedYearPME" dateFormat="yy" (onSelect)="onSelectYearPME($event)"
                    [readonlyInput]="false" inputId="pickYear"> </p-calendar>
                </div>
            </div>
            <span style="font-weight: bold;"> En Millions</span>
            <p-chart type="bar" [data]="stackedDataPME" [options]="basicOptions"></p-chart>
        </div><br />
    </div>
</div>