@import "../../../../../assets/sass/custom/variables.scss";
@import "../../../../../assets/sass/custom/layout.scss";

.modal-body{
    height: 60vh;
    overflow-y: auto;
}
.pdf-container{
    height: 50vh;
}

.p-button-danger{
    background-color: #A6325C;
}

.my-actions { margin: 0 2em; }
.order-1 { order: 1; }
.order-2 { order: 2; }
.order-3 { order: 3; }

.right-gap {
  margin-right: auto;
}