<div *ngIf="srcFile" class="container-fluid text-right">

    <button [disabled]="pageVariable==1" class="mr-2 btn-icon btn-icon-only btn btn-outline-info icones-action"
        ngbTooltip="Page précédente" (click)="previousPage()"><i class="pi pi-chevron-left">
        </i>
    </button>
    &nbsp;
    <button style="border: none; background-color: white;" class="mr-2 icones-action">
        <span style="font-size: 120%; margin-top: 0%;text-align: center;">{{pageVariable}}/{{totalPages}}</span>
    </button>
    &nbsp;
    <button class="mr-2 btn-icon btn-icon-only btn btn-outline-info icones-action" ngbTooltip="Page suivante"
        (click)="nextPage()"><i class="pi pi-chevron-right">
        </i>
    </button>
    &nbsp;
    <button class="mr-2 btn-icon btn-icon-only btn btn-outline-secondary icones-action" ngbTooltip="Zoom + "
        (click)="plusZoom()"><i class="pi pi-plus-circle">
        </i>
    </button>
    &nbsp;
    <button class="mr-2 btn-icon btn-icon-only btn btn-outline-secondary icones-action" ngbTooltip="Zoom - "
        (click)="minusZoom()"><i class="pi pi-minus-circle">
        </i>
    </button>
    &nbsp;
    <button class="mr-2 btn-icon btn-icon-only btn btn-outline-warning icones-action" ngbTooltip="Rotation "
        (click)="rotate()"><i class="pi pi-refresh">
        </i>
    </button>
    &nbsp;
    <button class="mr-2 btn btn-outline-success " ngbTooltip="Télécharger" (click)="download(true)"><i
            class="pi pi-download">
        </i>
    </button>
    &nbsp;
    <button class="mr-2 btn-icon btn-icon-only btn btn-outline-success icones-action" ngbTooltip="Imprimer"
        (click)="print()"><i class="pi pi-print">
        </i>
    </button>
    &nbsp;
</div>
&nbsp;
<div style="display: block;">
    <div class="modal-body">
        <div *ngIf="srcFile" class="container-fluid">
            <br />
            <div *ngIf="ext=='PDF' || ext=='pdf'">
                <pdf-viewer *ngIf="srcFile" [src]="srcFile" [show-all]="false" [(page)]="pageVariable"
                    [render-text]="true" [zoom]="zoom" [rotation]="angle" [original-size]="false"
                    (after-load-complete)="afterLoadComplete($event)" (page-rendered)="pageRendered($event)"
                    [fit-to-page]="true" (text-layer-rendered)="textLayerRendered($event)" class="pdf-container">
                </pdf-viewer>
            </div>
            <div *ngIf="ext=='jpeg' || ext=='png' || ext=='jpg'" class="pdf-container">
                <img [src]="srcFile" alt="">
            </div>
        </div>
    </div>
    <!-- <div *ngIf="!(paiement === 'true')">
        <div *ngIf="(statut === 'Convention rejetée') || (statut === 'Convention générée')">
            <p-card [style]="{'margin-bottom': '2em', 'border-radius': '2px'}" styleClass="shadow-2">
                <p-toast></p-toast>
                <div class="grid p-fluid">
                    <div class="col-12 md:col-12">
                        <span class="h5texte">Observation</span>
                        <div class="p-inputgroup">
                            <span class="p-float-label">
                                <textarea [rows]="5" [cols]="30" pInputTextarea autoResize="autoResize"></textarea>
                            </span>
                        </div>
                    </div>
                </div>
            </p-card>
        </div>
    </div> -->
</div>
<div class="modal-footer">
    <div class="col-12  pr-0 d-flex  flex-row-reverse">
        <button
            *ngIf="((profil === 'DG') && (statut === 'Convention-signée-par-la-PME')) || ((profil === 'pme') && (statut === 'Convention-générée'))"
            id="rejeter" style="width: min-content;" pButton pRipple label="Rejeter" icon="pi pi-times"
            class="p-button-raised p-button-danger mx-1  my-auto ml-2"></button>
        <button
            *ngIf="((profil === 'DG') && (statut === 'Convention-signée-par-la-PME'))  || ((profil === 'pme') && (statut === 'Convention-générée'))"
            type="button" id="valider" style="width: min-content;" pButton pRipple label="Signer" icon="pi pi-pencil"
            (click)="signerConvention()" class="p-button-raised p-button-success my-auto "></button>
        <button
            *ngIf="!(((profil === 'DG') && (statut === 'Convention-signée-par-la-PME')) || ((profil === 'pme') && (statut === 'Convention-générée')))"
            type="button" class="p-button-raised btn-outline-secondary my-auto" (click)="dismiss()" pButton pRipple
            label="Fermer"></button>
    </div>
</div>