@use "variables.scss";
.inputContainer {
    position: relative;
    top: 0px;
    left: 0px;
    display: block;

    .inpute {
        position: absolute;
        right: 0px;
        width:100%;

      
  }

    .upload {
        position: absolute;
        top: 4px;
        right: 0px;
        font-size: 108px;
        font-weight:1000;
        color:$autre-fonce;
     
      }
  }

  
%button{
    margin: 2px;
    display: inline-block;
    white-space: nowrap;
    color: white;
}

.simpleButton{
    @extend %button;
    background-color:$autre-fonce;
    border-color:$autre-fonce;
}

.simpleButton:hover{
    @extend %button;
    color:$autre-fonce;
    border-color:$autre-fonce;
    background-color:white;
}
.simpleBoldButton{
    @extend %button;
    background-color:$autre-fonce;
    border-color:$autre-fonce;
}

.simpleBoldButton:hover{
    @extend %button;
    color:$autre-fonce;
    border-color:$autre-fonce;
    background-color:white;
}

.dangerButton{
    @extend %button;
    background:$danger-clair;
    border-color: $danger-clair;
}

.dangerButton:hover{
    @extend %button;
    background: white;
    border-color: $danger;
    color:$danger;
}

.successButton{
    @extend %button;
    background:$success-clair;
    border-color: $success-clair;
}

.successButton:hover{
    @extend %button;
    background: white;
    border-color: $success;
    color: $success;
}

//Page title
.tabTitle{
    justify-content: center;
    height: 40px;
    border-radius: 2%;
    display: flex;
    width: fit-content;

    .titleTab{
        color:#203359;
        font-weight: bold;
    }
}

//Table custom

    
    