//les couleurs
$success-clair:#99CC33CC;
$success:#99CC33FF;

$danger-clair: #981639CC;
$danger: #981639FF;

$autre-clair-clair:#333366CC;
$autre-clair:#333366FF;

$autre-fonce-clair:#333366CC;
$autre-fonce:#333366FF;

//les polices
$simple-font:"Helvetica Neue";
$condensed-font:"Condensed Black";

