<div class="layout-wrapper" (click)="onLayoutClick()"
     [ngClass]="{'layout-horizontal': app.horizontalMenu,
                'layout-wrapper-static': staticMenuActive,
                'layout-rightpanel-active': rightPanelActive,
                'layout-topbar-mobile-active': topbarMobileMenuActive,
                'layout-megamenu-mobile-active': megaMenuMobileActive,
                'layout-sidebar-mobile-active': menuMobileActive,
                'p-input-filled': app.inputStyle === 'filled',
                'p-ripple-disabled': !app.ripple}" [class]="app.menuColor">

    <app-side-bar></app-side-bar>

    <div class="layout-main">
        <app-navbar></app-navbar>
        <app-breadcrumb></app-breadcrumb>
        <div class="layout-content">
            <router-outlet></router-outlet>
        </div>
        <div class="layout-main-mask"></div>
        <div class="layout-config-mask" *ngIf="configActive" [@mask-anim]="'visible'"></div>
        <app-footer></app-footer>

    </div>
</div>
