@import "../../../../../../assets/sass/custom/variables.scss";
@import "../../../../../../assets/sass/custom/layout.scss";

.modalTitle{
    justify-content: center;
    display: flex;
    

    
}

.required{
    color: red;
}

.label{
    color: #A5A5A5;
    font-weight: bolder;
}

.title{
    color:#203359;
    font-weight: bold;
}
//cacher les boutons de filtre
::ng-deep button.p-column-filter-menu-button {
    display: none;
}

::ng-deep button.p-column-filter-clear-button {
    display: none;
}


::ng-deep span.p-paginator-current.ng-star-inserted{
    color: #203359;

}

::ng-deep button.p-ripple.p-element.p-paginator-page.p-paginator-element.p-highlight.ng-star-inserted{
    background-color: #203359;

}

::ng-deep li#p-highlighted-option.p-ripple.p-element.p-dropdown-item.p-highlight{
    background-color: #203359;

}



::ng-deep i.p-sortable-column-icon.pi.pi-fw.pi-sort-alt{
    color: #203359;

}

::ng-deep i.p-sortable-column-icon.pi.pi-fw.pi-sort-amount-up-alt{
    color: #203359;

}

//inputswitch customisation
::ng-deep .p-inputswitch.p-inputswitch-checked.oui .p-inputswitch-slider {
    background: #99CC33;
    
}

::ng-deep .p-inputswitch.p-inputswitch-checked.oui:not(p.disabled):hover .p-inputswitch-slider {
    background: #99CC33;
}

::ng-deep .p-inputswitch.oui .p-inputswitch-slider {
    background: #98163988;
    
    
}

::ng-deep .p-inputswitch.oui:not(p.disabled):hover .p-inputswitch-slider {
    background: #98163988;
}
::ng-deep .p-inputswitch .p-inputswitch-slider {
    border-radius: 2rem;
    width: 55px;

}

::ng-deep .p-inputswitch .p-inputswitch-slider:before {
    background: #ffffff;
    width: 1.25rem;
    height: 1.25rem;
    left: 0.1rem;
    margin-top: -0.625rem;
    transition-duration: 0.2s;
    border-radius: 50%;

}

::ng-deep .p-inputswitch.p-inputswitch-checked .p-inputswitch-slider:before {
    background: #ffffff;
    width: 1.25rem;
    height: 1.25rem;
    left: 1.3rem;
    margin-top: -0.625rem;
    transition-duration: 0.2s;
    border-radius: 50%;

}

.etape{
    height: 25px;
    margin-top: 30px;
}


::ng-deep div.p-dialog-header {
    display: none;
}

input{
    display: flex;
    align-items: flex-end;
}

.p-fluid .p-calendar .p-inputtext {
    width: 100%;
}
.p-calendar{
    width: 100%;
}
// .switch{
//     left: -350px;
//     position: relative;
// }

.boxtoggle{
    //border-radius: 2rem;
    border-color: $success;
    color: $success;
    border-width: 30px;
    background-color: #203359;
}

.box0{
    //border-radius: 2rem;
    border-color: $danger;
    color: $danger;
}

.product-badge {
    border-radius: var(--border-radius);
    padding: .25em .5rem;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: .3px;
    
    &.oui {
        background: #C8E6C9;
        color: $success;
    }

    &.non{
        background: #FFCDD2;
        color: $danger;
    }
    
    

}