<p-card>
    <div class="col-12">
        <div class="">
            <div class="d-flex justify-content-center col-12">
                <div class="col-12 md:col-10 modalTitle  ">
                    <h3 class="title">Recevabilité de la demande de cession</h3>
                </div>
            </div>
            <br>

            <div class="grid p-fluid justify-content-center">
                <div class="col-12 md:col-4">
                    <span class="h5texte">NINEA</span>
                    <div class="p-inputgroup">
                        <span class="p-float-label">
                            <input type="text" id="inputtext" pInputText [disabled]="true" />
                            <label for="inputtext">{{demandeCession.pme.ninea}}</label>
                        </span>
                    </div>
                </div>
                <div class="col-12 md:col-4">
                    <span class="h5texte">RCCM</span>
                    <div class="p-inputgroup">
                        <span class="p-float-label">
                            <input type="text" id="inputtext" pInputText [disabled]="true" />
                            <label for="inputtext">{{demandeCession.pme.rccm}}</label>
                        </span>
                    </div>
                </div>
                <div class="col-12 md:col-4">
                    <span class="h5texte">Référence du BE</span>
                    <div class="p-inputgroup">
                        <span class="p-float-label">
                            <input type="text" id="inputtext" pInputText [disabled]="true" />
                            <label for="inputtext">{{demandeCession.bonEngagement.reference}}</label>
                        </span>
                    </div>
                </div>
                <div class="col-12 md:col-4">
                    <span class="h5texte">Nom du marché</span>
                    <div class="p-inputgroup">
                        <span class="p-float-label">
                            <input type="text" id="inputtext" pInputText [disabled]="true" />
                            <label for="inputtext">{{demandeCession.bonEngagement.nomMarche}}</label>
                        </span>
                    </div>
                </div>
                <div class="col-12 md:col-4">
                    <span class="h5texte">Raison Sociale</span>
                    <div class="p-inputgroup">
                        <span class="p-float-label">
                            <input type="text" id="inputtext" pInputText [disabled]="true" />
                            <label for="inputtext">{{demandeCession.pme.raisonSocial}} </label>
                        </span>
                    </div>
                </div>
                <div class="col-12 md:col-4">
                    <span class="h5texte">Date de la demande</span>
                    <div class="p-inputgroup">
                        <span class="p-float-label">
                            <input type="text" id="inputtext" pInputText [disabled]="true" />
                            <label for="inputtext">{{demandeCession.dateDemandeCession| date:'dd/MM/yyyy'}} </label>
                        </span>
                    </div>
                </div>

            </div>


            <br>

            <br>
            <br>
            <p-table #dt [value]="documents" [columns]="cols" responsiveLayout="scroll" [rows]="10"
                [globalFilterFields]="['typeDocument','nomDocument']" [rows]="10" [paginator]="true"
                [rowsPerPageOptions]="[5,10,20,30]" [showCurrentPageReport]="true"
                currentPageReportTemplate=" {totalRecords} lignes " [rowHover]="true" dataKey="id">



                <ng-template pTemplate="header">
                    <!--tr>
                        <th>
                            <p-columnFilter type="text" field="typeDocument" placeholder="Type de document">
                            </p-columnFilter>
                        </th>
                        <th>
                            <p-columnFilter type="text" field="nomDocument" placeholder="Nom du document">
                            </p-columnFilter>
                        </th>
                        <th>
                            <p-columnFilter type="text" field="dateSoumission" placeholder="Date de soumission">
                            </p-columnFilter>
                        </th>
                        <th>
                            <button pButton pRipple icon="pi pi-search" class="p-button-rounded mr-2 button"
                                style="background-color: #203359;" label="Rechercher"
                                (click)="dt.filter(ninea,raisonSocial,nomMarche,statut,refBE)"></button>
                        </th>
                    </tr-->
                    <tr>

                        <th pSortableColumn="typeDocument" style="color: #203359;"> Pièces jointes <p-sortIcon
                                field="typeDocument"></p-sortIcon>
                        </th>
                        <th pSortableColumn="nomDocument" style="color: #203359;">Nom du document <p-sortIcon
                                field="nomDocument"></p-sortIcon>
                        </th>
                        <th pSortableColumn="dateSoumission" style="color: #203359;">Date soumission <p-sortIcon
                                field="dateSoumission"></p-sortIcon>
                        </th>

                        <th style="color: #203359;">Action</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-document>
                    <tr>

                        <td style="width:30%; min-width:10rem;">
                            <span class="p-column-title">Type</span>
                            {{document.typeDocument}}
                        </td>

                        <td style="width:30%; min-width:8rem;">
                            <span class="p-column-title">Nom</span>
                            {{document.nom}}
                        </td>
                        <td style="width:30%;">
                            <span class="p-column-title">Date Soumission</span>
                            {{document.dateSauvegarde | date:'dd/MM/yyyy'}}
                        </td>

                        <td>
                            <div class="flex">
                                <button pButton pRipple icon="pi pi-eye" class="p-button-rounded simpleButton"
                                    (click)="visualiserDocument(document)"></button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
        <br>
        <br>


        <div class="row col-12 mb-0 mt-0 d-flex justify-content-center">
            <p-card>
                <div class="d-flex justify-content-center col-12">
                    <div class="col-12 md:col-10 modalTitle  ">
                        <h4 class="title">Vérification de la recevabilité</h4>
                    </div>
                </div>
                <div class="field col-12 ml-2 d-flex  etape mb-0 mt-0">
                    <div class="col-10 d-flex justify-content-start">
                        <span class="h5texte">Le marché est-il identifié au niveau de la Direction Générale du
                            Budget?</span>
                    </div>
                    <div class="col-2   d-flex switch">
                        <div class="col-8 d-flex ">
                            <p-inputSwitch type="radio" name="ninea" styleClass="oui" value="true"
                                [(ngModel)]="identifie" id="active">
                            </p-inputSwitch>
                        </div>
                    </div>
                </div>
                <div class="col-12 mt-0" *ngIf="identifie">
                    <div class="field col-12 d-flex etape">
                        <div class="col-10 mt-2  d-flex justify-content-start">
                            <span class="h5texte">Y a-t-il un Avis à Tiers Détenteur sur cette PME?
                            </span>
                        </div>
                        <div class="col-2   d-flex switch">
                            <div class="col-8 d-flex ">
                                <p-inputSwitch styleClass="oui" [(ngModel)]="atd">
                                </p-inputSwitch>
                            </div>

                        </div>
                    </div>
                    <div class="field col-12 d-flex etape">
                        <div class="col-10 mt-2 d-flex justify-content-start">
                            <span class="h5texte">La PME a-t-elle nanti cette créance auprès d'une institution
                                financière?</span>
                        </div>
                        <div class="col-2   d-flex switch ">
                            <div class="col-8 d-flex ">
                                <p-inputSwitch styleClass="oui" [(ngModel)]="nantissement">
                                </p-inputSwitch>
                            </div>
                        </div>

                    </div>
                    <div class="field col-12 d-flex etape">
                        <div class="col-10 mt-2 d-flex justify-content-start">
                            <span class="h5texte">La PME est-elle sur le coup d'une interdiction bancaire?</span>
                        </div>
                        <div class="col-2   d-flex switch ">
                            <div class="col-8 d-flex ">
                                <p-inputSwitch styleClass="oui" [(ngModel)]="interdiction">
                                </p-inputSwitch>
                            </div>
                        </div>

                    </div>
                </div>
            </p-card>

            <div class="col-12 mt-7" *ngIf="identifie">
                <p-card>
                    <div class="d-flex justify-content-center col-12">
                        <div class="col-12 md:col-12 modalTitle  ">
                            <h4 class="title">Informations complémentaires</h4>
                        </div>
                    </div><br>
                    <div class="p-formgrid grid row container" [formGroup]="infosBEForm">
                        <div class="field grid col-12 md:col-4 sm:col-6">
                            <label htmlFor="name3" class="col-12 xl:col-5"
                                style="font-weight: bold;color: #203359;">Exercice<span
                                class="required">*</span></label>
                            <div class="col-12 xl:col-6">
                                <input pInputText id="name3" type="number" formControlName="exercice"
                                    [(ngModel)]="bonEngagement.exercice" />
                            </div>
                        </div>
                        <div class="field grid col-12 md:col-4 sm:col-6">
                            <label htmlFor="name3" class="col-12 xl:col-5"
                                style="font-weight: bold;color: #203359;">Numéro du BE validé<span
                                class="required">*</span></label>
                            <div class="col-12 xl:col-6">
                                <input pInputText id="name3" type="text" formControlName="referenceBE"
                                    [(ngModel)]="bonEngagement.reference" />
                            </div>
                        </div>
                        <div class="field grid col-12 md:col-4 sm:col-6">
                            <label htmlFor="name3" class="col-12 xl:col-5"
                                style="font-weight: bold;color: #203359;">Objet de la dépense<span
                                    class="required">*</span></label>
                            <div class="col-12 xl:col-6">
                                <input pInputText id="name3" type="text" formControlName="objetDepense"
                                    [(ngModel)]="bonEngagement.objetDepense" />
                            </div>
                        </div>
                        <div class="field grid col-12 md:col-4 sm:col-6">
                            <label htmlFor="name3" class="col-12 xl:col-5"
                                style="font-weight: bold;color: #203359;">Nature de la dépense<span
                                    class="required">*</span></label>
                            <div class="col-12 xl:col-6">
                                <input pInputText id="name3" type="text" formControlName="naturePrestation"
                                    [(ngModel)]="bonEngagement.natureDepense" />
                            </div>
                        </div>
                        <div class="field grid col-12 md:col-4 sm:col-6">
                            <label htmlFor="name3" class="col-12 xl:col-5"
                                style="font-weight: bold;color: #203359;">Type de la dépense<span
                                    class="required">*</span></label>
                            <div class="col-12 xl:col-6">
                                <input pInputText id="name3" type="text" formControlName="typeDepense"
                                    [(ngModel)]="bonEngagement.typeDepense" />
                            </div>
                        </div>
                        <div class="field grid col-12 md:col-4 sm:col-6">
                            <label htmlFor="name3" class="col-12 xl:col-5"
                                style="font-weight: bold;color: #203359;">Imputation budgetaire<span
                                    class="required">*</span></label>
                            <div class="col-12 xl:col-6">
                                <input pInputText id="name3" type="text" formControlName="imputation"
                                    [(ngModel)]="bonEngagement.imputation" />
                            </div>
                        </div>
                        <div class="field grid col-12 md:col-4 sm:col-6">
                            <label htmlFor="name3" class="col-12 xl:col-5"
                                style="font-weight: bold;color: #203359;">Designation du bénéficiaire <span
                                    class="required">*</span></label>
                            <div class="col-12 xl:col-6">
                                <input pInputText id="name3" type="text" formControlName="designationBeneficiaire"
                                    [(ngModel)]="bonEngagement.designationBeneficiaire" />
                            </div>
                        </div>

                        <div class="field grid col-12 md:col-4 sm:col-6">
                            <label htmlFor="name3" class="col-12 xl:col-5"
                                style="font-weight: bold;color: #203359;">Mode de réglement<span
                                    class="required">*</span></label>
                            <div class="col-12 xl:col-6">
                                <input pInputText id="name3" type="text" formControlName="modeReglement"
                                    [(ngModel)]="bonEngagement.modeReglement" />
                            </div>
                        </div>
                        <div class="field grid col-12 md:col-4 sm:col-6">
                            <label htmlFor="name3" class="col-12 xl:col-5"
                                style="font-weight: bold;color: #203359;">Montant de la dépense<span
                                    class="required">*</span></label>
                            <div class="col-12 xl:col-6">
                               
                                    <p-inputNumber   mode="currency" currency="CFA" formControlName="montantCreance"
                                    [(ngModel)]="bonEngagement.montantCreance">
                                    </p-inputNumber>
                            </div>
                        </div>
                        <div class="field grid col-12 md:col-4 sm:col-6">
                            <label htmlFor="name3" class="col-12 xl:col-5"
                                style="font-weight: bold;color: #203359;">Date d'engagement<span
                                    class="required">*</span></label>
                            <div class="col-12 xl:col-6">
                                <input pInputText id="name3" type="date" formControlName="dateBonEngagement" style=" width: 110%;"
                                    [(ngModel)]="bonEngagement.dateBonEngagement" />
                            </div>
                        </div>
                        <div class="field grid col-12 md:col-4 sm:col-6">
                            <label htmlFor="name3" class="col-12 xl:col-5"
                                style="font-weight: bold;color: #203359;">Identification Comptable<span
                                    class="required">*</span></label>
                            <div class="col-12 xl:col-6">
                                <input pInputText id="name3" type="text" formControlName="identificationComptable"
                                    [(ngModel)]="bonEngagement.identificationComptable" />
                            </div>
                        </div>
                        <div class="field grid col-12 md:col-4 sm:col-6">
                            <label htmlFor="name3" class="col-12 xl:col-5"
                                style="font-weight: bold;color: #203359;">Destination/Action<span
                                    class="required">*</span></label>
                            <div class="col-12 xl:col-6">
                                <input pInputText id="name3" type="text" formControlName="destinationAction"
                                    [(ngModel)]="bonEngagement.destinationAction" />
                            </div>
                        </div>
                        <div class="field grid col-12 md:col-4 sm:col-6">
                            <label htmlFor="name3" class="col-12 xl:col-5"
                                style="font-weight: bold;color: #203359;">Destination/Activité<span
                                    class="required">*</span></label>
                            <div class="col-12 xl:col-6">
                                <input pInputText id="name3" type="text" formControlName="destinationActivite"
                                    [(ngModel)]="bonEngagement.destinationActivite" />
                            </div>
                        </div>
                        <div class="field grid col-12 md:col-4 sm:col-6">
                            <label htmlFor="name3" class="col-12 xl:col-5"
                                style="font-weight: bold;color: #203359;">Date soumission du service depensier<span
                                    class="required">*</span></label>
                            <div class="col-12 xl:col-6">
                                <input pInputText id="name3" type="date" formControlName="dateSoumissionServiceDepensier" style=" width: 110%;"
                                    [(ngModel)]="bonEngagement.dateSoumissionServiceDepensier" />
                            </div>
                        </div>

                    </div>
                </p-card>
            </div>
        </div>

        <br>
        <br>
        <label class="form-label" for="textAreaExample">Observations</label>
        <div class="d-flex flex-start w-100">

            <div class="form-outline w-100">
                <textarea class="form-control" id="textAreaExample" rows="4" [(ngModel)]="observation.libelle"
                    style="background: #fff;"></textarea>

            </div>
        </div>
        <br>
        <div class="float-end">
            <button pButton pRipple icon="pi pi-times" class="p-button-raised dangerButton" label="Rejeter la demande"
                (click)="onSubmitRejet(bonEngagement)"></button>
            <button [disabled]="!infosBEForm.valid" *ngIf="identifie" pButton pRipple icon="pi pi-check"
                class="p-button-raised successButton" label="Valider" (click)="onSubmitAccept(bonEngagement)"></button>

        </div>

    </div>
</p-card>