<p-breadcrumb [model]="items" [home]="home"></p-breadcrumb>
<p-toast></p-toast>
<br>
<div class="grid">
    <div class="col-12">
        <p-card>
            <div class="d-flex justify-content-center col-12">
                <div class="col-12 md:col-10 tabTitle  ">
                    <h3 class="titleTab">Liste des paiements
                        sur le marché, Réf.BE: 20-247510</h3>
                </div>
            </div>
            <br>
            <p-table #dt [value]="paiements" [columns]="cols" responsiveLayout="scroll" [rows]="10"
                [globalFilterFields]="['referencePaiement','datePaiement','payer','montant']" [rows]="10"
                [paginator]="true" [rowsPerPageOptions]="[5,10,20,30]" [showCurrentPageReport]="true"
                currentPageReportTemplate=" {totalRecords} lignes " [rowHover]="true" dataKey="id">
                <ng-template pTemplate="header">
                    <tr>
                       
                        <th pSortableColumn="datePaiement" style="color: #203359;">Date paiement<p-sortIcon
                                field="datePaiement"></p-sortIcon>
                        </th>
                        <th pSortableColumn="payer" style="color: #203359;">Payeur<p-sortIcon field="payer">
                            </p-sortIcon>
                        </th>
                        <th pSortableColumn="montant" style="color: #203359;">Mode paiement<p-sortIcon field="montant">
                            </p-sortIcon>
                        </th>
                        <th pSortableColumn="modePaiement" style="color: #203359;">Montant<p-sortIcon
                            field="modePaiement"></p-sortIcon>
                    </th>
                        <th style="color: #203359;">Actions</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-paiement>
                    <tr>
                        <td style="width:20%; min-width:8rem;">
                            <span class="p-column-title">Date paiement</span>
                            {{paiement.datePaiement}}
                        </td>
                        <td style="width:20%;">
                            <span class="p-column-title">Payeur</span>
                            {{paiement.payer}}
                        </td>
                        <td style="width:20%;">
                            <span class="p-column-title">Montant</span>
                            {{paiement.modePaiement}}
                        </td>
                        <td style="width:20%; min-width:10rem;">
                            <span class="p-column-title">Mode paiement</span>
                            {{paiement.montant}}
                        </td>
                        <td>
                            <div class="flex">
                                <button pButton pRipple icon="pi pi-eye"
                                    class="p-button-rounded simpleButton"
                                    pTooltip="Voir details" (click)="visualiserDetails(paiement)"></button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
                
                <ng-template pTemplate="summary">
                    <span class="textLeft">
                        SOLDE : 5 000 000 F CFA
                    </span>
                    <span class="textRight">
                        Montant total : 7 000 000 F CFA
                    </span>
                </ng-template>
                
            </p-table>
        </p-card>
    </div>
</div>