

.button{
    background-color: #203359;
    color: white;

}


::ng-deep .p-timeline-event-opposite{
    display: none;
}

hr.dotted {
    border-top: 3px dotted rgb(109, 109, 109);
  }


.product-badge {
    border-radius: var(--border-radius);
    padding: .25em .5rem;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: .3px;

    &.status-non_risquee {
        background: #C8E6C9;
        color: #256029;
    }
    &.status-convention_corrigee {
        background: #C8E6C9;
        color: #256029;
    }

    &.status-risquee {
        background: #FFCDD2;
        color: #C63737;
    }
    &.status-soumise {
        background: #fed6af;
        color: #8a4640;
    }

    &.status-complement_requis {
        background: #fed6af;
        color: #8a4640;
    }
    &.status-convention_signee_par_pme {
        background: #fed6af;
        color: #8a4640;
    }
    &.status-completee {
        background: #FEEDAF;
        color: #8A5340;
    }
    &.status-recevable {
        background: #c9ddfa;
        color: #354d8f;
    }
    &.status-convention_signee_par_dg {
        background: #c9ddfa;
        color: #354d8f;
    }
    
}


::ng-deep span.p-paginator-current.ng-star-inserted{
    color: #203359;

}

::ng-deep button.p-ripple.p-element.p-paginator-page.p-paginator-element.p-highlight.ng-star-inserted{
    background-color: #203359;

}

//cacher les bouton de filtre
::ng-deep button.p-column-filter-menu-button {
    display: none;
}

::ng-deep button.p-column-filter-clear-button {
    display: none;
}

::ng-deep li#p-highlighted-option.p-ripple.p-element.p-dropdown-item.p-highlight{
    background-color: #203359;

}

.title{
    color: #203359;
}

h3{
    text-align: center;
}

::ng-deep i.p-sortable-column-icon.pi.pi-fw.pi-sort-alt{
    color: #203359;

}

::ng-deep i.p-sortable-column-icon.pi.pi-fw.pi-sort-amount-up-alt{
    color: #203359;

}

::ng-deep div.p-dialog-header.ng-tns-c94-0.ng-star-inserted{
    //border: none;
    display: none;

}

.modalTitle{
    justify-content: center;
    height: 40px;
    left:290px;
    position: relative;
    border-radius: 2%;
    
}

.label{
    color: #A5A5A5;
                    font-weight: bolder;
}

::ng-deep li.p-element.p-steps-item.p-highlight.p-steps-current.ng-star-inserted{
    display:none;
}

::ng-deep li.p-element.p-steps-item.ng-star-inserted::before{
    display:none;
}

::ng-deep span.p-steps-number{
    display:none;
}

::ng-deep .form-check-input{
    background-color: green;
}


hr.dotted {
    border-top: 3px dotted rgb(109, 109, 109);
  }


.product-badge {
    border-radius: var(--border-radius);
    padding: .25em .5rem;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: .3px;

    &.status-non_risquee {
        background: #C8E6C9;
        color: #256029;
    }

    &.status-risquee {
        background: #FFCDD2;
        color: #C63737;
    }
    &.status-soumise {
        background: #fed6af;
        color: #8a4640;
    }

    &.status-complement_requis {
        background: #fed6af;
        color: #8a4640;
    }
    &.status-completee {
        background: #FEEDAF;
        color: #8A5340;
    }
    &.status-recevable {
        background: #c9ddfa;
        color: #354d8f;
    }
    
}


::ng-deep .p-timeline-event-opposite {
    display: none;
}
