.tab{
    background-color: #203359;
}

::ng-deep div.p-datatable-header.ng-star-inserted{
    background-color: #203359;

}

.button{
    background-color: #203359;

}

::ng-deep span.p-paginator-current.ng-star-inserted{
    color: #203359;

}

::ng-deep button.p-ripple.p-element.p-paginator-page.p-paginator-element.p-highlight.ng-star-inserted{
    background-color: #203359;

}

::ng-deep li#p-highlighted-option.p-ripple.p-element.p-dropdown-item.p-highlight{
    background-color: #203359;

}