.card {
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
}

.card-w-title{
    background-color:#203359;
    border-radius:0px;
}

.my-actions { margin: 0 2em; }
.order-1 { order: 1; }
.order-2 { order: 2; }
.order-3 { order: 3; }

.right-gap {
  margin-right: auto;
}

.text{
    color: #203359;
    font-weight: bold;
}

.p-button-danger{
    background-color: #A6325C;
}

.upload{
    background-color:#203359;
}

.hidden {
    visibility: hidden;
    width: 1px;
    height: 1px;
}

.upload{
    background-color:#203359;
}

.hidden {
    visibility: hidden;
    width: 1px;
    height: 1px;
}

.card {
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
}

.p-button-danger{
    background-color: #A6325C;
}

.card-w-title{
    background-color:#203359;
    border-radius:0px;
}

.text{
    color: #203359;
    font-weight: bold;
}

.marge{
    margin-left: 20%;
}





    
    
    
  
    
  
    
    
    