<p-card>
    <div class="col-12">
        <div class="">
            <div class="d-flex justify-content-center col-12">
                <div class="col-12 md:col-10 tabTitle  ">
                    <h3 class="titleTab">Convention de cession du marché : {{demandeCession.bonEngagement.nomMarche}} </h3>
                </div>
            </div>
            <br>
            <div class="grid p-fluid justify-content-center">
                <div class="col-12 md:col-3">
                    <span class="h5texte">NINEA</span>
                    <div class="p-inputgroup">
                        <span class="p-float-label">
                            <input type="text" id="inputtext" pInputText [disabled]="true" />
                            <label for="inputtext">{{demandeCession.pme.ninea}}</label>
                        </span>
                    </div>
                </div>
                <div class="col-12 md:col-3">
                    <span class="h5texte">Raison Sociale</span>
                    <div class="p-inputgroup">
                        <span class="p-float-label">
                            <input type="text" id="inputtext" pInputText [disabled]="true" />
                            <label for="inputtext">{{demandeCession.pme.raisonSocial}}</label>
                        </span>
                    </div>
                </div>
                <div class="col-12 md:col-3">
                    <span class="h5texte">Reference du BE</span>
                    <div class="p-inputgroup">
                        <span class="p-float-label">
                            <input type="text" id="inputtext" pInputText [disabled]="true" />
                            <label for="inputtext">{{demandeCession.bonEngagement.reference}}</label>
                        </span>
                    </div>
                </div>

            </div>
            <br>
            <p-card>
                <div class="container-fluid text-right">

                    <button [disabled]="pageVariable==1"
                        class="mr-2 btn-icon btn-icon-only btn btn-outline-info icones-action"
                        ngbTooltip="Page précédente" (click)="previousPage()"><i class="pi pi-chevron-left">
                        </i>
                    </button>
                    &nbsp;
                    <button style="border: none; background-color: white;" class="mr-2 icones-action">
                        <span
                            style="font-size: 120%; margin-top: 0%;text-align: center;">{{pageVariable}}/{{totalPages}}</span>
                    </button>
                    &nbsp;
                    <button class="mr-2 btn-icon btn-icon-only btn btn-outline-info icones-action"
                        ngbTooltip="Page suivante" (click)="nextPage()"><i class="pi pi-chevron-right">
                        </i>
                    </button>
                    &nbsp;
                    <button class="mr-2 btn-icon btn-icon-only btn btn-outline-secondary icones-action"
                        ngbTooltip="Zoom + " (click)="plusZoom()"><i class="pi pi-plus-circle">
                        </i>
                    </button>
                    &nbsp;
                    <button class="mr-2 btn-icon btn-icon-only btn btn-outline-secondary icones-action"
                        ngbTooltip="Zoom - " (click)="minusZoom()"><i class="pi pi-minus-circle">
                        </i>
                    </button>
                    &nbsp;
                    <button class="mr-2 btn-icon btn-icon-only btn btn-outline-warning icones-action"
                        ngbTooltip="Rotation " (click)="rotate()"><i class="pi pi-refresh">
                        </i>
                    </button>
                    &nbsp;
                    <button class="mr-2 btn btn-outline-success " ngbTooltip="Télécharger" (click)="download(true)"><i
                            class="pi pi-download">
                        </i>
                    </button>
                    &nbsp;
                    <button class="mr-2 btn-icon btn-icon-only btn btn-outline-success icones-action"
                        ngbTooltip="Imprimer" (click)="print()"><i class="pi pi-print">
                        </i>
                    </button>
                    &nbsp;
                </div>
                &nbsp;
                <div style="display: block;">
                    <span class="h5texte" style="margin-left: 40%;">Convention de cession</span>
                    <div class="modal-body">
                        <div *ngIf="srcFile" class="container-fluid">
                            <br />
                            <div *ngIf="ext=='PDF' || ext=='pdf'">
                                <pdf-viewer *ngIf="srcFile" [src]="srcFile" [show-all]="false" [(page)]="pageVariable"
                                    [render-text]="true" [zoom]="zoom" [rotation]="angle" [original-size]="false"
                                    (after-load-complete)="afterLoadComplete($event)"
                                    (page-rendered)="pageRendered($event)" [fit-to-page]="true"
                                    (text-layer-rendered)="textLayerRendered($event)" class="pdf-container">
                                </pdf-viewer>
                            </div>
                            <div *ngIf="ext=='jpeg' || ext=='png' || ext=='jpg'" class="pdf-container">
                                <img [src]="srcFile" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">

                </div>


            </p-card>

            <br>
            <p-table #dt [value]="documents" [columns]="cols" responsiveLayout="scroll" [rows]="10"
                [globalFilterFields]="['typeDocument','nomDocument']" [rows]="10" [paginator]="true"
                [rowsPerPageOptions]="[5,10,20,30]" [showCurrentPageReport]="true"
                currentPageReportTemplate="Showing {last} to {first} of {totalRecords} entries" [rowHover]="true"
                dataKey="id">



                <ng-template pTemplate="header">
                    <tr>

                        <th pSortableColumn="typeDocument" style="color: #203359;">Type document <p-sortIcon
                                field="typeDocument"></p-sortIcon>
                        </th>
                        <th pSortableColumn="nomDocument" style="color: #203359;">Nom du document <p-sortIcon
                                field="nomDocument"></p-sortIcon>
                        </th>
                        <th pSortableColumn="dateSoumission" style="color: #203359;">Date création <p-sortIcon
                                field="dateSoumission"></p-sortIcon>
                        </th>

                        <th style="color: #203359;">Action</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-document>
                    <tr>

                        <td style="width:30%; min-width:10rem;">
                            <span class="p-column-title">Type</span>
                            {{document.typeDocument}}
                        </td>

                        <td style="width:30%; min-width:8rem;">
                            <span class="p-column-title">Nom</span>
                            {{document.nomDocument}}
                        </td>
                        <td style="width:30%;">
                            <span class="p-column-title">Date Soumission</span>
                            {{document.dateSoumission}}
                        </td>

                        <td>
                            <div class="flex">
                                <button icon="pi pi-search" class="p-button-rounded simpleButton" pRipple pButton
                                    (click)="visualiserDocument(document)"></button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>

            <br>
            <label class="form-label" for="textAreaExample">Observations</label>
            <div class="d-flex flex-start w-100">

                <div class="form-outline w-100">
                    <textarea
                        *ngIf="demandeCession.statut=='Convention-enregistrée'||demandeCession.statut=='Convention-corrigée';else elseBlock"
                        class="form-control" id="textAreaExample" rows="4" [(ngModel)]="observation"
                        style="background: #fff;"></textarea>

                    <ng-template #elseBlock>
                        <textarea class="form-control" id="textAreaExample" rows="4" disabled
                            style="background: #fff;">{{demandeCession.observation}}</textarea>
                    </ng-template>
                </div>
            </div>
        </div>
        <br>

    </div>

    <div class="float-end"
        *ngIf="demandeCession.statut.libelle ==='CONVENTION_TRANSMISE'||demandeCession.statut.libelle ==='CONVENTION_CORRIGEE';else fermerBoutton">
       
        <button pButton pRipple icon="pi pi-times" class="p-button-raised dangerButton" label="Rejeter"
            (click)="onSubmit('CONVENTION_REJETEE')" routerLink="../"></button>
            <button pButton pRipple icon="pi pi-check" class="p-button-raised successButton" label="Accepter"
            (click)="onSubmit('CONVENTION_ACCEPTEE')" routerLink="../"></button>
    </div>

    <ng-template #fermerBoutton class="float-end ">
        <div class="float-end ">
            <button pButton pRipple icon="pi pi-times" class="p-button-raised dangerButton" label="Fermer"
                routerLink="../"></button>
        </div>
    </ng-template>
    <br>
</p-card>