<div class="d-flex justify-content-center col 12">
    <div class="col-12 md:col-8 modalTitle d-flex justify-content-center">
        <h5 class="label">Informations Complémentaires</h5>
    </div>
</div>

<div class="col-12 mx-auto">

    <div class="mt-5  p-fluid">
        <form>
            
            <button id="valider"style="width: min-content;background-color:#203359 ;" pButton pRipple label="Précédent" icon="pi " class="p-button-raised float-right"  routerLink="../verification"></button>

        </form>
    </div>

</div>