<p-breadcrumb [model]="items" [home]="home"></p-breadcrumb>
<p-toast></p-toast>
<br><div class="grid">
    <div class="col-12">
        <div class="d-flex justify-content-center col-12">
            <div class="col-12 md:col-10   ">
                <h3 class="title">Analyse du risque</h3>
            </div>
        </div>
        <br>
        <div>
            <p-table #dt [value]="demandes" [columns]="cols" responsiveLayout="scroll" [rows]="10"
                [globalFilterFields]="['name','country.name','representative.name','status']" [rows]="10"
                [paginator]="true" [rowsPerPageOptions]="[5,10,20,30]" [showCurrentPageReport]="true"
                currentPageReportTemplate=" {totalRecords} lignes"
                [(selection)]="selectedProducts" selectionMode="multiple" [rowHover]="true" dataKey="id">
                
                <ng-template pTemplate="header">
                    <tr>
                        <th>
                            <p-columnFilter  type="text" field="ninea"></p-columnFilter>
                        </th>
                        <th>
                            <p-columnFilter type="text" field="raisonSocial"></p-columnFilter>
                        </th>
                        <th>
                            <p-columnFilter type="text" field="nomMarche"></p-columnFilter>
                        </th>
                        <th>
                            <p-columnFilter type="text" field="statut"></p-columnFilter>
                        </th>
                       
                        <th>
                            <p-columnFilter type="text" field="refBE"></p-columnFilter>
                        </th>
                        <th>
                            <button pButton pRipple icon="pi pi-search" class="p-button-rounded mr-2 button" style="background-color: #203359;" label="Rechercher" (click)="dt.filter(ninea,raisonSocial,nomMarche,statut,refBE)"></button>
                        </th>
                    </tr>
                    <tr>
                        <th pSortableColumn="ninea" style="color: #203359;">NINEA <p-sortIcon field="ninea">
                            </p-sortIcon>
                        </th>
                        <th pSortableColumn="rccm" style="color: #203359;">Raison Sociale <p-sortIcon field="rccm">
                            </p-sortIcon>
                        </th>
                        <th pSortableColumn="rccm" style="color: #203359;">Nom du marché <p-sortIcon field="rccm">
                        </p-sortIcon>
                    </th>
                        <th pSortableColumn="datesoumission" style="color: #203359;">Statut <p-sortIcon
                                field="datesoumission"></p-sortIcon>
                        </th>
                        <th pSortableColumn="ninea" style="color: #203359;">Reference BE <p-sortIcon field="ninea">
                            </p-sortIcon>
                        </th>
                        <th style="color: #203359;">Action</th>
                    </tr>
                   
                </ng-template>
                <ng-template pTemplate="body" let-demande>
                    <tr>
                        <td style="width:20%; min-width:10rem;">
                            <span class="p-column-title">NINEA</span>
                            {{demande.ninea}}
                        </td>
                        <td style="width:20%; min-width:8rem;">
                            <span class="p-column-title">RCCM</span>
                            {{demande.raisonSocial}}
                        </td>
                        <td style="width:20%; min-width:8rem;">
                            <span class="p-column-title">RCCM</span>
                            {{demande.nomMarche}}
                        </td>
                        <td style="width:20%;">
                            <span class="p-column-title">Date Soumission</span>
                            {{demande.statut}}
                        </td>
                        <td style="width:20%;">
                            <span class="p-column-title">Date Soumission</span>
                            {{demande.refBE}}
                        </td>
                        <td>
                            <div class="flex">
                                <button pButton pRipple icon="pi pi-pencil" *ngIf="demande.statut === 'Completee' || demande.statut === 'Recevable' "
                                [routerLink]="['../analyser']" (click)="setPmeInfo(demande)" class="p-button-rounded p-button-text mr-2 button"  pInputText  pTooltip="Analyser le dossier" ></button>
                                <button pButton pRipple icon="pi pi-eye" *ngIf="demande.statut === 'Risquee' || demande.statut === 'Non Risquee' || demande.statut === 'Complement Requis' "
                                [routerLink]="['../consulter_demande']" class="p-button-rounded p-button-text mr-2 button"  pInputText  pTooltip="Visualiser le dossier" ></button>
                                
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
        <p-dialog showHeader="false" [(visible)]="productDialog" [style]="{width: '80%'}" [modal]="true">
            <ng-template pTemplate="header">
                Header content here
            </ng-template>
            <div class="col-12">
                <div class="card card-w-title flex flex-wrap">
                    <div class="col-12 md:col-8 h-full">
                        <h5>TabMenu</h5>
                        <p-tabMenu styleClass="mb-5" [model]="routeItems"></p-tabMenu>
                    </div>
                    <div class="col-12 md:col-4 mt-5 md:mt-0">
                        <router-outlet>
                        </router-outlet>
                    </div>
                </div>
            </div>
            <ng-template pTemplate="content">
                <div class="p-formgrid grid ml-auto">
                    <div class="field grid">
                        <label htmlFor="ninea" class="col-12 mb-2 md:col-2 md:mb-0">NINEA</label>
                        <div class="col-12 md:col-8 ml-4">
                            <input pInputText id="name3" type="text" [(ngModel)]="product.name" />
                        </div>
                    </div>
                    <div class="field grid ml-auto">
                        <label htmlFor="rccm" class="col-12 mb-2 md:col-2 md:mb-0">RCCM</label>
                        <div class="col-12 md:col-8 ml-4">
                            <input pInputText id="name3" type="text" [(ngModel)]="product.category" />
                        </div>
                    </div>
                </div><br>
                <div class="mx-auto" style="width: 200px;">
                    Vérification
                </div>
                <br>
                <div class="">
                    <div class="field grid">
                        <label htmlFor="rccm" class="col-12 mb-4 md:col-4 md:mb-0">NINEA existant</label>
                        <div class="col-12 md:col-4">
                            <div class="field-radiobutton">
                                <p-radioButton name="nineaValide" value="true" [(ngModel)]="valRadio" id="oui"
                                    icon="pi pi-check-circle" [model]="items" styleClass="p-button-success mr-2 mb-2"
                                    (click)="nineaValide()"></p-radioButton>
                                <label for="city1">Oui</label>
                            </div>
                        </div>
                        <div class="col-12 md:col-4 ">
                            <div class="field-radiobutton">
                                <p-radioButton name="nineaNonValide" value="false" [(ngModel)]="valRadio" id="non"
                                    icon="pi pi-ban" [model]="items" styleClass="p-button-danger mr-2 mb-2">
                                </p-radioButton>
                                <label for="city1">Non</label>
                            </div>
                        </div>
                    </div>
                    <div id="actif" class="field grid" style="display:none;">
                        <label htmlFor="rccm" class="col-12 mb-4 md:col-4 md:mb-0">PME actif</label>
                        <div class="col-12 md:col-4 ml-auto">
                            <div class="field-radiobutton">
                                <p-radioButton name="pmeActif" value="true" [(ngModel)]="valRadio" id="oui"
                                    icon="pi pi-check-circle" [model]="items" styleClass="p-button-success mr-2 mb-2"
                                    (click)="nineaValide()"></p-radioButton>
                                <label for="city1">Oui</label>
                            </div>
                        </div>
                        <div class="col-12 md:col-4 ml-auto">
                            <p-button label="Non" icon="pi pi-ban" [model]="items"
                                styleClass="p-button-danger mr-2 mb-2"></p-button>
                        </div>
                        <div class="col-12 md:col-4 ml-auto">
                            <button pButton pRipple label="Submit" icon="pi " iconPos="right"
                                class="mr-2 mb-2"></button>
                        </div>
                    </div>
                </div>
            </ng-template>
        </p-dialog>
        <p-dialog [(visible)]="deleteProductDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span *ngIf="product">Are you sure you want to delete <b>{{product.name}}</b>?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No"
                    (click)="deleteProductDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes"
                    (click)="confirmDelete()"></button>
            </ng-template>
        </p-dialog>
        <p-dialog [(visible)]="deleteProductsDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span>Are you sure you want to delete selected products?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No"
                    (click)="deleteProductsDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes"
                    (click)="confirmDeleteSelected()"></button>
            </ng-template>
        </p-dialog>
    </div>
</div>