h1{
    color: white;
    text-align: center;
    font-weight: bold;
}

.tableau_bord{
    border-top: 1px solid rgba(123, 224, 120, 0.579);
   ;
    
    border-bottom: 1px solid rgba(123, 224, 120, 0.632);
   
}

.abdou{
    color: rgb(60, 60, 60);
   font-weight: bold;
   text-align: center;
}

.logo-menu{
    height: 30px;
}

.dropdown-item{
    color: black;
}

#navbar{
    bottom:35px;
}
.mymenu{
left: 30px;
position: relative;
}
#pi{
    color: white;
}

h2{
    
    font-size: large;
    font-weight: 400;

}

p{
    color: white;
    font-size: large;
    
}

h3{
    color: white;
    text-align: center;
}
a{
    color: white;
}
#sidebar{
    background-color:#203359;
}
#navbar{
    background-color:#203359;
    
    }