body {
	margin:  0;
}
.page-content {
	width: 100%;
	margin:  0 auto;
	
	display: flex;
	display: -webkit-flex;
	justify-content: center;
	-o-justify-content: center;
	-ms-justify-content: center;
	-moz-justify-content: center;
	-webkit-justify-content: center;
	align-items: center;
	-o-align-items: center;
	-ms-align-items: center;
	-moz-align-items: center;
	-webkit-align-items: center;
}

.form-row-last{
	color:  #981639;
}
.form-v7-content  {
	width: 910px;
	margin: 175px 0;
	font-family: 'Open Sans', sans-serif;
	position: relative;
	display: flex;
	display: -webkit-flex;
}
.form-v7-content .form-left {
	position: relative;
	font-weight: 400;
    width: 92.5%;
    margin-top: 32px;
}
.form-v7-content .form-left img {
	width: 100%;
}


.form-v7-content .form-left .text-1,
.form-v7-content .form-left .text-2 {
	position: absolute;
	text-align: center;
	width: 100%;
}

.form-v7-content .form-left .text-1 {
	font-size: 38px;
	top: 1.5%;
}
.form-v7-content .form-left .text-2 {
	font-size: 16px;
	bottom: 11%;
}
.form-v7-content .form-left .text-2::after {
	position: absolute;
	content: "";
	
	background: #fff;
	height: 1px;
	width: 228px;
	bottom: -50%;
	left: 50%;
	transform: translateX(-50%);
	-o-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	opacity: 0.5;
}
.form-v7-content .form-detail {
    padding: 73px 80px 41px;
	position: relative;
	width: 100%;
	background-color: #203359;;
	box-shadow: 18px 15px 33px -16px rgba(0,0,0,0.75);
	-webkit-box-shadow: 18px 15px 33px -16px rgba(0,0,0,0.75);
	-moz-box-shadow: 18px 15px 33px -16px rgba(0,0,0,0.75);
	-o-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
	-ms-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
	border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
	-moz-border-radius: 10px 10px 10px 10px;
	
}

#top-right-img {
	position: relative;
}

#top-left-img {
	position: relative;
}
#top-left-img {
	position: absolute;
	bottom: 150px;
	left: 0px;
	height: 30px;
}

#top-right-img img {
	position: absolute;
	bottom: 150px;
	right: 0px;
	height: 30px;
}
.form-v7-content .form-detail .form-row {
    width: 100%;
    position: relative;
}
.form-v7-content .form-detail .form-row label {
	color: rgb(246, 244, 244);
	font-weight: 600;
	font-size: 13px;
	margin-bottom: 3px;
	font-family: 'Open Sans', sans-serif;
}
.img-person{
	height: 40px;
	width: 50px;
	color:#fff;
	display: block;
    margin-left: auto;
    margin-right: auto;
	
}
.img-pwd{
	height: 40px;
	width: 40px;
	display: block;
    margin-left: auto;
    margin-right: auto;
	
}

.fa-twitter{
	position: absolute;
	bottom: 300px;
	right: 25px;
	height: 80px;
	color: #203359;
	font-size: large;
	
}
.fa-facebook{
	position: absolute;
	bottom: 340px;
	right: 25px;
	height: 80px;
	color: #203359;
	
}
h5{
	color: white;
	text-align:center;
}

.h5texte{
	color: black;
	text-align:left;
	font-size: 16px;
	font-weight: bold;
}

.recup-ici{
	color:  #981639;
}
.creer-compte{
	color:rgb(83, 198, 83);
	font-size: large;
	font-style: normal;
	text-align: center;
	
}

h4{
	color: white;
	
}


.fa-google{
	position: absolute;
	bottom: 380px;
	right: 25px;
	height: 80px;
	color: #203359;
	
}
.btn-close{
	background-color: wheat;
	float: left;
	position: relative;
}
.logo-cdmp{
	bottom: 50px;
	position: relative;
	height: 25px;
	display: block;
    margin-left: auto;
    margin-right: auto;
	
}
.form-v7-content .form-detail .form-row label#valid {
    position: absolute;
    right: 20px;
    top: 35%;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    background: #53c83c;
}
.form-v7-content .form-detail .form-row label#valid::after {
	content: "";
    position: absolute;
    left: 5px;
    top: 1px;
    width: 3px;
    height: 8px;
    border: 1px solid #fff;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
}
.form-v7-content .form-detail .form-row label.error {
	padding-left: 0;
	margin-left: 0;
    display: block;
    position: absolute;
    bottom: 5px;
    width: 100%;
    background: none;
    color: red;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
}
.form-v7-content .form-detail .form-row label.error::after {
    content: "\f343";
    font-family: "LineAwesome";
    position: absolute;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    right: 10px;
    top: -25px;
    color: red;
    font-size: 18px;
    font-weight: 900;
}
.form-v7-content .form-detail .input-text {
	margin-bottom: 28px;
}
.form-v7-content .form-detail input {
	width: 100%;
    padding: 5px 15px 10px 15px;
    border: 2px solid transparent;
    border-bottom: 2px solid #e5e5e5;
    appearance: unset;
    -moz-appearance: unset;
    -webkit-appearance: unset;
    -o-appearance: unset;
    -ms-appearance: unset;
    outline: none;
    -moz-outline: none;
    -webkit-outline: none;
    -o-outline: none;
    -ms-outline: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: #333;
    box-sizing: border-box;
    -o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
.form-v7-content .form-detail .form-row input:focus {
	border-bottom: 2px solid #2bb33e;
}
.form-v7-content .form-detail .register {
	background:  #981639;
	border-radius: 4px;
	-o-border-radius: 4px;
	-ms-border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	width: 170px;
	border: none;
	margin: 0px 0 0px 0px;
	cursor: pointer;
	font-family: 'Open Sans', sans-serif;
	color: #fff;
	font-weight: 700;
	float: left;
}
.form-v7-content .form-detail .sigout {
	background:   #99CC33;
	border-radius: 4px;
	-o-border-radius: 4px;
	-ms-border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	width: 180px;
	border: none;
	margin: 0px 0 0px 0px;
	cursor: pointer;
	font-family: 'Open Sans', sans-serif;
	color: #fff;
	font-weight: 700;
	float: left;

}




.form-row-last{
	position: relative;
	left: 105px;
	
}



.input-text{
	border-radius: 7px;
}
.form-v7-content .form-detail .register:hover {
	background: #51526f;
}

.form-v7-content .form-detail .sigout:hover {
	background: #51526f;
}
.form-v7-content .form-detail .form-row-last {
    margin-top: 35px;
}
.form-v7-content .form-detail .form-row-last input {
	padding: 15px;
}
.form-v7-content .form-detail .form-row-last p {
	font-weight: 600;
	font-size: 14px;
	color: #666;
	margin-left: 200px;
}


.form-img{

	border-radius: 10px 10px 10px 10px;

	height: 500px;
	width: 200px;
}
.form-v7-content .form-detail .form-row-last a {
	font-size: 16px;
	color: #e33737;
	padding-left: 15px;
}

/* Responsive */
@media screen and (max-width: 991px) {
	.form-v7-content {
		margin: 180px 20px;
		flex-direction:  column;
		-o-flex-direction:  column;
		-ms-flex-direction:  column;
		-moz-flex-direction:  column;
		-webkit-flex-direction:  column;
	}
	.form-v7-content .form-left {
		width: 100%;
		margin-bottom: -5px;
	}

	
	.form-v7-content .form-detail {
		padding: 50px;
	    width: auto;
	}
	.form-v7-content .form-detail .register {
		margin-bottom: 10px;
	}
}
@media screen and (max-width: 767px) {
	
}

@media screen and (max-width: 575px) {
	.form-v7-content .form-detail {
		padding: 30px 20px;
	    width: auto;
	}
	.form-v7-content .form-detail .register {
		float: none;
		margin-bottom: 10px;
	}
	.form-v7-content .form-detail .form-row-last p {
	    margin-left: 0px;
	    margin-bottom: 50px;
	}
}

.text{
	color: #fff;
}
