<p-breadcrumb [model]="items1" [home]="home"></p-breadcrumb>
<p-toast></p-toast>
<br>
<br>
<div class="grid">
    <div class="col-12">
        <p-card>
            <div class="d-flex justify-content-center col-12">
                <div class="col-12 md:col-10 tabTitle">
                    <h3 class="titleTab">Demandes d'adhésion</h3>
                </div>
            </div>
            <p-table #dt [value]="demandes" [columns]="cols" responsiveLayout="scroll" [rows]="10" [rows]="10"
                [paginator]="true" [rowsPerPageOptions]="[5,10,20,30]" [showCurrentPageReport]="true"
                currentPageReportTemplate=" {totalRecords} demandes au total" [rowHover]="true" dataKey="id" sortMode="multiple">
                <ng-template pTemplate="header">
                    <tr>
                        <th>
                            <p-columnFilter type="text" field="ninea" placeholder="NINEA"></p-columnFilter>
                        </th>
                        <th>
                            <p-columnFilter type="text" field="rccm" placeholder="RCCM"></p-columnFilter>
                        </th>
                        <th>
                            <p-columnFilter type="text" field="date_soumission" placeholder="Date demande"></p-columnFilter>
                        </th>
                        <th>
                            <button pButton pRipple icon="pi pi-search" class="p-button-rounded mr-2 simpleBoldButton" label="Rechercher" (click)="dt.filter(ninea,rccm,datesoumission)"></button>
                        </th>
                    </tr>
                    
                    <tr>
                        <th pSortableColumn="ninea" style="color: #203359;">NINEA <p-sortIcon field="ninea">
                            </p-sortIcon>
                        </th>
                        <th pSortableColumn="rccm" style="color: #203359;">RCCM <p-sortIcon
                                field="rccm"></p-sortIcon>
                        </th>
                        <th pSortableColumn="date_soumission" style="color: #203359;">Date demande<p-sortIcon field="date_soumission">
                            </p-sortIcon>
                        </th>
                        <th style="color: #203359;">Actions</th>
                    </tr>
                    
                </ng-template>
                <ng-template pTemplate="body" let-demande>
                    <tr>
                        <td style="width:30%; min-width:10rem;">
                            <span class="p-column-title">NINEA</span>
                            {{demande.ninea}}
                        </td>
                        <td style="width:30%; min-width:8rem;">
                            <span class="p-column-title">RCCM</span>
                            {{demande.rccm}}
                        </td>
                        <td style="width:30%;">
                            <span class="p-column-title">Date Soumission</span>
                            {{demande.date_soumission.toString().split("T")[0]}}
                        </td>
                        <td>
                            <div class="flex">
                                <i class="pi pi-eye" (click)="visualiserDemande(demande)"></i>
                                <i class="pi pi-search ml-3" (click)="verifierDemande(demande)"></i>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </p-card>
    </div>
</div>
<p-dialog header="" [(visible)]="demandeDialog" [modal]="true" [style]="{width: '30vw'}" [baseZIndex]="10000"
    [draggable]="false" [resizable]="false">
    <ng-template pTemplate="header" class="row justify-content-center" style="border: none;">
        <div class="col-8 mx-auto px-auto" style="background-color:white ;" >
            <div id="steps" >
                <p-toast></p-toast>
                <p-steps [model]="items" [readonly]="false" styleClass="steps-custom"></p-steps>
            </div>
        </div>
    </ng-template>
        <ng-template pTemplate="content" style="border: none;">
            <div>
                <div class=" justify-content-center p-fluid ">
                    <div class="p-formgrid grid">
                        <div class="field col-6 d-flex">
                            <div class="col-4  d-flex justify-content-center mt-3">
                                <h6 style="font-weight: bold;color: #203359;">NINEA</h6>
                            </div>
                            <div class="col-6  d-flex justify-content-center">
                                <input class=" label" pInputText id="name3" type="text" disabled value='{{demande.ninea}}'/>
                            </div>
                        </div>
                        <div class="field col-6 d-flex">
                            <div class="col-4  d-flex justify-content-center mt-3">
                                <h6 style="font-weight: bold;color: #203359">RCCM</h6>
                            </div>
                            <div class="col-6 d-flex justify-content-center">
                                <input class=" label" pInputText id="name3" type="text" disabled value='{{demande.rccm}}'/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <router-outlet></router-outlet>
        </ng-template>
    </p-dialog>